[2018-08-17 21:05] Enalmada opened #1 "extra attributes"
I came across this component that seems to attempt similar concept:
https://github.com/cereallarceny/cra-ssr/blob/master/src/app/components/page/index.js

Just posting it here for your consideration about some things that next-seo may not support but could be common needs.

[2018-08-21 19:01] garmeeh commented on #1
Hi @Enalmada thanks for the link 😄 Currently working on documenting V1.0 release at the moment but will definitely take look through afterwards and see could I add some features I am missing.

If there are features you would like please let me know and I can see what I can do.

[2018-08-21 19:02] #1 closed

[2018-08-25 12:26] timneutkens opened #4 "code-splitting"
With the latest Next.js canary with webpack 4, it should be possible to publish `.mjs` files where `import` and `export` are not transpiled. This will allow webpack to code-split next-seo.

[2018-08-27 15:19] erickeno opened #5 "Include title Template"
# Feature Request
Include title template which can be appended before or after every title if defined.
example config
[code]

and the output will be
[code]

`%s` will be replaced by the title, so depending on the position, that's where the title will be appended.

[2018-08-27 19:04] #5 closed

[2018-09-09 19:11] jamesemwallis opened #11 "Full Twitter options"
Does next-seo have the ability to set the twitter description and image inside the Twitter object? I can't see anything documented in the readme.

Thanks

[2018-09-09 19:31] garmeeh commented on #11
Hey @jamesemwallis, Twitter will read from the Open Grpah tags. So if you set the description and images for open graph, Twitter will use them.

[2018-09-09 20:27] jamesemwallis commented on #11
@garmeeh Thank you.

[2018-09-09 20:27] #11 closed

[2018-09-20 15:56] NathanielHill opened #12 "Work as a plugin"
As it stands, it's a standalone component that you have to inject and manage the config object for. Would be nice if it worked as a plugin that injected itself and config could simply be dropped into `next.config.js`.

This would also allow people using `next-compose-plugins` for example to more easily change the configuration dynamically.

[2018-09-22 16:51] garmeeh commented on #12
Hey @NathanielHill, I spent a little time looking into using `next.config.js` and wondering would it be a good fit for `next-seo` 🤔

As it stands you can use `next-seo` without injecting any config object. I use the `next-seo.config.js` file as a handy place to keep the initial default SEO.

If you have an example of how you see it working with `next.config.js` I can take another look.

[2018-09-26 12:40] garmeeh commented on #12
Going to close this issue, based on some feedback from Tim on this, it would be best not to set the config in `next.config.js`.

[2018-09-26 12:40] #12 closed

[2018-09-26 20:49] brianjolly opened #13 "Import both _defaultSEO2 and _blog2"
Hi There,

We are using the [standard js style](https://standardjs.com/) and I can't seem to make it happy when importing both the default `_defaultSEO2` and `_blog2` in the same page without linter errors.

For example:
`import { default as NextSeo, BlogJsonLd } from 'next-seo'`
gives this lint error:
`Use default import syntax to import 'NextSeo'.`

Also trying:
[code]
or
[code]
both give
`'next

[2018-09-27 18:41] garmeeh commented on #13
Hey @brianjolly, could you try:

[code]

[2018-09-27 20:28] brianjolly commented on #13
Hi @garmeeh , that works perfect. Thank You!!!

[2018-09-27 20:28] #13 closed

[2018-11-10 02:27] nephlin7 opened #14 "Missing twitter tags"
Please add missing twitter tags to improve SEO score.

Thanks for next-seo is amazing and simple to use.

<img width="1079" alt="captura de pantalla 2018-11-09 a la s 8 24 14 p m" src="https://user-images.githubusercontent.com/22168189/48296551-a79d5e80-e45d-11e8-92b2-593353135f09.png">

[2018-11-14 08:46] garmeeh commented on #14
Hey @nephlin7, Twitter will read the `og:image`, `og:title` and `og:description` tags for their card so there is no need to duplicate the tags.

Out of curiosity, is this Twitter's tool that is warning they are missing?

[2018-11-16 18:23] Enalmada opened #15 "opengraph attributes inherit from main attributes"
I feel like opengraph title/description/url attributes should default to the regular title/description/canonical if not set.  Having to pass the same things in twice seems redundant for the avg use case....I suspect most people generally want title/description/url/canonical to be the same in both places.   It would be more convenient if og attributes were more like overrides.

[2018-11-16 20:40] Enalmada commented on #15
I can't think of why someone wouldn't want them in this day and age either but I think that is a reasonable requirement if documented in readme.  Most people using opengraph tags will likely have something like this in their config/base:
[code]

[2018-11-28 16:12] TLevesque opened #16 "Passing custom meta tags"
Great package! I'm testing it as a Nextjs plugin and it works really good!

Just wondering if it is possible to pass into the next-seo.config.js file some "custom" meta tag like author, keywords, ... (some of https://gist.github.com/lancejpollard/1978404) to handle all the head tags in one place?
Like ```export default {
  title: "My website",
  description: "Describing my website",
  canonical: "

[2018-11-28 17:11] garmeeh commented on #16
Good question. I suppose my initial idea is to support the most common SEO tags and try to use the best practice tags. This way it covers most use cases and keeps the library reasonably small.

I would recommend using `next/head` alongside `next-seo` to handle other meta tags along with rarer SEO related ones.

I am of course open to adding new tags if there is a strong use case for them.

For exa

[2018-11-30 12:45] TLevesque commented on #16
Thanks Gary for this feedback! Yep, this refactor could be great to pass down some extra tags.

[2018-12-01 01:01] #16 closed

[2018-12-03 19:05] garmeeh commented on #14
I have updated the README to be more clear on this -> #17

[2018-12-03 19:07] garmeeh commented on #15
Cool, I will look to add this V2. Hoping to get time over the next few weeks to start working on some improvements.

So I will add:

[code]

And also apply the title template to `og:title`.

[2018-12-07 23:43] epg323 opened #18 "Issue with productjsonld"
Not sure if something is wrong with the example or the way I am configuring it. When I put in

`<ProductJsonLd
        productName="Executive Anvil"
        images={[
          'https://example.com/photos/1x1/photo.jpg',
          'https://example.com/photos/4x3/photo.jpg',
          'https://example.com/photos/16x9/photo.jpg',
        ]}
        description="Sleeker than ACME's Classic Anvil, the

[2018-12-08 00:40] #18 closed

[2018-12-08 01:35] epg323 opened #19 "ProductJsonLd is not working"
ProductJsonLd is not working I get this error: 'Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports. Check the render method of `ProductDetails`.'

I tried ArticleJsonLd and it does work.

[2018-12-11 22:03] nephlin7 commented on #14
thank u for write back. tools name is seotesteronline.com

[2018-12-18 18:04] PedroAllan opened #20 "implementation of JSON-LD social profiles"
As the same you did with article, blog, course and product, the social profile (as the follow link), will be a good implementation

https://developers.google.com/search/docs/data-types/social-profile

[2018-12-18 20:31] #20 closed

[2018-12-18 20:34] garmeeh commented on #19
Hey @epg323, sorry I missed the notification for this issue.

Are you still having this issue and I will look into it?

I can't re-create on my side so if you had an example that would help.

[2018-12-21 18:55] timReynolds opened #23 "Additional Properties for SocialProfile"
Although not well documented the markup for social profile is normally used with other related properties like description, telephone, address and logo (org only) show in the valid JsonLd below;

[code]

I'm happy to add support for these additional properties to social profile or I could as new structured data types as Logo and Local Business which is how the[ google documentation](https://develo

[2018-12-21 20:04] garmeeh commented on #23
Hey @timReynolds, yeah the above is how I would have always done it myself. When looking into the social profile I thought it might be a safer bet to go with how Google is now recommending it.

I think adding Logo and Local Business as new data types would be the best way forward.

If adding these they would need to be covered by end to end tests in `jsonld.spec.js`.

For Local Business, I would b

[2018-12-21 20:32] timReynolds commented on #23
Sounds good, I’ll look into this over the next few days

[2018-12-24 08:40] #23 closed

[2018-12-28 17:36] JeromeFitz commented on #4
Would a direct file copy from `./src/**/.(js|jsx)` (no `test` files) to `./dist/**.mjs` in conjunction with existing `babel`  (maybe forcing `.jsx` to `.js` as well) and then altering the `package.json` suffice?:

This would allow `node` to make its `index` choice (default to `.mjs` if available) while keeping browsers to `.js`, I believe.

[code]

🐖️ If so, I'll have a branch to piggyback on #31

[2019-01-05 21:15] epg323 commented on #19
Sorry about that I was out for vacation. The update fixed it no issues anymore. Thanks!

[2019-01-09 08:20] garmeeh commented on #19
No problem. The white space shouldn't affect much, the `json` will still be valid.

[2019-01-18 16:42] N44PS opened #36 "Misunderstands defaultConfig"
Hi,

First, thank you for this nice lib :)
I've been having trouble understanding the default config setup.
I used several default settings and of course the noindex properties.

I don't want to be indexed so I put : ```noindex: true```

On pages I only overrides title AND/OR description

[code]

But in the end the noindex seems to be used as false and therefore the website is indexed.
Any idea ?

[2019-01-18 19:49] garmeeh commented on #36
Hey @N44PS, sure I can try help. To help could you:

- Post an example of your config that you are using?
- Confirm that you setting the default in a custom `_app.js`

You should be seeing the following tags, which I take your not 😞

![image](https://user-images.githubusercontent.com/13333582/51409572-20a1ec00-1b5a-11e9-93bd-5b01dc93f1d4.png)

[2019-01-23 10:39] N44PS commented on #36
Hey @garmeeh thank you for your answer and sorry to reply back that late ! :)

[code]

[code]

For example in `pages/index.tsx` :

[code]

![capture d ecran 2019-01-23 a 11 34 47](https://user-images.githubusercontent.com/1702207/51600842-340ad980-1f03-11e9-8d4e-4978de323144.png)

Even if I force the `noindex` to `true` instead of the variable `!publicRuntimeConfig.IS_RELEASE` I still get the `con

[2019-01-23 13:18] n44ps commented on #36
I did put `console.log(nextSeoConfig)` and I picked it up fully.

Even if I do `<NextSeo config={{noindex: true}} />` I still get the meta as indexed.

Here is a [Code Sandbox](https://codesandbox.io/s/3194op0r6m)

Thanks @garmeeh

[2019-01-23 20:33] garmeeh commented on #36
Thought I had a fix but it would actually make the problem worse.

I think for `noindex` I am going to need an extra property, something like `defaultToNoIndex` which would mean all pages would 100% be `noindex, nofollow`

I will need to think carefully about this as it could result in a breaking change. Will hope to have something within in a few days.

[2019-01-24 08:20] n44ps commented on #36
No problem, If you need any help ! :)
For everyone who wants a quick fix, I just overrides config using :

[code]

Thank's @garmeeh

[2019-01-26 09:53] garmeeh commented on #36
Hey @n44ps so to fix this I had to add a new way of setting the default to be `noindex`. This is because Next SEO already has a default of `index` so it can't override the same way as all other properties.

Please see [here for new docs](https://github.com/garmeeh/next-seo#dangerouslySetAllPagesToNoIndex), please let me know if it helps or if you spot anything wrong.

[2019-02-14 20:01] #19 closed

[2019-02-17 22:09] erickeno opened #42 "Adding table of contents"
The documentation is growing bigger by the day, do you think having a table of contents at the top of the documentation going to make it easy to navigate? If so I can submit a PR.

[2019-02-18 07:56] Ktchan825 opened #43 "fb:app_id - Tag specified as 'name' instead of 'property'"
According to [Facebook debug tool](https://developers.facebook.com/tools/debug/)

we should use
`<meta property="fb:app_id" content="xxx" class="next-head">`
instead of
`<meta name="fb:app_id" content="xxx" class="next-head">`

[2019-02-18 08:28] garmeeh commented on #42
Hey @erickeno that sounds like a great idea. Also, let me know if you think there are any areas of the docs that could do with improving.

[2019-02-18 18:55] #43 closed

[2019-02-19 14:15] decebal opened #47 "incorrect peer dependency"
After upgrading to [V8](https://nextjs.org/blog/next-8/) I have this one pestering me about.

One suggestion might be to have a [renovate](https://renovatebot.com/) integration, I have no allegiance but I happen to  know it would solve this particular problem based on the PR seen on [next-nprogress](https://github.com/sergiodxa/next-nprogres)

[2019-02-19 14:54] garmeeh commented on #47
Hey @decebal which warning are you getting?

next@8.0.0 was added to the peer dependencies in `v1.10.1`

[2019-02-20 22:09] decebal commented on #47
oh, yes, now it looks solved, maybe still consider renovate for auto resolution ?

[2019-02-20 22:09] #47 closed

[2019-02-21 20:08] nagman commented on #15
Waiting forward!

[2019-02-23 09:42] pontusab opened #49 "Module not found: Can't resolve 'react"
Hi!

I got this error `Module not found: Can't resolve 'react` when trying to use the library as follows:

[code]

Do I miss something :)?

[2019-02-23 09:44] pontusab commented on #49
Resolved it 👍 was using yarn workspaces and needed to re-install dependencies.

[2019-02-23 09:44] #49 closed

[2019-02-25 13:04] hyphmongo opened #50 "Add extra json-ld fields outside of google's structured data spec"
From schema.org there are a lot more properties supported in the json-ld spec, however most are ignored by Google when constructing structured search snippets.

I guess the intention of the library is specifically for SEO but it would be nice to add custom fields into the json-ld components for other use cases. In particular I have a case where I need to add json-ld for analytics with parse.ly htt

[2019-03-01 12:14] ramesh-umaithurai opened #51 "I am unable to use next-seo with typescript"
Unable to use next-seo with typescript. Please help me

[2019-03-01 21:11] garmeeh commented on #50
Hey @hyphmongo, is it just the required fields that are listed on that page that are missing?

And then the types that Parse.ly support?

[2019-03-01 21:16] garmeeh commented on #51
Hey @ramesh-umaithurai what issue are you having?

[2019-03-01 23:08] erickeno commented on #51
@ramesh-umaithurai more details please? I just used it with a Typescript project and it seems to work okay. For types you can add `@types/next-seo` but my recommendation is to setup your own since the types are not always up to date.

Create a file with a `xxx.d.ts` for example `nextseo.d.ts` and declare the types there. For example

[code]

[2019-03-01 23:10] erickeno commented on #51
@garmeeh do you think we should include typescript types as part of the module, I wouldn't mind including it to ensure it's always up-to date?

[2019-03-03 14:22] hyphmongo commented on #50
Hi, sorry was't very clear before! Mainly I need support for the required fields from Parse.ly

But thinking about it some more, they aren't used for SEO purposes, so sort of feels like outside the scope of the module?

[2019-03-04 04:38] ramesh-umaithurai commented on #51
hello I added @types/next-seo and I have added <NextSeo> tag with _app.tsx as below.

import App, { Container } from "next/app";
import React from "react";
 import NextSeo from "next-seo";

// import your default seo configuration
import SEO from '../next-seo.config';

export default class MyApp extends App {
  render() {
    const { Component, pageProps } = this.props;

    return (
      <Contai

[2019-03-04 18:57] erickeno commented on #51
can you share your `next-seo.config.js` file as well

[2019-03-05 12:45] ramesh-umaithurai commented on #51
Please find the next-seo.config below

export default {
  title: "Sample",
  description:"Sample",
  canonical: "https://example.com/",
  noindex: true,
  openGraph: {
    url: "https://example.com",
    title: "Sample",
    description: "Sample",
    images: [
      {
        url: "/static/test.jpg",
        width: 1200,
        height: 630,
        alt: "test."
      }
    ],
    site_name: "Doc

[2019-03-05 21:23] garmeeh commented on #42
Closed by #48

[2019-03-05 21:23] #42 closed

[2019-03-07 08:04] garmeeh commented on #51
Hey @ramesh-umaithurai sorry about the delay in getting back to you on this one.

I am thinking that your issue is unrelated to Typescript and more than likely just a missing a part. I have created a Codesandbox with your config supplied and it renders the tags as expected. Could you take a look at it and see if you can spot anything that night help you out?

Can you make sure you are not missing

[2019-03-08 21:58] garmeeh commented on #51
Just an update on the above comment. I had been putting off moving to Typescript for a while now but have started work on it now on a local branch. Will work on this over the next few weeks.

The above issue, however, is unrelated to TS I believe.

[2019-03-08 22:02] erickeno commented on #51
Sweet. Would love to do contribute as well. Do you want to create issues so that I know which part you have worked on or currently working on to prevent double work.
Or whichever way is convenient for you.

[2019-03-08 22:06] garmeeh opened #52 "Move to Typescript"
Currently in the process of moving to Typescript.

[2019-03-08 22:09] garmeeh commented on #52
Hey @erickeno, didn't want to highjack that other issue. Some help would be great. What I will do is get what I have into a bit better shape and once I have that up will give you ping here.

[2019-03-08 22:16] erickeno commented on #52
okay sounds good

[2019-03-14 09:57] #50 closed

[2019-03-26 18:59] erickeno opened #56 "issue with localBusiness JSON-LD"
https://github.com/garmeeh/next-seo/blob/1c9ed66d900a356d1c72444875cc32ec4dff49a9/src/jsonld/localBusiness.jsx#L8

While in the process of converting `localBusiness` to typescript, I realized that this check is not efficient because both string and array have a length property. If someone passes a string it will throw an error, even though string value is considered a valid value as well.

Maybe c

[2019-03-26 20:08] garmeeh commented on #56
Good spot. Yeah I think lets check if it's an Array as above.

[2019-03-27 19:24] jermsam opened #58 "trouble implementing seo correctly in next.js app using next-seo"
hi guys...
I am using next-seo to implement seo in my next.js app. This app uses feather.js in the backend api ...

I have implemented a default seo config in _app.js file as per the instruction ... I need to override this in the users' dashboard with user info ... but this info comes from the feathers.js backend api .... so it's fetched asynchronously ...
I fetched the info in ComponentDidMount .

[2019-03-30 15:28] econdie commented on #58
hi, in your _app.js you have:

`import SEO from './next-seo.config';`

that would imply you have next-seo.config saved within your pages folder (which is where _app.js lives) which im guessing would not work. do you actually have it saved in your pages folder there or do you just have a syntax error? it should be like this if the config exists in your root presumably (notice the extra leading peri

[2019-03-30 16:16] econdie commented on #58
also I may be wrong on this, but i dont think your structuring of using state with componentDidMount to provide SEO attribute values is good practice. in Next.js you should be using getInitialProps to perform API/data feteches and return them as props, as this will ensure SEO data is fetched and available before the page is rendered. (this is definitely true for any data you consider 'required' to

[2019-03-31 00:51] jermsam commented on #58
@econdie Thanks so much for the advice and insights, I think they are great and will help. I am going to consider doing my API/data fetches in `getInitialProps` just as you recommend and see how that works. Will give feedback here.

As for the location of my `next-seo.config.js` file, yes it's in the `/pages`
directory ... not in the route as advised in the doc.

[2019-03-31 00:59] econdie commented on #58
I dont think you should have that config in your pages directory, that folder is specifically reserved by Next.js for actual pages (and _document, _app, and _error iirc). I'd suggest moving it somewhere else!

[2019-03-31 01:34] jermsam commented on #58
Alright Thanks so much for this clarification. Let me start with putting it in the root where it belongs.

[2019-03-31 02:26] jermsam commented on #58
@econdie actually this was helpful. The only thing still baffling me is how to deal with realtime events I had in my componentDidMount ... Can you advise how you would go about that please?

[2019-03-31 05:58] jermsam commented on #58
I am going to close this issue since it's solved.

[2019-03-31 05:58] #58 closed

[2019-04-01 07:44] grazianodev opened #61 "Defaults not being overridden on initial page rendering"
Hi,

I'm using your library in my project and it seems that the default values I have set up only get overridden when I navigate from one page to another; when a certain page is the first page I visit, it uses the default values and ignores its own config object.

Here's my page (this is the actual page code—I've stripped it down to just Next Seo for testing purposes):

[code]

If it's the first p

[2019-04-01 07:51] garmeeh commented on #61
From looking at the code provided it should be working. Could you recreate a minimal reproduction of it on CodeSandbox. This [link](https://codesandbox.io/s/github/zeit/next.js/tree/canary/examples/with-next-seo) will bootstrap a basic project with `next-seo`.

[2019-04-01 16:35] grazianodev commented on #61
I've found the problem, all I had to do was declare the NextSeo config before including the Component.

I had:

[code]

Reordering to:

[code]

fixes the issue. Does where you position NextSeo matter? I guess it makes sense if it does since it deals with the <head> tag, but I didn't really think about it...

[2019-04-03 07:49] romainquellec opened #63 "next-seo & serverless"
I'm using next seo with target: serverless
On dev, I can see this working correctly, but on serverless, I've got nothing related to seo (title, description, ect).

I have no demo repo, but you can check : https://github.com/CuistotduCoin/front

Thanks.

[2019-04-04 12:42] rppld opened #65 "Variable scoping causing issues between renders"
For example, in our case page A has a `titleTemplate` defined and page B doesn’t. If page B would be rendered _after_ page A, the page title would still follow the template because it was served from memory. The root cause is the `defaults` object inside `buildTags.jsx` defined in global scope.

I created a PR to address this issue https://github.com/garmeeh/next-seo/pull/64

The wrong behaviour i

[2019-04-04 12:53] garmeeh commented on #61
I wouldn't have thought it should matter. It uses `next/head` internally. I will do some tests around it to see.

[2019-04-04 12:53] #61 closed

[2019-04-04 12:53] garmeeh commented on #51
Closing due to inactivity. Please let me know if you are still having issues.

[2019-04-04 12:53] #51 closed

[2019-04-04 12:54] garmeeh commented on #63
I haven't tested with serverless target just yet. I will try out this week and get back to you.

[2019-04-04 12:56] romainquellec commented on #63
Apparently, its not related to serverless : https://codesandbox.io/s/l9ojn43379
(This is basically what I do in my project)

I have no idea why its not working in prod.

[2019-04-04 13:02] garmeeh commented on #65
Hey @rppld, thanks for the PR. This is a tough one. This is expected behaviour as these are global defaults. I suppose in my head they were only ever going to be set in the `_app.js` and not on a per page basis.

For example in your case for Page A, you don't need a `titleTemplate` as you can set the title string and include what ever your `titleTemplate` was going to be. Then in Page B you can no

[2019-04-04 13:02] #56 closed

[2019-04-04 13:17] rppld commented on #65
Yeah, thought so when I broke SEO overrides in the Cypress tests. Think my mental model about this was off. We’re using page templates, for each of them we’ve also defined title templates. Closing this in anticipation of v2 ☺️

[2019-04-04 13:17] #65 closed

[2019-04-06 16:57] romainquellec commented on #63
It seems fix in the last version.

[2019-04-06 16:57] #63 closed

[2019-04-07 02:47] webdevsyd opened #66 "Can't implement NextSeo due to other library"
I'm encountering this issue on my nextjs app `Unhandled Rejection (Invariant Violation): React.Children.only expected to receive a single React element child.` , looks like `<IntlProvider>` only accepts a single child component. If that's the case where can I put the `<NextSeo />` component.

<img width="899" alt="Screen Shot 2019-04-07 at 10 42 57 AM" src="https://user-images.githubusercontent.co

[2019-04-08 07:46] garmeeh commented on #66
Does `<NextSeo config={SEO} />` need to be within `<IntlProvider>`? If you move up one to be just within `<Provider>` it should still work as expected.

[2019-04-26 09:58] kodermax opened #68 "Dynamic og:url"
It would be convenient to have a function that defines og:url as the current page

[2019-05-02 01:15] charles4221 commented on #68
@kodermax could you not just use `window.location.href`? Or if you can't use window due to SSR you could wrap your SEO component in the `withRouter()` HOC and use the current `router.asPath` or similar?

[2019-05-02 20:52] slowsynapse opened #69 "OG:Video"
Hello,

I am currently using your package and love it, however I noticed the og:video tag is left empty. Is it possible to allow duplicate image url (og:image) to og:video , as I have read that having it identical is fine. I can't figure out how to get a variable copied to og:video at the moment. (server rendering React).

Best regards,

[2019-05-10 02:56] shadez95 commented on #14
I think adding twitter tags might be a good idea because there might be a website or service that only looks for twitter tags and don't support open graph.

[2019-05-15 20:34] garmeeh commented on #69
Sorry about the delay in getting back to you. I am currently working on V2 and will add support for the video tag.

[2019-05-15 20:36] garmeeh commented on #66
Please let me know if you are still having issues.

[2019-05-15 20:36] #66 closed

[2019-05-15 20:37] garmeeh commented on #68
I think this can be achieved via application code and probably would be unneeded within `next-seo` itself. Maybe I am miss-understanding the question. Closing for now.

[2019-05-15 20:37] #68 closed

[2019-05-22 03:46] raymondsze commented on #14
I got the same issue. Could we generate the twitter tag as well for title and description?
It is hard to test it as online tools report errors.

[2019-05-28 14:46] kodermax opened #71 "Add metatag author"
Could you please add metatag author
https://www.metatags.org/meta_name_author

[2019-05-30 06:42] econdie opened #73 "Do we need open graph prefix in header?"
Do you have any insight on if prefix="og: http://ogp.me/ns#" is required in the <head> markup to specify a page using open graph? It shows this on http://ogp.me/ (it includes it in the <html> tag but from some research  it has the same effect as <head> assuming all of the meta data is within the head).

I struggle to find a clear answer, I am basically referring to this question: https://stackover

[2019-06-05 16:49] Ktchan825 opened #75 "[Question] TreeShaking the modules, exclude Jsonld package."
I am analysing the bundle size of my project. I realised the jsonld is around 17.3 KB parsed while i am using it at all.

Is it possible to import only the NextSeo component?

I tried `import NextSeo from "next-seo/meta/defaultSEO.jsx";` and `import NextSeo from "next-seo/meta/defaultSEO";`, but it doesn't work.

[2019-06-07 19:00] garmeeh commented on #75
Hey @Ktchan825, I'm getting close to publishing V2 of this library. Once published I will investigate tree shaking on it.

[2019-06-11 01:37] geochanto opened #77 "How to do noindex/follow? index/nofollow?"
It seems there is no config for "follow", and just setting `noindex` to `true` sets the meta robots to 'noindex, nofollow'. On certain pages I want to set 'noindex,follow'. How can I achieve this?

Conversely, what about 'index,nofollow'.

These are rare in use, but I think still important to have the ability to do so.

[2019-06-13 20:35] ezramorse opened #78 "Meta Conflict using withAmp in Next 8.1"
This happens during validation when using the new withAmp HOC in conjunction with NextSeo

Expected Behavior: No warning message during AMP validation

[2019-06-16 03:28] ducdev opened #80 "Sitemap still matters"
Hi, please consider supporting sitemap.xml and robots.txt in your lovely package. It's neccessary for SEO.

[2019-06-16 18:51] garmeeh commented on #80
Hi @ducdev, thanks for the suggestion.

I agree, a `sitemap.xml` is very important for SEO. I'm not sure it would fit in with this library though. I have thought of creating a separate package for generating one however, but haven't had time 😢

As for the `robots.txt`, it is generally very specific to the site so wouldn't be aided by a library I don't think.

[2019-06-16 18:51] #80 closed

[2019-06-16 18:52] garmeeh commented on #77
Hey @geochanto, very good point. I had overlooked this 😅. I will investigate adding this in V2.

[2019-06-17 08:08] qina83 opened #81 "Using nextSeo to manage opengraph I receive a warning from Facebook in Debugger"
Using this configuration

[code]

I receive these warning

Extraneous Property | Objects of this type do not allow properties named 'og:title'.
Extraneous Property | Objects of this type do not allow properties named 'og:description'.
Extraneous Property | Objects of this type do not allow properties named 'og:image'.
Extraneous Property | Objects of this type do not allow properties named 'og:ima

[2019-06-18 00:45] geochanto commented on #77
@garmeeh sounds good. Is there a timeline on that? any quick hack or workaround in the meanwhile? :)

[2019-06-18 06:59] garmeeh commented on #81
Could you post the meta tags that are in the head of your page?

[2019-06-18 07:00] garmeeh commented on #78
If you inspect the output in the dom is there 2 tags with `name="viewport"?

[2019-06-18 07:03] garmeeh commented on #77
Hoping to publish it before next Monday if all goes well 🤞 Just testing at the moment.

In the meantime can you try this:

[code]

[2019-06-19 18:42] danburzo commented on #14
I can confirm that Twitter is not picking up on `og:image`.
Website here: https://danburzo.github.io/webcolors-cmyk/
Tweet here: https://twitter.com/danburzo/status/1141399032893444096

[2019-06-19 19:02] simpleshadow opened #82 "Twitter not picking up OG tags"
Super grateful for the package @garmeeh!

I see you mention in a few issues (#14) that Twitter uses the OG tags but it's not.

Would be good if `next-seo` allowed setting of any OG tag provided so we can provide tags as necessary.

[2019-06-19 19:30] garmeeh commented on #14
Hey @danburzo, for `og:image` to work correctly it I think it needs full URL. So if you update the `og:image` to be `https://danburzo.github.io/webcolors-cmyk/_next/static/images/webcolors-cmyk-7b43c2261f57a631ef7378568830e972.png` it should work correctly.

Please let me know if that doesn't do the trick.

[2019-06-19 19:32] garmeeh commented on #82
Hey @simpleshadow, thanks 😄

V2 will have the option to add additional tags. Because of breaking changes in V2 I am thinking about adding the "missing" twitter tags in V1.

[2019-06-19 19:33] garmeeh commented on #82
Can you share your site or example of the meta tags rendered for the issue you are having?

[2019-06-19 20:24] danburzo commented on #14
Ooh, I was not aware of that! Thanks for the pointer :) Seems to be working now.

[2019-06-19 20:39] simpleshadow commented on #82
As an example — https://coreygwin.com/newsletter.

I ended up using `next/head` to implement the additonal meta `twitter:*` tags to get the title, description, and image working on Twitter.

Look forward to V2!

[2019-06-19 20:45] garmeeh commented on #82
Thanks. Yeah from looking at that removing the `twitter:*` tags and adding the equivalent `og:*` ones should work. On my own personal site I only use `og:*` and it shares on Twitter as expected.

Not too sure why it wasn't working for you.

[2019-06-22 14:19] NikoMontana opened #84 "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined."
My project has **products** so I have a **subfolder** in `pages` for example:

 `/pages/produkte/myproduct.js`

I am using an HOC - `Produkte.js`. This is the root component of every product and I am passing values via props to render it.

- Trying to set `<NextSeo/>` to `myproduct.js` changes will not apply and the title is left default.

- Trying to set `<NextSeo/>` in `Produkte.js`and passing p

[2019-06-22 18:47] ctxquentin commented on #52
hey @garmeeh , i did not know when you planned to move the master to typescript, so i made the job posting json ld in plain javascript, but i can migrate it to typescript if you want :)

[2019-06-25 15:04] lenchik-ponchik commented on #84
If you import next-seo like this:
`import { NextSeo } from "next-seo";`
Try remove brackets around:
`import NextSeo from "next-seo";`

[2019-06-25 18:48] vreta commented on #84
Same problem. Tried to remove brackets around `NextSeo`, but then I get this error: `Error: [next-seo] You must supply an SEO configuration`.

[2019-06-25 19:33] garmeeh commented on #84
Could you try this:

[code]

[2019-06-27 23:42] bgberk commented on #14
I've still got this issue happening. The og:image is appearing in FB posts, but the twitter image is blank:
![2019-06-27-163609_1366x768_scrot](https://user-images.githubusercontent.com/16658893/60307688-8ad56e80-98fa-11e9-8afa-dbf0a8bb35e6.png)

[2019-07-04 16:58] NikoMontana commented on #84
@garmeeh No this is also not working..

[2019-07-04 18:13] geochanto opened #85 "How to deal with HTML entities in page titles?"
My page titles are coming from Wordpress and some contain HTML entities (like `&#8211;`).

How can I convert this inside NextSEO config? Normally I would use dangerouslySetInnerHtml, but I don't think that syntax would work inside the config.

[2019-07-09 23:21] geochanto commented on #85
Any word on this?

[2019-07-10 09:27] garmeeh commented on #84
Thanks @NikoMontana. I will look at improving the README on this one.

[2019-07-10 09:27] #84 closed

[2019-07-10 09:29] garmeeh commented on #85
Hey @geochanto, I would say what you could do is call a function for the title that returns the html. Haven't tried it but should work. It might look something like:

[code]

[code]

[2019-07-16 22:08] geochanto commented on #85
@garmeeh hmm that looks like it actually returns an object for some reason. I'm getting `[object object]`

[2019-07-17 23:25] alecrae opened #86 "Render a default canonical tag"
It would be convenient to have the canonical tag be rendered with the current page url by default if none is passed into the config. This would save having to manually specify it for every page, (which is essentially duplicating the `pages/` structure). I can create a PR if this would be an acceptable idea

[2019-07-22 11:29] adonig opened #87 "Some Head Elements from Document Get Rendered Twice"
pages/_app.js:

    class MyApp extends App {
        /* ... */

        render() {
            return (
                <Container>
                    <DefaultSeo config={seoConfig} />
                    /* ... */
                </Container>
            );
        }
    }

pages/_document.js:

    class MyDocument extends Document {
        render() {
            return (
                <html

[2019-07-26 08:58] equinusocio opened #88 "paths with query get escaped"
Hi, i use a generated image containing query parameters as og image, but the path in the final output include escaped `&` making the path invalid:

**path**:
[code]

**output**:

[code]

The original path is working, while the second one nope, causing a wrong parsing by crawlers.

[2019-07-26 11:59] equinusocio commented on #88
Found that is a React bug. Track https://github.com/facebook/react/issues/13838

[2019-08-02 12:42] adonig commented on #87
So what I did to solve it was emptying the `next/document/Head` from `pages/_document.js` and moving the content into a `next/head/Head` in `pages/_app.js` above the `DefaultSeo` element. That way the custom viewport and chartset meta tags prevented the creation of new ones in the Head rendered by the DefaultSeo element.

[2019-08-02 12:42] #87 closed

[2019-08-02 13:15] adonig commented on #86
I did the following to get a default canonical tag:

seo.config.js
[code]

pages/_app.js
[code]

[2019-08-08 09:11] namevalues commented on #88
[code]

![스크린샷 2019-08-08 오후 6 09 59](https://user-images.githubusercontent.com/28758696/62690519-c8540e00-ba07-11e9-953c-560d2bbfa6a9.png)

Is this what you want??
I dont know your code, but i think query string makes some bug..?

[2019-08-14 16:56] equinusocio commented on #88
@namevalues From the inspector you see the correct path. If you check the page source, you will see the original and encoded path. The code is exactly the same as your.

[2019-08-19 18:57] #82 closed

[2019-08-19 18:58] garmeeh commented on #81
Please re-open if the issue is on going.

[2019-08-19 18:58] #81 closed

[2019-08-19 18:58] #52 closed

[2019-08-19 18:59] garmeeh commented on #69
Now in V2.

[2019-08-19 18:59] #69 closed

[2019-08-19 18:59] garmeeh commented on #78
Please re-open if the issue persists.

[2019-08-19 18:59] #78 closed

[2019-08-19 19:01] garmeeh commented on #75
Maybe looking at switching to https://www.npmjs.com/package/tsdx for building would be a good first step to simplify.

[2019-09-05 07:41] vinay07A opened #91 "mutiple data in ProductJsonLd"
how can loop the productjsonld if i have mutiple products in same page. map function is overriding.if i do loop.

i want display like this.
`[
   {
      "@context":"https://schema.org/",
      "image":[
         "https://lssdsdsdsds"
      ],
      "@type":"Product",
      "name":"Product name"
   },
  {
      "@context":"https://schema.org/",
      "image":[
         "https://lssdsdsdsds"

[2019-09-05 08:00] garmeeh commented on #91
Hey @vinay07A, the spec for product is for an individual product. So if you have a page that lists all of your products, as long as you can click through to the product detail page and this detail page implements the Product JSON-LD you should be covered.

You can read more about the spec here: https://developers.google.com/search/docs/data-types/product

[2019-09-05 08:00] #91 closed

[2019-09-12 07:23] jorjonl commented on #77
Hi @garmeeh, is there any follow-up about this issue? Kind regards

[2019-09-16 14:43] willvlad opened #94 "Meta keywords - how do I add them?"
The docs seem silent on that...

[2019-09-20 14:47] 0x54321 opened #95 "Breadcrumb JSON-LD missing 'id' field"
Google Search Console is reporting that the breadcrumb data is missing the 'id' field. Apparently the schema has changed a bit.

Instead of:
[code]

It should now be:
[code]

Documentation:
https://schema.org/item
https://jsonld.com/breadcrumb/

Thanks for the great package!

[2019-09-20 18:32] garmeeh commented on #94
Hey @willvlad, you can leverage the [additionalMetaTags](https://github.com/garmeeh/next-seo#additional-meta-tags) key to add keywords.

It doesn't have it's own key as it used less frequently these days.

[2019-09-20 18:39] garmeeh commented on #95
Hey @0x54321, that's an interesting one..

I went with Google's own recommended approach:

https://developers.google.com/search/docs/data-types/breadcrumb

I will do a little digging on this and see can I find the correct approach.

[2019-09-24 15:16] yxwu opened #97 "mobileAlternate & languageAlternate doesn't work with <NextSeo>"
For ver 2.1.0, the following code snippet doesn't work:
`          <NextSeo
            mobileAlternate={{
              media: "only screen and (max-width: 640px)",
              href: "https://m.canonical.ie"
            }}
          />`

But it works with `<DefaultSeo>`:
` <DefaultSeo
            mobileAlternate={{
              media: "only screen and (max-width: 640px)",
              href: "

[2019-09-26 00:31] econdie commented on #97
i opened a fix for this, @garmeeh can you review when you get a chance

[2019-09-27 08:40] arp55 opened #99 "NextSeo is not overriden in each component when I use DefaultSeo."
Issue with overriding Defaultseo in next application. I have implemented DefaultSeo in _app.js and trying to override the DefaultSeo using NextSeo in the other components as mentioned by the documentation of Next js. But the meta tags are not getting overriden as mentioned in the docs when I view the page source and instead the changes are reflecting only in the elements when I inspect the site. I

[2019-09-27 08:44] arp55 commented on #99
[](https://gist.github.com/arp55/0c2a3516edc5c07bc17a749d459e9b5c/fc655a3496345622b1ca178bde9307e44e6b8a48)

[2019-09-30 08:11] #97 closed

[2019-09-30 08:19] garmeeh commented on #99
Hey @arp55, can you try this for your `_app.js`:

[code]

[2019-09-30 08:19] #94 closed

[2019-09-30 15:06] arp55 commented on #99
Hi @garmeeh ,
Thanks for the reply. I tried the solution which you have given and tried making the same changes to login.js too. But still the DefaultSeo is not overriden by NextSeo. The NextSeo attributes are not showing in the view source.

[2019-10-04 18:28] BennettStaley commented on #99
same thing happening on our site... can't seem to get any meta tags to change unless you hard refresh.

[2019-10-04 19:17] garmeeh commented on #99
I have created a small sample app to see if the overriding is working as expected.

I could not re-create the issue. You can see it in action here:

Sandbox Browser: https://tchh3.sse.codesandbox.io/

Sandbox: https://codesandbox.io/s/github/garmeeh/next-seo-test

Could you take a look and see if your issue is present on that app?

Would you both also be able to confirm the version you are using o

[2019-10-04 19:18] BennettStaley commented on #99
Actually it looks like it might have been an issue within `next/head`. Upgrading `next` and `next-seo` seems to have fixed it without any side effects.

[2019-10-09 07:01] arp55 commented on #99
Hey @garmeeh ,
I am using next-seo v2. But the problem is that I'm using Es6  and not typescript. Will it work the same way in Es6? if not then can you suggest me a solution.

[2019-10-22 20:29] whthT commented on #77
[code]

[https://github.com/garmeeh/next-seo#no-index](https://github.com/garmeeh/next-seo#no-index)

[2019-10-23 18:45] #95 closed

[2019-10-23 18:58] garmeeh commented on #99
Hey @arp55, yeah the position of it could affect it. Hard to say from just looking at the code example. Have you tried moving the <DefaultSEO/> to be within the provider maybe?

[2019-10-23 19:09] garmeeh commented on #88
Hey @equinusocio, really sorry I only got some time now to really look into this. After doing some digging it seems like this is an issue in React itself. I don't think there is anything I can on this end.

[2019-10-23 19:09] #88 closed

[2019-10-23 21:23] richardkeller411 opened #111 "Add SameAs and openingHoursSpecification to LocalBusiness"

[2019-10-23 21:29] richardkeller411 opened #112 "Added LocalBusinessJsonLd to render"
Structured Data Review in Chrome Extension sees item but the Google Structured Data Testing Tool does not see it.

Sees it:   https://chrome.google.com/webstore/detail/structured-data-testing-t/kfdjeigpgagildmolfanniafmplnplpl

Doesn't see it.

https://search.google.com/structured-data/testing-tool#

Not sure if Google supports it.   I also tried rendering straight in the Head Component as a scrip

[2019-10-24 16:32] equinusocio commented on #88
@garmeeh I had to switch to Nuxt because this issue. vue-head for example has a `__dangerouslyDisableSanitizers` to disable string encoding inside **all** meta or
`__dangerouslyDisableSanitizersByTagID` to disable encoding on specific elements.

[code]

[2019-10-25 17:19] dkrish commented on #77
this sets to noindex, nofollow, when the question is asking how to set noindex, follow.

[2019-10-26 08:47] brijeshborkar commented on #99
Hey @garmeeh , even i'm facing the same issue as i'm also using redux in my project, tried moving 'default seo' within the provider and tried different possibilities of putting it in many positions, didn't work?

[2019-10-27 10:32] kayintveen opened #113 "Title not changed using NextSeo in a nextjs page."
I'm currently implementing Next-SEO as follows.
in m _app.js I have the next defaults. this

[code]

This next-seo.config contains title, open graph data and some other defaults.

Then on a specific page, I implemented NextSeo component overwriting the normal title and open graph title just as an example.
But when I just normally implement this it's not working.

[code]

but when i add a dummy <He

[2019-10-27 16:33] petertulala opened #114 "Multiple alternate languages"
`languageAlternate` currently takes only 1 object (i.e. only 1 alternative language). But typically, each page has multiple language alternatives:

[code]

Is there a chance to support this?

Possible solution might be to provide an array to `languageAlternate`:

[code]

[2019-10-27 17:25] petertulala commented on #114
I've created a pull request for this change.

[2019-10-31 09:15] fanofdbz commented on #114
I am facing the same issue, is there any alternative for this in the current version, or we are referring to @petertulala's code?

[2019-10-31 09:17] garmeeh commented on #114
Hey @fanofdbz, once PR #115 is merged, it will have support for multiple languages.

[2019-10-31 09:19] garmeeh commented on #113
Hey @kayintveen, could you create a Code sandbox re-creating the issue so that I can investigate?

[2019-10-31 09:20] garmeeh commented on #113
Probably related to #99

[2019-10-31 09:20] garmeeh commented on #99
Could someone provide a code sandbox example of the issue so that I can investigate?

[2019-11-11 17:48] 0x54321 opened #116 "ProductJsonLd should include offers.url"
As per [Google documentation](https://developers.google.com/search/docs/data-types/product#offer_properties), the `offers` field includes an (optional) value for "url", which is not currently recognized. Thanks!

[2019-11-11 20:30] nik-john commented on #77
@garmeeh Did this feature end up getting released? If so I would love to raise a PR for updating the docs

[2019-11-11 23:14] nik-john commented on #77
@garmeeh Raised a [PR](https://github.com/garmeeh/next-seo/pull/117) to address this. I'm facing this exact issue on my codebase and would love it if we can roll this out soon 🤓

[2019-11-13 20:47] #114 closed

[2019-11-21 19:49] Aid19801 commented on #14
Hi there, thanks for NextSEO, it's been a god-send for Facebook-shareable blogs i'm doing.

I do seem to be having some problem with NextSeo giving images to Twitter cards though.

I've tested on their Card Validator and it passes.

![image](https://user-images.githubusercontent.com/15033409/69371538-f0563d00-0c97-11ea-8efb-26a07f901c2f.png)

But sharing a link to my site on _actual_ Twitter shows

[2019-11-22 07:50] prashantchothani opened #121 "keywords not allowed"
In version 3 keywords are not allowed. Google may not be looking at keywords but other search engines do.

[2019-11-25 07:30] 0x54321 commented on #116
#122

[2019-12-07 15:31] Fazlur00 opened #125 "Help over the CorporateContactJsonLd, Is this Possible?"
[https://www.tutorsbot.com/](url)
[https://jsonld.com/organization](url)

[2019-12-12 06:05] #116 closed

[2019-12-16 20:13] ivtod opened #128 "Working on frontend only"
I'm trying to implement the basic example inside an app that already use `_app.js` and `_document.js`

This is my `test.js` page:

[code]

I can see it working only client-side, if I view page source the title and description are not set.
If I remove `_app.js` and `_document.js` I can see the title and description correctly in the page source.

What am I missing?

Thanks!

[2019-12-17 08:41] mercteil opened #129 "languageAttribute and facebookId not set"
Hi,

I try to implement the alternate language tag but I end up having the head node without the alternate attribute, also the facebookAppId is not set.

However the title and description tags are set, so the default config is basically working.

Is there anything I do not understand or there an issue with the lib ?

Default config.js
[code]

_app.js
[code]

[2019-12-17 09:04] mercteil commented on #99
next 9.1.5
next-seo 3.2.0

I use redux and my DefaultSEO is set within a Fragment before the Provider component in _app.js.

The title is overridden whenever I set it in a subPage.

_app.js
[code]

[2019-12-17 09:16] mercteil commented on #99
PS: I saw the next/container in the code samples above. It is not supported in the newer Nextjs versions and should be replaced by react fragments.

[2019-12-17 14:55] mercteil commented on #129
Definitely not working properly. I have

[2019-12-17 15:14] mercteil commented on #129
In doc it says `languageAlternate` (use object or array).

This works
[code]

This doesn't work
[code]

This doesn't work
[code]

[2019-12-25 16:42] mercteil commented on #121
[code]

[2019-12-26 05:11] prashantchothani commented on #121
Thanks a ton @mercteil

[2019-12-26 05:11] #121 closed

[2019-12-27 08:29] mercteil opened #131 "Is it possible to add custom LD objects ?"
I see some fields are not supported by the lib.

Is it possible to add custom LD data objects, that will not be validated by the lib?

[2019-12-27 08:34] mercteil opened #132 "Add support for multiple offers"
I want to indicate multiple offers in different currencies for the same product.

I would expect to use an array of @offer objects to indicate different offers.

At the moment it seems it does not work this way.

[code]

[2019-12-28 18:55] raindecastro commented on #128
Same here, for some reason my tags are only rendering on client side.

[2019-12-28 21:00] DeekshaPandit opened #134 "how to pass keywords from NextSeo"

[2019-12-31 10:40] erhankaradeniz opened #135 "Please add support for Job Posting with JSON-LD"
I'd like to see support for Job Posting with JSON-LD, I'm not sure if I can provide more details since it's not really an issue but more a feature request ;-)

[2020-01-03 17:28] jethromay commented on #128
Experiencing this currently.

[2020-01-04 14:07] brookslyrette commented on #128
Started seeing this issue as well.

[2020-01-04 18:55] petermarks12 commented on #128
Yes, experiencing same thing and I think its due to next-redux wrapper.  Any solution to make it work with redux ?

[2020-01-06 14:00] mikestopcontinues opened #136 "JSON-LD components should accept `key` so that they handle multiple instances per page."
The title says it all. The JSON-LD spec allows for multiple instances, essential for blog rolls or search pages. `key` seems like the most canonical way to handle this behavior, perhaps retaining the default key as a prefix. What do you think?

[2020-01-06 15:17] ifiokjr opened #138 "GatsbyJS port of next-seo"
### Description

This is purely to say thank you for this library. I've enjoyed using it so much I decided to port it over to [GatsbyJS](https://www.gatsbyjs.org/).

I've released the first version of [**gatsby-plugin-next-seo**](https://github.com/ifiokjr/gatsby-plugin-next-seo).

Unfortunately better names like [gatsby-seo](https://www.npmjs.com/package/gatsby-seo) and [gatsby-plugin-seo](https:

[2020-01-06 15:24] mikestopcontinues commented on #136
Switched PR from `key` to `id` because `key` doesn't get passed by React.

[2020-01-07 10:03] ivtod commented on #128
In my case, I have a component that wraps **pages**;
I was conditionally rendering the **page** content:

[code]

Of course the code inside the page responsible to propagate NextSEO attributes at server side rendering time can't work because the component is not "mounted" yet.
Simply hiding the page content made it work correctly:

[code]

Hope it helps

[2020-01-08 21:12] garmeeh commented on #136
Hey @mikestopcontinues, for blog rolls or search pages I think you would be better off using something like [CollectionPage](http://schema.org/CollectionPage) maybe 🤔

Each of the Schemas on the PR would only be used once on a page so I don't think there would be a use for exposing the key.

This question and answer goes gives good context:

https://webmasters.stackexchange.com/questions/99095/sch

[2020-01-08 21:15] garmeeh commented on #138
👏 Deadly! Really glad you found it useful and were able to port it. I will defiantly keep an eye on it and port over any new features that are added on your end 😄

Please feel free to open a PR adding a link to the Gatsby version from here also.

[2020-01-08 21:20] garmeeh commented on #134
Hey @DeekshaPandit you can use the https://github.com/garmeeh/next-seo#additional-meta-tags to pass keywords.

[2020-01-08 21:20] #134 closed

[2020-01-08 21:20] garmeeh commented on #131
I can take a look at this. Could you give me an example to work with?

[2020-01-09 02:56] mikestopcontinues commented on #136
Hey @garmeeh, I don't think CollectionPage fits the bill, especially since it's not officially supported in [google's search docs](https://developers.google.com/search/docs/data-types/article). A page containing multiple articles, courses, offers, etc. should have either multiple json-ld tags for each, or an array of those present on the page. I definitely overcompensated in my PR (Logo, Breadcrum

[2020-01-09 09:39] VictorBaudot opened #141 "Adding stylesheets and script to head"
Hello, I'm currently just using next/head and I'm wondering where I should put my stylesheets links and scripts that I was previously putting in the Head component?

[2020-01-09 20:12] garmeeh commented on #141
Hey @VictorBaudot, so `next-seo` is designed to supplement `next/head` so you can leave all non SEO related items within `next/head`.

[2020-01-09 20:26] garmeeh commented on #136
Yeah when I originally researched this I decided to not add in CollectionPage as it's not really supported by Google.  From my understanding there would never be a case where a schema would be used more than once on a page. There is a generally a schema that will fit the bill for the page.

For example if you are talking just about a blog listings page you could go with something like [Blog](https

[2020-01-09 21:00] garmeeh commented on #128
I have created a CodeSandbox [here](https://codesandbox.io/s/tiess) to try re-create but not seeing the issue. Could someone try fork it maybe and provide a recreation?

[2020-01-09 21:04] garmeeh commented on #113
Closing in favour of #99

[2020-01-09 21:04] #113 closed

[2020-01-17 11:24] mercteil commented on #131
For instance I want to add a graph with multiple products:

[code]

[2020-01-18 16:36] mercteil commented on #131
Also I would like to add multiple offers in EUR and in USD for example ...

[2020-01-18 19:04] #111 closed

[2020-01-18 19:12] #141 closed

[2020-01-18 19:13] #138 closed

[2020-01-18 19:52] garmeeh commented on #135
This is now available in latest version thanks to @Myoxocephalus.

[2020-01-18 19:52] #135 closed

[2020-01-19 08:45] Myoxocephalus opened #146 "Moving e2e test to typescript"
What do you think about moving the e2e test to typescript?
I can take a look and send a PR.

[2020-01-20 06:38] charles4221 commented on #75
@Ktchan825 you had the right idea with your import, but you need to import from the `/lib/` directory for it to work correctly, like so:

`import NextSeo from 'next-seo/lib/meta/nextSEO';`

This is how I'm doing it and it works correctly, I'm getting only the main NextSEO component without any of the JSON-LD or other modules in my bundle.

[2020-01-20 15:43] Ktchan825 commented on #75
Hi @charles4221 , thanks for the response. Your solution would work only with version 2. Version 1.x doesn't have a lib folder and doesn't support tree shaking.
Thanks @garmeeh for the version 2 update.

[2020-01-20 15:43] #75 closed

[2020-01-21 15:15] marco-000 commented on #136
Hello @garmeeh, are there any plans for the Carousel component?

[2020-01-21 18:41] #125 closed

[2020-01-31 08:49] findela opened #152 "Sharing the web url on whatsapp image not showing"
I have written code in the way which should show image on whatsapp while sharing link,by the way on Facebook and other social platform, image is showing perfectly, what went wrong for this,no clue -

My Code :

`<NextSeo config=
						 {
							 {
								 title: this.firstLetterUpper(this.props.blogDetails.blogTitle),
								 titleTemplate: `Collegify | %s`,
								 copyright: 'Collegify has co

[2020-01-31 20:29] garmeeh commented on #152
Hey @findela can you make sure that the image URL is an absolute URL?

[2020-01-31 20:30] garmeeh commented on #146
Hey @Myoxocephalus, this is something I have thought about a couple of times. I think there would be PROS and CONS to it. I think for now I will keep them as JS.

Thanks for the offer tho 😄

[2020-01-31 20:30] #146 closed

[2020-01-31 20:38] garmeeh commented on #136
Hey @marco-000 yeah Carousel is something I would like to add in the near future.

[2020-02-01 13:05] findela commented on #152
Yes it's full qualified absolute URL, it's strange that it works only with images < 300 KB which I think so.

[2020-02-02 21:11] shakesBeardZ opened #159 "pages with Dynamic links (randomly generated) doesn't show the OG data"
in my application, I have a few pages that get opened with dynamically generated links like:
example.com/:id
which will open a page called page1 for example, those pages with random links they don't render the OG data even if the data is there(I inspected the head tag).

the other pages with static names, they render the OG data with success.
I hope anyone here can have an explanation for that beh

[2020-02-03 21:28] garmeeh commented on #159
Would you be able to provide an example reproducing the issue?

[2020-02-03 21:29] garmeeh commented on #152
Hey @findela just doing a bit of checking and it does seem that 300kb is the max for whats app.

[2020-02-03 21:29] #152 closed

[2020-02-05 04:06] #159 closed

[2020-02-06 08:12] rchandu commented on #4
Hi, I want to help on this. Started using this library recently in our company. Let me know if this is a fine first issue, then I can volunteer on this.

[2020-02-06 17:09] diegomarcelino92 opened #163 "how to implement "@type": "AggregateOffer" in productLd?"

[2020-02-10 12:54] KVtofan opened #165 "ProductJsonLd component does not support the full schema from https://schema.org/Product"
It looks like ProductJsonLd component does not support the full schema from https://schema.org/Product

How can I add:
- category
- color
- manufacturer
- material
- slogan
- width
- disambiguatingDescription

Is it possible to add a full support for https://schema.org/Product ?

[2020-02-15 20:52] talentlessguy commented on #128
Can confirm, when `next export` or `next build` it doesn't generate any meta tags in both cases

[2020-02-18 22:14] Aviortheking opened #177 "title and description are not updating og:title nor og:description"
Pretty self explaining

[2020-02-19 04:36] dohomi opened #178 "experimental flag polyfillsOptimization does not work with this module"
Hi Guys

I tried to enable
[code]
This results into following error:
[code]
This is early adopter code so I just wanted to bring this up in case the feature finally lands into NextJS core

[2020-02-19 19:58] oyeanuj opened #182 "Feature request: additionalLinkTags"
Hi @garmeeh, thank you for creating this excellent library!

Like you have `additionalMetaTags`, I'm wondering if the library should also support `additionalLinkTags`?

My use-case is the following tags, which I think makes sense to be part of the default config more than separately in `_app.js`:

[code]

[2020-02-20 22:40] nodabladam commented on #178
I don't believe this is an experimental issue.  I just updated to next.js 9.2.3-canary.8 to test something and (without adding any experimental flags) got:
[code]

[2020-02-21 04:03] manovotny commented on #178
@nodabladam that's because [v9.2.3-canary.1](https://github.com/zeit/next.js/releases/tag/v9.2.3-canary.1) enables the polyfills optimization by default without needing the experimental flag, so it is still an issue.

[2020-02-21 04:34] nodabladam commented on #178
Agreed...I poorly worded an attempt to emphasize that it is very soon to be a problem for everyone.

[2020-02-21 08:49] shaunsaker commented on #128
I ran into the same issue but I seem to have solved it by adding `DefaultSeo` to _document.js:

[code]

and then customised in my layouts:

[code]

Now my export seems to have the default head html.

[2020-02-21 20:30] #178 closed

[2020-02-21 20:56] garmeeh commented on #177
I will need more information than this 🤷‍♂

[2020-02-21 20:59] garmeeh commented on #128
@shaunsaker I would not recommend adding `<DefaultSeo/>` within `next/head` it can cause unexpected behaviour. You should be able to use them side by side.

[2020-02-21 21:04] garmeeh commented on #128
@talentlessguy

Please see the CodeSandbox [here](https://codesandbox.io/s/tiess). This works as expected with `next build` and `next export`.

[2020-02-21 21:07] garmeeh commented on #99
If this issue is still happening, please open a new issue with an example that I can debug.

[2020-02-21 21:07] #99 closed

[2020-02-21 21:08] #77 closed

[2020-02-21 21:10] garmeeh commented on #86
I feel this could be a dangerous default to have so not going to implement. Above solution would give the same behaviour with little overhead.

[2020-02-21 21:10] #86 closed

[2020-02-21 21:22] dependabot-preview[bot] opened #189 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-02-21 21:22] #189 closed

[2020-02-24 08:27] shaunsaker commented on #128
@garmeeh Thanks, I was seeing inconsistent results. I added `DefaultSeo` to _app.js adjacent to NextHead instead and it's exporting the static html correctly.

[2020-02-24 21:19] #132 closed

[2020-02-25 08:49] vvmspace opened #190 "EventJsonLd doesn't work"
I have components:
EventCardList and EventCard:
in EventCard im using:
[code]
And I can not find it in page source.

I have overwrited pages/_document.jsx and have no _app.js. Also I'm using Material UI.

Is it bug or some my mistake?
Please help

Project is here (in branch concertmoscow):
https://github.com/vvmspace/next-template/tree/concertmoscow

EventCard component:
https://github.com/vvmspac

[2020-02-25 10:42] vvmspace commented on #128
Same problem with list of EventJsonLd.

If I understanding **next export** means building  static html pages.
But what about **npm run dev**?

[2020-02-25 11:23] talentlessguy commented on #128
@vvmspace `npm run dev` launches an universal Next.js app in "dynamic" mode, where you can use server side features in gip. `next export` exports pages in "static" mode.

not related to next-seo though, it is written in the docs of Next.js

[2020-02-28 19:17] garmeeh commented on #190
Hey, so from what I can see you will try load multiple EventCards on one page using the EventCardList component?

This will not work. The EventJsonLd should exist at a page level. So there should only ever be on EventJsonLd on the page.

Not sure if you are just seeing one and that is what is making it look broken?

[2020-02-28 23:47] genox opened #202 "Module not found after pruning devDependencies"
Hi,

I get the following error message in production using next-seo@latest after stripping the project of devDependencies:

[code]

Steps to reproduce:

- Build nextjs app
- Run my app locally and connect, everything seems to be fine
- Run either `npm prune --production` or `yarn install --production`
- Run app locally again, errors out on server side rendering with the above trace

I noticed that

[2020-03-01 15:47] 1BigBoom opened #203 "OpenGraph is not working in my Next JS project"
import React from 'react';
import { NextSeo } from 'next-seo';

export default () => (
  <>
    <NextSeo
      title="Using More of Config"
      description="This example uses more of the available config options."
      canonical="https://www.canonical.ie/"
      openGraph={{
        url: 'https://www.url.ie/a',
        title: 'Open Graph Title',
        description: 'Open Graph Description',

[2020-03-01 15:48] 1BigBoom commented on #203
"dependencies": {
    "next": "^9.2.2",
    "next-seo": "^4.4.0",
    "react": "^16.13.0",
    "react-dom": "^16.13.0"
}

[2020-03-01 15:48] 1BigBoom commented on #203
Please help me

[2020-03-09 13:39] tomgreeEn commented on #136
I'm also interested in this - if you don't recommend reusing multiple instances of schemas on page, what would be the best way to add multiple Products to a higher level Product List page using next-seo?

[2020-03-10 20:10] dmitrizzle opened #209 "Multiple <script type="application/ld+json"> tags in document"
An example is a `<Page />` that's an article with available breadcrumbs data. The `<Page />` consists of two components: `<Article />` itself and <BreadCrumbs />.

`<Page />`
[code]

`<Artcile />`
[code]

`<BreadCrumbs />`
[code]

With this setup, in HTML we'll end up with two `<script type="application/ld+json">` tags:
[code]

I'm not sure if this to cause any problems but certainly would like to

[2020-03-10 20:45] italoayres commented on #209
This appears to be Ok, according with this StackOverflow topics:
[Best JSON-LD practices: using multiple <script> elements?](https://stackoverflow.com/questions/30723531/best-json-ld-practices-using-multiple-script-elements)
[Can I have multiple JSON-LD scripts in the same page?](https://webmasters.stackexchange.com/questions/96903/can-i-have-multiple-json-ld-scripts-in-the-same-page)

But I'm not

[2020-03-11 05:52] jermsam commented on #111
`sameAs` feature seems not to work for me.
Here is my code:
[code]
[code]
[code]
but my seo tool reports the following errors:

<img width="920" alt="Screen Shot 2020-03-10 at 10 51 52 PM" src="https://user-images.githubusercontent.com/11094475/76386490-dd887680-6321-11ea-9a23-60acfb898de4.png">

[2020-03-12 17:37] RobbyUitbeijerse commented on #202
Hi @genox !

Any chance you are using a custom babel configuration for your project? I was running into the same issue, but only on next.js 9.3 (which introduced [auto polyfills](https://nextjs.org/blog/next-9-3#32-kb-smaller-runtime-15-kb-gzip)). Our babel config included the following:

**babel.config.js**

[code]

we removed this entire piece of config, and it resolved our issue with the missin

[2020-03-12 20:12] genox commented on #202
Hej,

I do have a custom babel config for styled components and decorators. I ended up on a similar track and ended up adding `@babel/runtime-corejs2` to regular dependencies after I noticed that it was missing as an import from one of the source files of this module at compile time when I upgraded to NextJS 9.3. Maybe some other side effect ... don't ask me what's going on exactly, but it works™

[2020-03-13 09:53] jakapatb commented on #203
+1
In my Project, It's work on localhost but not working on production.

dependencies
- "next": "9.3"
- "next-seo": "4.4.0"

PS. It was working on my project before upgrade Next.js (not sure 9.22 or 9.3).

[2020-03-13 10:38] jakapatb commented on #203
Use this pattern for now util next-seo fixed.
[code]

[2020-03-13 19:20] najandz opened #212 "Jest react test library"
Hi,
I am super excited when I found this solution for SEO metadata and structured data. I would like to know if you guys can give me some idea how to write test with using Jest react test library to verify all the metadata and title of my page,

Cheers,

[2020-03-13 19:36] garmeeh commented on #203
@1BigBoom I have checked the code example you have supplied and it works as expected. Can you provide a recreation for it so I can test further?

@jakapatb I have done some more manual testing around Open Graph and have verified it is working as expected. If you can provide a recreation I can investigate further.

[2020-03-13 19:40] garmeeh commented on #209
Thanks @italoayres. 😄 Yes it's perfectly ok to have multiple JSON-LD scripts on the page.

[2020-03-13 19:40] #209 closed

[2020-03-13 19:42] garmeeh commented on #202
Hey @genox, sounds like this is working as expected now.

Please re-open if I was mistaken.

[2020-03-13 19:42] #202 closed

[2020-03-13 19:43] #190 closed

[2020-03-13 20:20] garmeeh commented on #212
Hey @najandz, thanks 😄

I would normally test this kinda of thing with the likes of Cypress which of course does not answer your question.

I don't have much experience in testing the actual page itself with Jest so not too sure how to advise you. I would suggest posting a question over on [here](https://github.com/zeit/next.js/discussions) or [here](https://spectrum.chat/next-js?tab=posts) about

[2020-03-14 21:17] #129 closed

[2020-03-15 11:13] timneutkens commented on #4
Still relevant. Should probably leverage https://www.npmjs.com/package/microbundle

[2020-03-16 10:26] roydigerhund opened #215 "Escape strings for JSON-LD formats"
Would it be useful to escape the strings for JSON-LD formats like ArticleJsonLd in the frontend?

The following example would create invalid JSON in the frontend:

[code]

The output would contain the double quotes lie this:
[code]

The correct escaped output instead would be:
[code]

[2020-03-16 16:04] najandz commented on #212
Thanks, @garmeeh for the quick reply, I've posted there, and I am looking forward to getting some leads.

Cheers,

[2020-03-21 19:11] #15 closed

[2020-03-21 19:11] #73 closed

[2020-03-21 19:11] #85 closed

[2020-03-21 19:11] #71 closed

[2020-03-21 19:11] #112 closed

[2020-03-21 19:11] #14 closed

[2020-03-21 19:11] #163 closed

[2020-03-25 11:57] efoken opened #234 "Remove 'prop-types' peer dependency"
As we use TypeScript here, I think the `prop-types` peer dependency is not needed any longer, is it?

[2020-03-26 09:51] PeterMerkert commented on #128
I can confirm that this was a problem for us as well. We switched using plain React hooks and context and it works immediately. I assume the redux provider wrapping results in a first render without content, which results in not taken the page specific SEO tags into account.

[2020-03-27 03:20] DucSilva commented on #129
how to fix it?

[2020-03-29 05:32] vimota commented on #202
I still ran into this error `Can't resolve '@babel/runtime-corejs2/core-js/array/is-array' in '/Users/vimota/code/vimota/node_modules/next-seo/lib/jsonld'` with no custom babel configuration.

Running `npm install --save-dev @babel/runtime-corejs2` resolved it, so perhaps it needs to be added as a dependency?

[2020-03-29 21:32] #177 closed

[2020-04-02 00:13] benedfit opened #263 "Minify JSON-LD output"
Would it be possible to minify the output of the JSON-LD components?

[2020-04-02 06:22] juanpablocs opened #265 "example support pwa?"
my config not work

[code]

manifest.json and meta link icon images not show in production web

[2020-04-07 02:44] rolandtshen commented on #203
@garmeeh I think I'm experiencing a similar issue. Here's a page where I have next-seo enabled: https://read.imprint.to/post/5e89a275dcb11300c007c599. If you inspect element, you can see all the appropriate meta tags in the head, but none of the right tags show up when viewing page source (I think the crawlers use the page source to find meta tags). I'm fetching data via getInitialProps, and loadi

[2020-04-07 07:08] garmeeh commented on #203
Hey @rolandtshen from taking a very quick look at your site I believe there may other issues. For a server rendered site if you disable javascript in the browser and reload the page it should render all of the HTML, but this is not the case for your site. This makes me think there is an issue server side with your app.

[2020-04-07 07:10] garmeeh commented on #265
Hey @juanpablocs, you will need to add all of the tags not supported by NextSeo via `next-head`.

[code]

[2020-04-07 07:10] #265 closed

[2020-04-07 07:11] #212 closed

[2020-04-15 14:33] #136 closed

[2020-04-16 06:58] rolandtshen commented on #203
Thanks, @garmeeh! Took a look, and found out my problem was that I was conditionally rendering my page based on whether or not some data was loaded. Since I was rendering null until the page loaded properly, the meta tags weren't being inserted in. Can confirm next-seo's working as intended now.

[2020-04-17 11:38] RobbyUitbeijerse commented on #202
@garmeeh we are running into the same situation that @genox is describing in his latest comment now that we actually upgraded to next.js 9.3  (https://github.com/garmeeh/next-seo/issues/202#issuecomment-598394081)

Adding @babel/runtime-corejs2 to the depedencies resolves the issue as it prevents it from betting removed while pruning the modules for production, but it's far from an elegant solutio

[2020-04-17 11:46] RobbyUitbeijerse commented on #202
removed my comment - we are not experiencing this issue anymore from next@9.3 anymore

[2020-04-21 08:26] fabb opened #300 "Add apple-itunes-app meta tag"
Support for the `apple-itunes-app` meta tag would be helpful. The meta tag is both used for app install/open banners and also for the Applebot crawler, so it would make sense to add it to a SEO library.

https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html

[2020-04-25 23:05] valse commented on #215
Hi, I have the same issue too and my structured data test fails; to fixit I added a regex parse like this:
[code]
but I think that it should be included in the plugin.

[2020-04-27 07:56] roydigerhund commented on #215
@valse
I fixed it via JSON stringify and removing the outer double quotes:

[code]

[2020-04-28 16:43] efoken commented on #234
It is still relevant 😄

[2020-04-29 15:49] amorriscode commented on #203
I noticed that I have the same problem. It works on Twitter and Slack, however on FB it does not. You can see the effect happening here. It looks like the default SEO overrides the page SEO in production.

[2020-04-30 10:18] kauravshubham opened #320 "Cannot find module 'next/head'"
![image](https://user-images.githubusercontent.com/32070770/80699654-fa5b5200-8af9-11ea-8fea-5c0affdcebec.png)

[2020-05-02 09:55] #128 closed

[2020-05-08 01:56] heymartinadams opened #329 "Keywords?"
First of, Gary, what a wonderful creation! **Thank you!** ✨ (If my business grows and can afford it, I’ll def sponsor you! We haven’t launched yet.)

Question: nowhere do I see a mention of SEO keywords. Any particular reason?

[2020-05-10 03:06] frankn11 commented on #329
I'm not sure about the reason, but you can use the `additionalMetaTags` prop.
https://github.com/garmeeh/next-seo#additional-meta-tags

[2020-05-10 17:30] heymartinadams commented on #329
Great, thank you! 🎉

[2020-05-10 17:30] #329 closed

[2020-05-17 13:59] #234 closed

[2020-05-21 08:48] fabb commented on #300
Since it‘s already possible via `additionalMetaTags`, this feature is not necessary.

[2020-05-21 08:48] #300 closed

[2020-05-25 16:40] kmhari opened #347 "open graph video url, secure_url and video type missing"
Need ability to add more details about the open graph video like `og:video:url`  `og:video:secure_url` and `og:video:type`

If this can be added already then great.
If not and you're looking to add these and looking for contributor then i'm in.

[2020-05-31 18:12] switz opened #366 "Default title prop"
It would be nice to set a default title. Let's say the website is `Github`.

I'd do (in _app.js):

[code]

If there's no title set later in the document, it would fall back to `Github`. If there is, it would be replaced with the title template, e.g. `Blog - Github`.

There's a few nice UX wins with this, happy to expand more if they're non-obvious.

[2020-06-02 01:49] angus-kablamo opened #367 "disable googlebot tag"
Hey, I'd like to use this plugin for a project however the client's SEO team are requesting that we remove the googlebot tag as they consider it "noise covered by the robots tag". The request baffles me but would you accept a PR to add a prop to disable it?

[2020-06-03 09:49] garmeeh commented on #347
Hey @kmhari these are currently not in `next-seo` but a pull request to add them would be brilliant 😄

[2020-06-03 09:53] garmeeh commented on #366
Hey @switz, if you were add the following to `_app.js` would it achieve what you are looking for?

[code]

[2020-06-03 09:57] garmeeh commented on #367
😂 Yeah this one baffles me also. I can't see anyway it would hurt.

Yeah I think adding a single boolean to disable the default tags wouldn't add much overhead.

A PR sounds good to me 👍

[2020-06-03 16:14] switz commented on #366
Well, I think `fallbackTitle` would make more sense for my use-case. But there may be other usecases that prefer the other. I'll always have a `titleTemplate` set (in app.js), but for example, if I set title to `Github` on the index page, it would return `Github - Github` (due to the title template). So if I was able to set `fallbackTitle` when there is no title set, it would negate the `titleTemp

[2020-06-03 17:44] kmdev1 opened #369 "Module Not Found - Pruning For Production"
Hey there,

Firstly just wanted to say great little helper!

I was just wondering if you've been experiencing any issues recently strongly related to #202?

It appears that the babel runtime issue is back and it's causing us a few headaches 🤦

Current versions that we're using are:

`"next-seo": "^4.5.0"`
`"next": "^9.4.0"`

[2020-06-04 12:19] tonytoth commented on #369
@kmdev1 seems like installing `@babel/runtime-corejs2` fixed the problem.

[2020-06-05 15:23] michaelgmcd opened #375 "Add recipe JSON-LD type"
Thanks for the great plugin! Hoping to use this for a client's food blog and I noticed the [Recipe JSON-LD data type](https://developers.google.com/search/docs/data-types/recipe) is missing.

I should be able to make a PR, it'll just take me a bit longer. Not sure if it's something you've thought about adding.

[2020-06-05 17:45] #203 closed

[2020-06-06 10:30] #320 closed

[2020-06-09 03:30] janinel opened #377 "Unable to add <title> AND <meta name="title" content="x">"
Our SEO team want to replicate the title in the metatags. To do this tried using additionalMetaTags  but it looks like the title and the additionMetaTag have a key of 'title' so <title>x</title> gets suppressed.

<NextSeo
    title="x'
    additionalMetaTags=[{
      name: 'title',
      content: 'x'
    }] />

An easy fix would be to namespace the meta keys
or (less impact) the title key
- what d

[2020-06-10 07:06] longxuanho commented on #263
Please do minify the output for JSON-LD.

[2020-06-15 15:32] Anup-Borde opened #383 "Twitter cards not rendering images and title and description is always being fetched from the <DefaultSeo/>"
Hi Garmeeh,

Thank you for this wonderful library. I have used it on a sample nextjs project and it works fine. However, when I tried using it on one of my websites I am not able to get the twitter cards working.
I am sharing a gist of my _app.jsx and with-lyout.jsx files for your reference please find the same below:-
https://gist.github.com/Anup-Borde/45a6ea4f3a4f13acfcfc1d89f8bdbea3
Please find

[2020-06-16 12:02] VChertukhin opened #384 "ProductJsonLd uses http://schema.org/Thing instead of http://schema.org/Brand for brand field"
Many thanks for this great package!
So, here's fragment of json-ld created with this package

`brand": {
      "@type": "Thing",
      "name": "SUN"
    },`

nonetheless Brand type exists which is far more relevant, I consider. Would PR with this changes be a good thing?

[2020-06-16 14:11] mbruggenwirth commented on #99
Got still this isssue.
"next-seo": "^4.5.0",
"next": "^9.4.4",

Works when:  DefaultSeo(title, description, openGraph config) + NextSeo(title, description)
Fails when: DefaultSeo(title, description, openGraph config) + NextSeo(title, description, openGraph config)

[2020-06-17 10:48] MM3y3r commented on #383
We currently have the same issue in production. Quite a huge problem actually.

[2020-06-17 12:45] garmeeh commented on #377
Hey @janinel  yeah I can take a look at this and what impact it might have.

[2020-06-17 13:38] garmeeh commented on #383
Will investigate this after work this evening. Will report back.

[2020-06-17 14:11] garmeeh commented on #384
Hey @VChertukhin a PR would be brilliant to update this thanks 😄

[2020-06-17 15:48] okybr commented on #383
For the record: Downgrading `next-with-apollo` from 5.0.1 to 4.3.0 fixed the issue of me and @MM3y3r.

[2020-06-17 16:03] assemmohamedali opened #386 "Dynamic opengraph tags"
https://stackoverflow.com/questions/55329917/next-js-how-to-set-head-tags-dynamically

The link above describes the same problem I currently have. I tried lots of ways but nothing worked facebook/twitter/linkedin seem always fetch the default settings even if it has been overridden in client-side. They have never been able to see the changes as it happened in a page's HTML. Any thoughts?

[2020-06-17 16:04] assemmohamedali commented on #386
@garmeeh hopefully you have an answer

[2020-06-17 17:28] garmeeh commented on #386
Hey @assemmohamedali would you have a link to a live example so I could have a look at debugging?

[2020-06-17 18:26] garmeeh commented on #383
After investigating this I am thinking that this might be related to another library potentially.

If you take a look at this Code Sandbox it seems to be working as expected?

https://codesandbox.io/s/github/garmeeh/next-seo-test

Maybe I have miss understood the problem.

[2020-06-17 18:28] garmeeh commented on #386
This could be related to #383 which one of the comments mentioned it was related to Apollo which you look to be using.

[2020-06-17 19:34] assemmohamedali commented on #386
I will test your example first in the issue you mentioned. I don't use apollo at all but I doubt it to be from nextjs version (9.3.4 my current version).  Could you please confirm that this version works with you as expected?

I will share with you an example after your confirmation. Thank you.

[2020-06-17 21:50] llamerr opened #389 "Can't override default image width/height"
I have `<DefaultSeo` which defines `openGraph` images with single image and it's width/height set in `_app.tsx`, which I override at product page with `<NextSeo`. The problem is I don't know product images dimensions, so I only replacing url. But it seems when I provide either of these:

[code]

width and height are ignored and replaced by default width and height, which in my case no longer corre

[2020-06-17 21:51] llamerr commented on #389
Probably related to this issue https://github.com/garmeeh/next-seo/issues/386

[2020-06-17 22:04] llamerr commented on #389
As I understand, for my case it probably can be fixed by something like this in `next-seo/src/meta/buildTags.tsx`
![image](https://user-images.githubusercontent.com/1281970/84955216-8869b700-b0ff-11ea-918d-5fb821870b9b.png)

[2020-06-18 06:00] Anup-Borde commented on #383
@MM3y3r are you able to resolve this issue. @okybr I am not using next-with-apollo @garmeeh  I am using the same version of next and next-seo that you are using. I am able to see the tags when I inspect but when I try to validate it on twitter card validator it isn't working.
1)The image does not load
2)The og:title and og: description are always taken from the default SEO even though I see that t

[2020-06-18 09:09] okybr commented on #383
@garmeeh, as i said, it seems to be related to next-with-apollo which is not used in your code-sandbox.

[2020-06-21 22:10] assemmohamedali commented on #386
@garmeeh I can confirm now that the issue comes from using react context and wrap a component by a provider.

[code]
AppProviders

[code]

When removing the provider from _app everything works well

[2020-06-22 00:25] assemmohamedali commented on #386
The problem that I was returning null in AuthProvider until some action finish.

[2020-06-22 00:25] #386 closed

[2020-06-23 14:31] MM3y3r commented on #383
Yes. We resolved it. Thank you!

[2020-06-24 15:09] spostad7 commented on #366
same issue,
any improvement on this @garmeeh?

[2020-06-25 07:55] erhankaradeniz opened #400 "Request for RealEstateListing"
Hello,

I’d like to request the addition of a JSON-LD property; RealEstateListing - https://schema.org/RealEstateListing.

I might try to add a PR myself, but I wanted to mention it here already and don’t know if it was on the roadmap.

[2020-06-25 12:01] qlaffont commented on #383
Same issue for me :

[code]

[2020-06-25 20:14] #4 closed

[2020-06-30 01:39] mengqing opened #407 "peerDep on next@^6.0.0"
```WARN next-seo@4.7.0 requires a peer of next@^6.0.0 but none is installed. You must install peer dependencies yourself```

Looks like the issue was introduced as part of this PR https://github.com/garmeeh/next-seo/pull/404

[2020-06-30 07:08] #407 closed

[2020-07-02 07:02] navandstokes opened #410 "localBusiness JSON-LD openingHours validFrom options"
https://github.com/garmeeh/next-seo/blob/e3fcbafa0578c1da6d99f06720f24818612c923e/src/jsonld/localBusiness.tsx#L64-L69

When wanting to exclude validFrom and validThrough, Google throws a parsing error because of the extra comma after dayOfWeek.

[2020-07-03 17:11] Ethaan commented on #212
@najandz see answer on https://github.com/vercel/next.js/discussions/11060

[2020-07-05 14:12] IRediTOTO opened #411 "Set language and keywords with next-seo"
Hi, just found next-seo, thank you for create this, look so easy to setup
I want to ask about language
how can set `lang="en-EN"` and keywords?
I tried like bellow but it didn't show
[code]
![image](https://user-images.githubusercontent.com/15695252/86534652-2208d500-bf04-11ea-8614-370a475f343b.png)

[2020-07-08 02:01] joeyorlando commented on #165
+1

[2020-07-08 08:02] pueyo5 opened #415 "Add Carousel"
Hi,

First of all I want to thank all the contributors for maintaining this project.
I need to add a JSONLD Carousel to my site. Are you planing to implement it?
https://developers.google.com/search/docs/data-types/carousel

Thanks

[2020-07-09 18:36] garmeeh commented on #400
Hey @erhankaradeniz I have done a bit of research around real estate listings in the past and I am not sure they would any real value to SEO.

Maybe you have a use case I am missing?

I think some of the best things to add to a real estate site can be:

`Event` for open viewings
`LocalBusiness` for the estate agent

Also FAQ could be valuable, although these now have to visible to the user on the

[2020-07-09 18:41] garmeeh commented on #367
Hey @angus-kablamo please feel free to follow up with a PR if still a requirement.

[2020-07-09 18:41] #367 closed

[2020-07-09 18:46] garmeeh commented on #389
Hey @llamerr I will need to investigate this one a bit more but I think if you do set the defaults you will need to override them fully. I think this was a limitation of Next itself. I thought this was documented but just realised it is not. I will update the docs and look into it.

[2020-07-09 19:01] #383 closed

[2020-07-09 19:02] #369 closed

[2020-07-09 19:07] garmeeh commented on #411
Hey @IRediTOTO what you have for  `languageAlternates` looks valid.

I suspect adding the `keywords` prop may be causing an issue. It is not supported by `next-seo`. This is mainly due to it no longer being used by search engines such as google.

See in [here](https://github.com/garmeeh/next-seo#additional-meta-tags) in the docs on how you could add them if you wanted, but for SEO purposes they ar

[2020-07-09 19:14] #410 closed

[2020-07-10 02:36] #411 closed

[2020-07-10 06:55] garmeeh commented on #410
@navandstokes this has been fixed and released in `next-seo@4.7.2` any issue with it please let me know.

[2020-07-10 20:25] arecvlohe opened #420 "next-seo and static export"
Hi! Thanks for this great library. Really makes implementing SEO much nicer experience in nextjs.

I have been running into the issue, and I have seen others online have too, with getting the `next/head` to render during static export. Take a look at this example I have in my repo. I am using both defaultseo and nextseo in my application:

- defualtseo: https://github.com/nativesintech/nativesinte

[2020-07-11 09:39] arnaudjnn opened #421 "og:price"
How can I add og:price:amount as it's done one this page: https://www.farfetch.com/fr/shopping/men/off-white-baskets-odsy-1000-item-15556374.aspx

[2020-07-12 23:01] pbassut commented on #99
I had the same issue and I solved it by making sure any data fetching work happened before the response was written.

SEOs engines will make a simple request to your server and use the html given *on first render*.
What happened in my case was: I was fetching some data client-side and expected SEO engines to pick up.

So essentially changing this:

[code]

To this:
[code]

From 9.3 onwards, of cou

[2020-07-13 18:21] garmeeh commented on #420
Hey @arecvlohe from what I can see the meta tags seem to be rendering correctly 🤔

When you disabled JS or view page source you can see what the server is rendering it as and they are present.

This is what I get:

[code]

[2020-07-13 18:27] #375 closed

[2020-07-13 18:46] arecvlohe commented on #420
This is my mistake. On netlify's website they say:

I was viewing them too early probably.

re: https://docs.netlify.com/site-deploys/post-processing/prerendering/#set-up-prerendering

[2020-07-13 18:46] #420 closed

[2020-07-13 18:47] garmeeh commented on #420
Ah good to know. Thanks for letting me know 😄

[2020-07-14 13:07] BackToTheCode opened #424 "Events - Add Virtual locations and Online events"
It looks like EventJSONLd component does not support VirtualLocations and online eventAttendance:
* https://schema.org/VirtualLocation
* https://schema.org/eventAttendanceMode

Would it be possible to bring these in? Or is there a means of adding our own custom JSON-LD?

[2020-07-15 11:22] pueyo5 opened #426 "Request - Product AggregateOffer"
It would be nice that ProductJsonLd accepts an AggregateOffer prop.

Example of output:
[code]

If using the agregateOffer property, then the offers param has to be optional.

https://schema.org/AggregateOffer

Thanks,

[2020-07-16 08:05] visualcookie commented on #14
Hej.

I don't quite understand, why you are against adding the `twitter:` meta tags, as they are vital for Twitter as stated here under "Twitter Cards and Open Graph": https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started

Also the `twitter:` meta informations support the creators name (e.g. for blog articles) and the sites name. I get when you say, `og:image` is

[2020-07-17 11:25] flohil opened #428 "How to add a second location for LocalBusinessJsonLd?"
Hi!

I tried adding a second shop location for <LocalBusinessJsonLd>, that has different opening hours and a different address from the "main" shop location. Is there a way to do that?

If I add two <LocalBusinessJsonLd> tags on a page and inspect the resulting html code of the website, the second one seems to override the first one.

[2020-07-17 15:30] pueyo5 commented on #426
**PR:** https://github.com/garmeeh/next-seo/pull/429

[2020-07-21 00:00] igormartimiano opened #433 "Is there a way to customize the order which metas are rendered?"
Hey there, I got multiple tags in the <head> in my app and some of them are links, which are placed at `_document.js`. Those links are always rendered before all the metas included by `<DefaultSeo>` component.
Here is an example:
_document.js
![Screen Shot 2020-07-20 at 20 49 12](https://user-images.githubusercontent.com/22182599/87997077-78f8d780-caca-11ea-840e-124f3a4df78a.png)
_app.js
![Screen

[2020-07-23 20:10] danielcolgan commented on #131
I'm trying to add sitelinks search box, see: https://developers.google.com/search/docs/data-types/sitelinks-searchbox#example, up ❤️

[2020-07-24 11:08] statebait commented on #415
Has this been picked up? If not, I could pick it up. @garmeeh

[2020-07-27 12:07] rb162215 opened #440 "Next/head not found"
After running  - `npm install --save next-seo`

in my package.json i have ` "next-seo": "^4.7.3",`

Then i run npm install and then

On running npm start

Module not found: Can't resolve 'next/head' error received.

![Screen Shot 2020-07-27 at 5 32 42 PM](https://user-images.githubusercontent.com/46552717/88539932-bf50b800-d02f-11ea-97d8-51724aeaff36.jpg)

how to fix this? any help on this?

[2020-07-27 13:12] statebait commented on #415
@garmeeh ? I know you must be really busy, sorry for bothering.

[2020-07-29 06:20] jnv commented on #440
Hi, what's your version of `next`?
Or perhaps could you please show us what you have in `dependencies` and `devDependencies` inside your  `package.json`?

[2020-07-29 06:27] jnv commented on #433
Hi, I also ran into this and in general this is not an issue with this plugin, but Next.js' behavior. Anything what goes into _document will be statically rendered and your custom Head declarations go above the defaults (i.e. charset and viewport). One possible workaround is to put all global meta tags into _app, but personally I don't like this either.

It's possible someone opened an issue or di

[2020-07-29 13:09] rb162215 commented on #440
i fixed the problem by running -

`npm install next`

documentation says to install `npm install --save next-seo`

but need to install both next and next seo.

[2020-07-29 13:18] jnv commented on #440
Well, I guess this is implied in the description:

So... :shrug:

[2020-07-30 00:19] igormartimiano commented on #433
Thanks for answering, I'll check it out.
One thing that also might resolve the issue is creating a similar `additionalMetaTags` option for links, as they are very common to be present consistently between pages and also used for SEO. I could work on that.

Thoughts?

[2020-07-30 11:38] codyng opened #446 "SSR supported?"
Hi all authors,

I am new to next-seo. I would like to know if next-seo DOES support next.js SSR??

When I export the site statically, the meta tags are all gone.

I am using next.js 9.5.0.

Thanks!!

[2020-07-30 13:00] codyng commented on #446
I've just found that the reason is `<PersistGate loading={null} persistor={persistor}></PersistGate>`.
Because I am using redux and persist-redux in react.

If I take out the `<PersistGate>` line, the meta tags are fine.

_app.js:

[code]

What is the problem there? I must use redux+persist-redux....

[2020-07-30 13:51] codyng commented on #446
Just found a workaround: stackoverflow.com/a/62404156/12968082 here

[2020-08-06 09:58] dependabot-preview[bot] opened #453 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/garmeeh/update-logs/42763775).

[2020-08-06 09:58] dependabot-preview[bot] opened #454 "Dependabot couldn't authenticate with registry.npmjs.org"
Dependabot couldn't authenticate with registry.npmjs.org.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/garmeeh) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/garmeeh/update-logs/42763775).

[2020-08-06 09:58] #454 closed

[2020-08-07 10:34] #453 closed

[2020-08-07 21:10] cullylarson opened #455 "`image` attribute set to "undefined" if not provided to `LocalBusinessJsonLd`"
If you use `LocalBusinessJsonLd` and don't include an `images` prop, the schema will be generated with the `image` attribute set to the string `"undefined"`. Same thing happens if no `id` is provided. It seems like it should not be included in the schema output at all, if empty.

For example:

[code]

Will generate:

[code]

[2020-08-07 21:22] cullylarson opened #456 "Cannot set `openingHours` as a string, and the `openingHours` prop is actually set to the `openingHoursSpecification` attribute"
In the schema.org spec, `openingHours` can be set to a string. However, next-seo accepts what is actually a `openingHoursSpecification` value for its `openingHours` prop. So there is no way to directly set the `openingHours` schema.org attribute as a string.

We natively store our business location's open hours as schema.org `openingHours` strings. They're pretty easy to parse and store. Ideally w

[2020-08-11 05:17] angus-kablamo commented on #367
@garmeeh Apologies this took a while. Added a boolean in this PR https://github.com/garmeeh/next-seo/pull/458

[2020-08-15 21:36] #389 closed

[2020-08-21 07:15] IRediTOTO opened #464 "How can we get a full URL of current page? userRouter look like dont have it"
Hi, tag canonical need a full URL, what is the best way to take it? Thank you

[2020-08-22 09:56] IRediTOTO opened #465 "Add Category for Product"
Hi can you please add Category for product ? I think it should have it :D
https://schema.org/category

[2020-08-23 16:59] #426 closed

[2020-08-24 06:54] pueyo5 commented on #426
Still not done

[2020-08-27 07:00] pueyo5 commented on #415
Still pending

[2020-08-27 15:42] gunar commented on #73
Apparently it is required. At least for LinkedIn. I couldn't get `next-seo` to make the OG image show up in LinkedIn. [This StackOverflow answer tells me to add the prefix to the meta tag](https://stackoverflow.com/a/25093272/1456173). However, I just learned that setting it as an attribute on the `html` tag works as well:

[code]

[2020-09-04 02:55] kahoowkh opened #475 "Include logo in Job Posting JSON LD"
According to [document of Google](https://developers.google.com/search/docs/data-types/job-posting#hiring), should `logo` be added to `hiringOrganization` of Job Posting?

[code]

[2020-09-04 09:57] m-reka opened #477 "Why not using schema-dts?"
Hi,

I cam across your package which is very **Nice**! So first of all thanks for this guys 👏

I took a tour of the project and noticed that:

- Several issues concerns the addition of fields or bug related to JSON-LD.
- I saw that you had developed your own types.

And so I ask you if it would not be wise to replace your types by https://github.com/google/schema-dts ?

With this approach, you wil

[2020-09-04 17:14] #440 closed

[2020-09-05 02:37] #433 closed

[2020-09-05 14:17] #446 closed

[2020-09-09 05:24] mshez commented on #464
There are couple of Stackoverflow questions yet unanswered.

https://stackoverflow.com/questions/63805183/nextjs-how-do-i-get-canonical-url-for-dynamic-pages
https://stackoverflow.com/questions/61574405/how-to-access-canonical-url-in-next-js-with-automatic-static-optimization-turned

only way left is is using router.asPath for dynamic routes. (This way it should be rendered on client side and wont

[2020-09-09 09:56] IRediTOTO commented on #464
I must use .env file. I work, but if we want run site on 2 domains this will not ok :( vercel or heroku look like dont have system variable for this. Sad

[2020-09-12 08:56] zommerberg opened #481 "Support multiple authors in JSON-LD"
Hello, is there a way to add a richer authors support for articles/blog posts that were written by multiple people?

Right now we only have `authorName={'John Cena'}` , which is just a String. And results to:
[code]
Could we have that as a String[] so we can pass `authorName={['John Cena','Scott Steiner']}`

This way the JSON-LD would result to
[code]

[2020-09-18 16:54] igormartimiano commented on #477
Adds a dep but it does fit this project perfectly. Could also help. +1

[2020-09-22 21:11] rodbs commented on #415
I'm also interested in adding Carousel.
Thanks!

[2020-09-24 05:30] ssohymind opened #491 "Open Graph locale:alternate not supported"
https://ogp.me/#optional
I tried to use `<meta property="og:locale:alternate" content="ko-KR">` something like this, to support multi-language for og metadata. However, I cannot find a way to put multiple `og:locale:alternate` property. Is there any way to use it?

[2020-09-24 12:05] popuguytheparrot opened #492 "Why using App instead of Document for DefaultSeo?"
Why using App instead of Document for DefaultSeo?

[2020-09-24 19:56] garmeeh commented on #415
Hey all, I tried to have a go at this but I am really busy at the moment in work and did not get very far.

If anyone would like to have a go at it, that would be great 🙏

[2020-09-24 20:00] garmeeh commented on #464
Sorry this would be outside the scope of next-seo is very dependent on how you have deployed your site.

[2020-09-24 20:00] #464 closed

[2020-09-24 20:05] garmeeh commented on #477
Hey @m-reka / @igormartimiano I think it could be a good fit 🤔

Would  one/both of you be interested in working on a proof of concept to see how it fits with the project?

[2020-09-24 20:07] garmeeh commented on #491
Hey @ssohymind  [additionalMetaTags](https://github.com/garmeeh/next-seo#additional-meta-tags) should do the trick for you.

Please re-open this issue if not.

[2020-09-24 20:07] #491 closed

[2020-09-24 20:13] garmeeh commented on #492
Hey @popuguytheparrot this is following Next.js recommendation of using `next/head` in page components and not n `_document`

[2020-09-24 20:13] #492 closed

[2020-09-25 16:03] #263 closed

[2020-09-28 15:11] statebait commented on #415
Great, expect a PR this week!

[2020-10-01 22:55] gtodd876 commented on #455
I'd be happy to make a PR for and make `id` and `images` optional but I noticed in the docs that they are both listed as required properties for Local Business. Is that ok, to still make this change and then update docs to say those props are optional? I might need a little help on what course of action to take on the test for this as I don't have much experience yet with Cypress.

[2020-10-02 03:19] thelovekesh commented on #481
Yes, you can add two authors' names to search results JSON-LD.

For example:

<script type="application/ld+json">
{
     "@context": "http://schema.org",
     "@type": "WebPage",
     "mainEntity": {
          "@type": "Book",
          "author": [{
               "@type": "Person",
               "familyName": "van der Westhuizon",
               "givenName": "Jason",
               "name": "Jaso

[2020-10-02 03:27] thelovekesh commented on #481
Yes, you can add two authors' names to search results JSON-LD.

For example:

[code]

[2020-10-02 05:41] igormartimiano commented on #477
I've been quite busy for the last couple weeks but I may be able to work on it for the next week.
@garmeeh Maybe migrating two schemas would be a good proof of concept?
@m-reka let me know if you're already working on it at some branch

[2020-10-02 08:06] garmeeh commented on #455
Hey @gtodd876 a PR would be brilliant.

So I think for the docs:
- Mark `images` as recommended
- Leave `id` as required

For the code:

I think if the user does not add either prop, then `next-seo` should not output anything.

I need to refactor the tests a little to allow for multiple scenario testing so in this case I think just manually testing for now will be ok.

[2020-10-02 12:41] elkinny commented on #384
Hi! @garmeeh  any updates regarding this one?

[2020-10-02 18:56] #475 closed

[2020-10-02 18:57] garmeeh commented on #477
@igormartimiano yeah migrating one or two sounds awesome. 💪

[2020-10-05 07:02] m-reka commented on #477
@igormartimiano not yet but I can give it a try next week if you didn't start it?

[2020-10-05 08:56] tacomanator opened #507 "defaultTitle not used on initial page load"
Defining `titleTemplate` in a default config file works fine as I browse around the site. However, the first page load seems to ignore the template and display just the `title` as is. I create an example repository to demonstrate:

https://github.com/tacomanator/nextjs-nextseo-defaulttitle

Here is an animation of the problem. Notice how the title is missing "| MySite" initially, and on reload.

!

[2020-10-05 22:13] jofelipe commented on #420
Hi!

First of all, thank you for this library. It helps a lot to deal with SEO in Next.js applications.

So, I'm facing the same issue with my application, but mine is deployed at Vercel.

I'm using Static Generation (getStaticProps), and when I see my source code using browser inspect (client side), I can see all meta tags generated:

[code]

But in the static page generated by Next, only tags co

[2020-10-07 19:40] joeyorlando commented on #75
Was trying to accomplish the same thing as @Ktchan825, ended up having to import directly from the ES module file (`/lib/next-seo.modern.js`). In my case looked something like this:
[code]

I am also using Typescript in my project. After changing my import from `from 'next-seo` to `from 'next-seo/lib/next-seo.modern` it started complaining that it couldn't find the type files for `next-seo/lib/nex

[2020-10-08 12:57] modbender opened #511 "Anyway to access meta info?"
Does NextSeo provide any way to access the meta values on the page?
I'm using Disqus React and I need to access the complete page `title` for the code:
https://www.npmjs.com/package/disqus-react#discussionembed
If it was just the `title` I would be fine if it was redundant, I mean if I had to type it again and again in many places in same page, but i'm using `titleTemplate`, and typing this again

[2020-10-08 13:11] modbender commented on #511
I had this problem before but I forgot how I solved it, I'm not sure but try putting `DefaultSeo` before `Component` in `_app.js`?

[2020-10-08 13:12] modbender commented on #507
I had this problem before but I forgot how I solved it, I'm not sure but try putting `DefaultSeo` before `Component` in `_app.js`?

[2020-10-08 21:50] joeyorlando opened #514 "Potential Bug in ProductJsonLd"
Hi there,

Amazing library. I've been using it in production for a recent ecom site I deployed. I'm using the `ProductJsonLd` component on my `/product/[slug].tsx` page as such:
[code]

Recently I started noticing some errors being reported in Sentry:
[code]
Digging a bit deeper locally I see this stack trace:
[code]

I believe I've narrowed down the cause to when the `productName` prop contains a

[2020-10-09 01:15] jofelipe commented on #420
So, I figure it out what happened.

In other issues, people said that it's related to providers/hooks that **returns null if there is no data**. So I checked my providers and I found the mistake... It was not related to providers but I had a conditional render of components, like this:

[code]

Basically, the component as rendered with useEffect. So in this case, next-seo could not set their metat

[2020-10-09 06:09] tacomanator commented on #507
@modbender  that did the trick thank you! Not sure if this should be considered working as is and maybe include a note in the docs about the order of 1DefaultSeo` and 1Component`, or as a bug?

[2020-10-09 08:48] durdenx opened #515 "[LocalBusinessJsonLd] Escape double quotes in description field"
If i use double quotes in the description field of `LocalBusinessJsonLd`, i get `Uncaught SyntaxError: Unexpected token d in JSON at position 190`.

For example, the code below crashes:
[code]

Complete stacktrace:
[code]
Context:
next-seo: 4.11.0
next: 9.5.4

[2020-10-09 19:48] joeyorlando commented on #515
I ran into the same issue yesterday, see #514

[2020-10-09 20:26] joeyorlando commented on #514
hmm I thought it would be this simple:
[code]
but that still doesn't work because it also replaces the double quotes that are needed to delimit the strings in the JSON. I think we'd have to escape double quotes, for each piece of data, before calling `minifyJsonLd` (https://stackoverflow.com/a/49428083/3902555)

[2020-10-12 18:13] garmeeh commented on #514
@joeyorlando thanks for reporting. 🤔 I am thinking I might temporarily remove the minify method as it may causing issues for people in production without realizing.

[2020-10-12 18:16] garmeeh commented on #507
@tacomanator a pull request to add a note to the docs about this would be awesome 😅

`DefaultSeo` must come before `Component`due to the behavior of next internals.

[2020-10-14 04:48] Samia195 commented on #182
Add the #511

[2020-10-15 06:56] mandelcode opened #521 "Additional values for "robots" meta"
Hello, Seeing the source code I understand it's not possible to add values to the "robots" meta tag.

Thus it's not possible to use the new Google discover directives:
https://developers.google.com/search/reference/robots_meta_tag?utm_source=wnc_20130426&utm_medium=gamma&utm_campaign=wnc_20130426&utm_content=msg_110348011&hl=en-GB#max-image-preview

Suggestion :  add a way to do this.

Ideally the

[2020-10-15 16:15] schlosser opened #523 "next-seo breaks on Next v9.5.4"
Due to https://github.com/vercel/next.js/issues/17721, using this library in the Next.js `<Head>` results in `Failed to execute 'createElement' on 'Document'`.

Is there any workaround for this issue? Or is next-seo not compatible with that version of Next.js?

[2020-10-15 16:37] Sufriey360 opened #524 "Hallo"

[2020-10-15 16:38] Sufriey360 commented on #524
https://en.wikipedia.org/wiki/Death_by_coconut

[2020-10-15 16:42] garmeeh commented on #523
Hey @schlosser I haven't had a chance to look into this issue fully just yet, but `next-seo` [returns an array](https://github.com/garmeeh/next-seo/blob/master/src/meta/nextSEO.tsx#L25) as recommended.

My integration tests passed for `v9.5.4` so I managed to give it a very quick test manually and it seems ok. But as I said it was a very quick test. Could you provide me with a simple reproduction

[2020-10-15 18:45] Namya0303 commented on #415
hey @statebait is this topic up for hacktoberfest 2020?

[2020-10-15 19:29] statebait commented on #415
@Namya0303 not sure. The PR for this issue is already up though - https://github.com/garmeeh/next-seo/pull/518

[2020-10-15 19:31] #481 closed

[2020-10-15 20:25] #524 closed

[2020-10-15 23:06] mistreckless opened #529 "We need to have an option to add an additional parameters to jsonld"
Guys, next-seo is good, but schema.org support much more parameters.
Could you add to all jsonld props something like
`additionalParameters?: Map<string, string>
`
or
`additionalParameters?: Map<string, any>
`
please?

[2020-10-16 13:52] modbender commented on #182
Wow I also had that idea.

[2020-10-16 15:01] schlosser commented on #523
Yeah – looking at the thread it seems like this is on their end. Feel free to close this, or keep it open for folks to find until there is a fix patched in. Thanks!

[2020-10-16 15:03] schlosser commented on #523
Looking at my implementation, I think what happened was I was using `<NextSEO>` _inside of_ `<Head>`, which isn't correct.

[2020-10-16 15:21] garmeeh commented on #523
Thanks for following up @schlosser 👌 I will leave this open until this has been patched. I also might add a warning in the docs about not nesting NextSeo within head maybe 🤔

[2020-10-16 15:29] schlosser commented on #523
That would be great! I definitely glossed over that :)

[2020-10-16 19:03] alexpolicastro opened #533 "JSON-LD VideoObject missing?"
I don' see an option for VideoObject JSON-LD. Is this just named differently or not yet added?
https://developers.google.com/search/docs/data-types/video

Thanks, next-seo is really helpful!

[2020-10-17 08:21] modbender commented on #507
I think it's about time this is closed.

[2020-10-17 08:22] #507 closed

[2020-10-17 08:32] modbender opened #535 "[Bug] key not passed to child element"
Recently I started seeing this error:
![Error](https://user-images.githubusercontent.com/25717245/96332139-1f2f8b80-1080-11eb-994d-8f0cf518562c.png)

It turned out to be due to `additionalMetaTags`:

[code]

The error is especially showing if there are `additionalMetaTags` that has no `name` and `property`.
https://github.com/garmeeh/next-seo/blob/67745207140d2fe00b5c27f721c769045436cec2/src/meta/

[2020-10-17 15:30] statebait commented on #415
This is released in https://github.com/garmeeh/next-seo/releases/tag/v4.13.0. Can be closed now.

[2020-10-17 16:38] Zrce opened #536 "How to pass data into the openGraph object?"
I'm stuck with the documentation. How to pass data into the openGraph object. I have string with the title in pageContext.title. I'm able to get in into title but the openGraph title I don't know how to set?

[code]

[2020-10-17 19:37] garmeeh commented on #415
👍 Thanks. (GitHub should have closed this 🤔)

[2020-10-17 19:37] #415 closed

[2020-10-17 19:39] garmeeh commented on #536
Hey @Zrce, looks like you might be using [GatsbySeo](https://www.npmjs.com/package/gatsby-plugin-next-seo) rather than `next-seo`?

[2020-10-18 03:29] qionghuang6 opened #539 "Reviews for Courses"
Hi there, before I start, I want to say that this library is really great and has been quite helpful to me.

Some features that I noticed could be useful additions to the JSON-LD functionality are [Sitelinks Search Boxes](https://developers.google.com/search/docs/data-types/sitelinks-searchbox) and more support for [Review Snippets and Aggregate ratings](https://developers.google.com/search/docs/d

[2020-10-18 06:53] #536 closed

[2020-10-18 06:54] Zrce commented on #536
sorry yes

[2020-10-20 17:33] erhankaradeniz commented on #515
This is also happening on the jobpost description.. is there any ETA for the fix? It's happening for the literal character of a '"' and the html entity. I can work around by replacing those with a single quote but a fix from the plugin would be apreciated :)

[2020-10-20 19:37] garmeeh commented on #514
I temporarily removed this functionality in v4.14.0

I opted for minor release just in case anyone had workarounds in that removing this feature breaks.

[2020-10-20 19:37] #514 closed

[2020-10-20 19:38] garmeeh commented on #515
@erhankaradeniz I temporarily removed this functionality in v4.14.0

I opted for minor release just in case anyone had workarounds in that removing this feature breaks.

[2020-10-20 19:38] #515 closed

[2020-10-21 10:50] omar-dulaimi opened #543 "Can't find docs for "WebSite" schema"
Hello,
any luck that the WebSite schema is actually supported by the library and just missing its docs?
I couldn't find it anywhere, so perhaps there's a reason for that.

Edit:
I'd like to work on a PR for this if possible.

[2020-10-21 16:18] crosscompile opened #544 "DefaultSeo og:title and og:description only overridden by NextSeo when openGraph config provided"
Hi!  First off, thank you so much for this library!

I noticed some unexpected behavior (not sure if it's a bug or intended) when using `DefaultSeo` and `NextSeo`.  The `DefaultSeo` `og:title` and `og:description` meta tags are not overridden by `NextSeo`'s `title` and `description` configurations unless an `openGraph` configuration object is provided to `NextSeo`.  I believe this is due to https:

[2020-10-24 16:40] mahaveer0496 opened #548 "Add support for remote jobs in JobPostingJsonLD"
Right now `jobLocation` is mandatory but for remote jobs its not and `jobLocationType` is needed.

https://developers.google.com/search/docs/data-types/job-posting#structured-data-type-definitions

![image](https://user-images.githubusercontent.com/23198481/97087175-a911c280-1645-11eb-868d-15c32667c9bd.png)

[2020-10-26 19:04] johndavidpena commented on #533
Same question for me concerning the VideoObject.

Thanks guys, this is super helpful and much appreciated!

[2020-10-27 13:45] erhankaradeniz opened #551 "Add support for dataType QA"
Hi I'd like to request the addition of QA so I can use next-seo for this type instead of structuring it myself.
Link to google documentation - [Q&A Data Structure](https://developers.google.com/search/docs/data-types/qapage)

[2020-10-28 14:48] LuizHAP opened #556 "Image URL using OpenGraph does not appear in html"
I tried to remove the markings, but it always inserts in the html without the content of the content

![image](https://user-images.githubusercontent.com/20971507/97452329-61c05600-1913-11eb-99a4-9058f7be8ce0.png)

![image](https://user-images.githubusercontent.com/20971507/97452457-874d5f80-1913-11eb-9c5e-a954def74ada.png)

[2020-10-28 14:56] LuizHAP commented on #556
Wow, I'm really stupid. My IMAGE_OG variable was null

[2020-10-28 14:56] #556 closed

[2020-10-28 20:46] TomPradat commented on #347
Hey there, was this added yet ? Else can I work on this ?

[2020-10-28 20:48] Vladimir1f commented on #347
Work, work my friend23:46, 28 октября 2020 г., TomPradat <notifications@github.com>:
Hey there, was this added yet ? If not can I work on this ?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or unsubscribe.
-- Отправлено из мобильного приложения Яндекс.Почты

[2020-10-31 01:41] mvgadagi opened #563 "InvalidCharacterError: Failed to execute 'createElement' on 'Document': The tag name provided ('function SocialProfileJsonLd(_ref)"
Hello,

I have upgraded my project to next to v10.0.0 and react to 17.0.1 and I started facing this run time error, can you please take a look

packages used
    "next": "^10.0.0",
    "next": "^10.0.0",
    "react": "^17.0.1",
    "react-dom": "^17.0.1"

And I am seeing the error as below

Unhandled Runtime Error
InvalidCharacterError: Failed to execute 'createElement' on 'Document': The tag name

[2020-10-31 01:43] mvgadagi commented on #523
I have tried this on next v10.0.0 and I have having the same issue, is there any work around you suggest for the moment ?

Regards,
Mahesh

[2020-10-31 15:08] garmeeh commented on #563
Hey @mvgadagi this is related to #523 and also this upstream issue: https://github.com/vercel/next.js/issues/17721

Can you post how you are using Next Seo? If it is contained within `<Head>` it will cause an error.

[2020-10-31 15:14] garmeeh commented on #544
Hey @crosscompile yeah I think this is a bug alright. That top level check looks like a good candidate for the reason.

Maybe a simple fix would be to move title and description to be before this.

[2020-10-31 15:15] garmeeh commented on #543
Hey @omar-dulaimi do you have an example of what you would propose was added?

[2020-10-31 15:16] garmeeh commented on #539
Hey @qionghuang6 these would be great additions to next-seo if you would like to put a PR forward.

[2020-10-31 15:22] garmeeh commented on #535
Hey @modbender ah sorry about that. I like the structure of your first solution, but maybe tweaking it to use `Object.keys` for better browser support 🤔

[2020-10-31 15:23] garmeeh commented on #533
Will be publishing new version with this this afternoon thanks to @valse

[2020-10-31 15:23] #533 closed

[2020-10-31 18:32] garmeeh commented on #563
Spent the last while testing this issue and if `next-seo` is not nested within `<Head>` I get no issues with the latest versions.

I have created a small demo app just to verify, please let me know if I have mistaken the issue.

https://github.com/garmeeh/next-seo-demo

[2020-10-31 18:32] #563 closed

[2020-10-31 18:33] garmeeh commented on #523
Spent the last while testing this issue and if `next-seo` is not nested within `<Head>` I get no issues with the latest versions.

I have created a small demo app just to verify, please let me know if I have mistaken the issue.

https://github.com/garmeeh/next-seo-demo

[2020-10-31 18:33] #523 closed

[2020-11-01 04:43] mvgadagi commented on #563
Hi @garmeeh sorry  I couldn't respond you soon, I have verified my code and I found that I had used SocialProfileJsonLd inside HEAD, thanks for the demo repo I will follow that and update my project.

Thanks for your good work !!

Regards,
Mahesh

[2020-11-01 09:28] omar-dulaimi commented on #543
Hello @garmeeh
This is the one: https://developers.google.com/search/docs/data-types/sitelinks-searchbox

Can I work on it? and any idea how you guys decide if a field is required since Schema.org doesn't have such thing?

[2020-11-01 09:51] garmeeh commented on #543
Hey @omar-dulaimi a pull request would be very welcome. There is another issue opened refers to Sitelinks you can see it here #539. I will close this issue so there is not a duplicate. If you are going to work on it could you a comment on #539 to say you are going to work on SiteLinks so that there is a not a duplication of effort.

As for the required properties, I normally aim to please Google s

[2020-11-01 09:51] #543 closed

[2020-11-01 12:23] omar-dulaimi commented on #539
Hello @qionghuang6
unless you have already started, can I work on it instead?
it's okay if you want to work on it yourself, there are plenty of other schemas to implement

[2020-11-01 22:16] qionghuang6 commented on #539
Hey @omar-dulaimi. Are you talking about the sitelinks search box? I haven't done much on it but it seems pretty simple. You can do it.

[2020-11-03 18:20] modbender commented on #535
I don't understand the difference, value or keys either should have equal support right? Either way I would recommend to go with
[code]
for now, I check online and as I see it, meta tag can have only 3 types `name`, `property` or `httpEquiv` so it should cover everything needed and there's no issue with any compatibility or anything.

[2020-11-04 10:10] geekysrm opened #569 "Twitter summary_large_image not working"
Code: https://github.com/geekysrm/soumya.dev/blob/master/src/layouts/index.js#L81
Site: https://soumya.dev/what-is-tailwind-css

As you can see below, it is not displaying the full image though I have used 'summary_large_image"
![image](https://user-images.githubusercontent.com/10224804/98098107-ea129e00-1eb3-11eb-8a14-e67f9b9f532c.png)

[2020-11-04 20:44] geekysrm commented on #569
It was an error from my side!

Closing this.

[2020-11-04 20:44] #569 closed

[2020-11-09 01:19] rodzy commented on #551
Hi @erhankaradeniz, @garmeeh. I'm currently working on this feature.

[2020-11-10 20:18] #548 closed

[2020-11-10 20:18] garmeeh commented on #548
Available in v4.16.0

[2020-11-12 19:08] garmeeh commented on #539
SiteLinks has been added so updated title to reflect what is still outstanding.

[2020-11-12 19:09] gtodd876 commented on #455
This is still an issue after my PR?

[2020-11-12 19:11] garmeeh commented on #455
😬 whoops @gtodd876 my bad. I just seen stale bot closed it and re-opened without checking. I must have forgot to close it after your pull request.

[2020-11-12 19:11] #455 closed

[2020-11-12 19:40] gtodd876 commented on #455
Oh no problem at all! Just wanted to make sure things were still good.

[2020-11-13 17:02] rodzy commented on #521
I think the correct way to do it will be adding additional props to the `robots` meta tag, I might start working on improving this soon

[2020-11-15 14:29] arnaudjnn opened #582 "shippingDetails"
How can I add shippingDetails inside product offers as detailed here: https://developers.google.com/search/docs/data-types/product ?

[2020-11-17 21:02] matteing commented on #366
This is hugely useful :)

[2020-11-19 16:00] ImSolitude opened #587 "How add local image to the default SEO object?"
I have an image in `public/images/bla.png` now I am using the `DefaultSeo` with `next-seo.config.js` how do I load that in the default SEO object?
[code]

[2020-11-27 05:00] trevorblades commented on #366
@switz @garmeeh I just opened a PR that adds a `defaultTitle` param in the style of `react-helmet`. In short, if a `defaultTitle` is added, then pages with no `title` defined will still get the default value.

For example, let's say I had the following in my `_app.js`:

[code]

My home page might look like this:

[code]

But another page in my website that doesn't have a `title` set would still re

[2020-12-01 05:46] Eyas commented on #477
Just a drive-by comment here: I'm the author of schema-dts (and its sibling library, google/react-schemaorg). Let me know if you need any help integrating this.

I was curious at how you stringify JSON-LD right now, and note that doing `JSON.stringify` in utils/markup is not enough. See the brief note here: https://github.com/google/react-schemaorg/blob/master/src/json-ld.tsx#L165-L168 tl;dr is th

[2020-12-03 13:31] paambaati opened #602 "Feature request — Add support for a salary range"
JSON+LD Schema allows specifying a salary range (with a minimum and a maximum value). Adding support for a range is very valuable, as most jobs (as evidenced by listings on StackOverflow, HackerNews Who's Hiring threads, AngelList, etc.) all have a range instead of a fixed value.

I've also raised a PR (see https://github.com/garmeeh/next-seo/pull/601) that implements this feature.

Ref —

1. http

[2020-12-03 13:47] paambaati commented on #131
@garmeeh +1 for this feature. Because this library doesn't support every Schema option, and because Schema could also change, it would be nice to have an escape hatch of sorts.

Something like —

[code]

Assuming `alt` is a Schema object that isn't currently supported by `LogoJsonLd`. Everything in `custom` will be passed on to the JSON+LD object as-is.

[2020-12-06 08:56] switz commented on #366
Awesome work!

[2020-12-10 06:05] trevorblades commented on #366
FYI, you can accomplish this "default/fallback title" behaviour by simply adding a `<title>` to your `_app.js` file:

[code]

[2020-12-11 15:27] sachdeva-shrey opened #610 "Override default Open Graph configuration"
I'm having trouble overriding the default OG config in my components. I have implemented the `defaultSeo` in my `_app.tsx` file and overriding it on the other pages. The default SEO tags are getting overridden but not the OG tags. Is this by pattern that the default OG configuration would not be overwritten by just the `seo:title` and `seo:description` tags and we need to explicitly change the  `o

[2020-12-11 15:34] sachdeva-shrey commented on #610
Seems like a duplicate of #544 so closing this issue.

[2020-12-11 15:34] #610 closed

[2020-12-11 15:36] sachdeva-shrey commented on #544
Facing the same issue. Would be great if you could resolve this soon. Thanks!

[2020-12-13 17:21] simonschllng opened #611 "Readme: Version numbers 6.0.0 - 7.0.0-canary.0 unclear"
The README says:

The current version is `4.17.0`

Which version numbers is the sentence referring to?

[2020-12-16 08:17] eivindml commented on #424
I'm currently looking into the same thing. Would love to see support for online events.

[2020-12-16 13:37] yedhink commented on #611
I think the author meant the canary version of `nextjs`. Not confirmed though.

Quoting a sentence from Readme:

          tags: ['Tag A', 'Tag B', 'Tag C'],

[2020-12-22 19:40] #582 closed

[2020-12-23 20:15] appdevland opened #612 "Feature Request: Make datePublished/dateModified optional values in Blog and Article schemas"
These values are not required for blog/article schemas as far as i know so can we make them optional?

I took a look at the code base. It's extremely simple to do and it's a feature I would love to have because some of the blog posts on our website don't have dates (evergreen content).

Cheers!

[2020-12-25 08:52] xstable opened #613 "Scheme for Webpage / Website"
See here for more information about that:

- https://jsonld.com/web-page/
- https://jsonld.com/website/

[2020-12-26 16:14] jacobedawson commented on #613
A schema for JSON-LD type "WebSite" would be great

[2020-12-26 22:19] #587 closed

[2020-12-30 13:11] jacobedawson commented on #569
@geekysrm can you please post the configuration that is working for you now, I can't seem to get this working properly

[2020-12-30 13:29] jacobedawson opened #614 "How do you link to an image in the next-seo.config.js file?"
I have images in my Next.js project under the assets folder, e.g. assets/images/open-graph/image.jpg

I can link to these images from within my Next.jx project with no issue. I can't, however, seem to get these images to work within the next-seo.config.js file in the root of my project.

Can you please post a working example of how to link to an image from within the default SEO config file so tha

[2020-12-30 14:00] jacobedawson commented on #614
^ Just realized the issue is that I was using https://github.com/twopluszero/next-images and importing svgs from an assets folder than included an index file, whereas for public images I should just be using the public folder (which doesn't need the /public prefix in the path):

[code]

[2020-12-30 14:00] #614 closed

[2020-12-31 19:12] carlosHerz commented on #128
I am still having this issue when i run next build && next export my meta datas are not pre-rendered and instead are added on client side :/

[2021-01-03 00:20] geekysrm commented on #569
Hey @jacobedawson, just check this link:
https://github.com/geekysrm/soumya.dev/blob/master/src/layouts/index.js#L81

[2021-01-03 15:08] paambaati commented on #602
Not stale; at least I hope not. @garmeeh Just checking in. Is this good to go, or would you like some changes?

[2021-01-08 04:56] schlosser opened #615 "Using fewer images in <NextSEO /> than in <DefaultSEO /> breaks expected behavior"
Hey there! Thanks for this awesome library! It's been really helpful for our team.

I'm overwriting images in my app using `<DefaultSEO />` and `<NextSEO />`, and have found that if I pass fewer images in `<NextSEO />`, the result is that some of the defaults and some of the overrides render, rather than just the ones I passed in the override. I have a the following setup in my app:

[code]

[code

[2021-01-10 16:15] marcofranssen opened #616 "JsonLD not showing in html output"
I have included some JSONLD elements in a couple of pages, but I can't see them rendered in my html?

Where should I find them?

I'm using **Next.js** `10.0.4`.

[2021-01-10 16:17] marcofranssen commented on #616
The JSONLD shows up in the <head> section of a page in a `<script type"application/ld+json">` tag.

[2021-01-10 16:17] #616 closed

[2021-01-10 17:11] CedYF opened #617 "Reviews for Software App [Feature Request]"
It would be great if we could add software app as a JSON category for Next SEO.

There's more information here: https://developers.google.com/search/docs/data-types/software-app

I could try adding it but I'm not sure where to begin.

[2021-01-14 12:48] Besuf opened #619 "open graph image not previewing for telegram"
A Wonderful library to help with seo optimizatio. However, I faced some problems when rendering og:image preview in telegram for the other social media links works perfect. but not for telegram what am I missing.

` <NextSeo
        title="some site"
        description="some desc"
        openGraph={{
          type: "website",
          url: `https://somedomain.com`,
          title: "some title

[2021-01-14 16:39] Besuf commented on #619
this forum helped with the issue [Link](https://stackoverflow.com/questions/34707915/how-do-you-clear-the-open-graph-cache-of-an-url-on-telegram)

[2021-01-14 16:39] #619 closed

[2021-01-16 13:36] alexandrzavalii opened #620 "TypeError: Cannot read property 'tagName' of null"
not sure why it is happening
[code]

[2021-01-18 17:57] dpashovski commented on #81
I'm having this issue with Facebook Debugger , also reflects the posts that are posted ...
weird thing is that when i check some link with Facebook Debugged it shows that everything is okey , but if i rescrape the link few more times , at some point it gives me those warnings...
It's random.... if i check in the sourcecode i can see the meta tags but i'm still getting this warnings from time to ti

[2021-01-22 12:43] chrisbull commented on #182
Second this suggestion.

[2021-01-22 17:26] #611 closed

[2021-01-28 12:20] win7ers commented on #521
+1 for this feature, needing it now to add `noodp, noydir` to robots cause google is using weird descriptions

[2021-01-28 20:45] #535 closed

[2021-01-28 20:50] garmeeh commented on #617
If you are interested in working on this @CedYF and would like some direction let me know and I can add a comment and try give you help on where to start 😅

[2021-01-28 20:51] garmeeh commented on #620
What version of Next and next-seo are you using?

[2021-01-29 08:28] #366 closed

[2021-01-29 16:53] CedYF commented on #617
Yea that would be great

[2021-01-29 19:38] garmeeh commented on #617
Ok great. I will give you a brief overview and if you get stuck jump back on here and I can try give more direction.

1. First step would be to get the project running locally. You can find a guide on how to that [here](https://github.com/garmeeh/next-seo/blob/master/CONTRIBUTING.md) (I should probably update that to say fork the repo and clone from your fork 😅)
2. Next you want to create a file c

[2021-02-01 18:17] #613 closed

[2021-02-02 20:53] garmeeh commented on #617
Hey @CedYF, just want to check in to see have you started working on this feature? A pull request has been opened with the feature but as you had already stated your intention of working on it I think its only fair to allow you to complete it if you have started on it/would like to.

Would love to get your thoughts on it.

[2021-02-02 21:06] #602 closed

[2021-02-04 01:19] rodzy commented on #620
@alexandrzavalii Do you have a repo so I can try and replicate this behavior?

[2021-02-04 02:25] MarkoCen opened #638 "additionalMetaTags cannot render multiple meta tags with same property name"
Hi, I try to use `additionalMetaTags` to add open graph locale alternative meta tags
[code]

What I expect the rendered html should include two meta tags
[code]

But seem like it only pick the last meta tag with same property name
[code]

If the behavior is on purpose, then what is the proper way to add multiple meta tags with same property name? Thanks.

Versions:
"next": "10.0.6",
"next-seo": "4

[2021-02-04 02:26] MarkoCen commented on #638
You could see the issue in this repl.it project (https://repl.it/join/wkppmvcy-markocen)[https://repl.it/join/wkppmvcy-markocen]

[2021-02-12 03:48] gladevise commented on #14
Twitter does indeed read Open Graph, but for twitter's own meta tags (twitter:card, twitter:site, twitter:creator), you need to add them separately.
I think it would be useful if these options were provided.

[2021-02-20 12:18] romaincointepas opened #656 "[languageAlternates] hreflang rendered with wrong case (hrefLang)"
On `4.20.0`:
[code]

Should be:
[code]

[2021-02-20 17:48] garmeeh commented on #656
Hey @romaincointepas can you provide an recreation of this? Just checking here and for me it renders correctly.

[2021-02-20 17:53] garmeeh commented on #638
🤔 This is due to next-seo sets the key and Next only renders unique keys. If you have a look at the docs here it mentions it: https://github.com/garmeeh/next-seo#additional-meta-tags

To fix it, If you look at this line https://github.com/garmeeh/next-seo/blob/master/src/meta/buildTags.tsx#L656

We would need to allow an optional key prop to be passed in.

[2021-02-21 20:11] thiras commented on #131
+1 for the feature

[2021-02-22 23:44] b-gibbs opened #657 "Meta Tags Set In Pages Aren't Being Rendered in Source Code"
I'm fully hoping and expecting that this is user error, but I'm having a problem getting meta tags added at a layout or page level to be rendered in the source code. I'm adding Next-SEO towards the end of a project and I think something might be preventing it from working properly.

To test this theory, I started a new project based on the sample code posted in Vercel's example repository on githu

[2021-02-23 01:25] b-gibbs commented on #657
It was user error. I got rid of the following line in my layout and things are working as expected.

if (typeof window === "undefined") return null;

[2021-02-23 01:25] #657 closed

[2021-02-28 22:15] schlosser commented on #615
Yes! This is still relevant! I'm passing more images than needed to override the `<DefaultSEO/>` config.

[2021-03-03 22:31] skotchpine commented on #620
Same issue here

[2021-03-06 22:28] schlosser opened #663 "Tree Shaking Support"
Hello! I'd like to import `NextSEO` into my project without including all of the JSON LD functions I'm not using. At the moment `next-seo` is taking up a significant amount of my bundle size for all pages.

I tried following @joeyorlando's steps here: https://github.com/garmeeh/next-seo/issues/75#issuecomment-705152810, to no avail. Is there a supported way to implement tree shaking?

[2021-03-07 18:32] MrNossiom opened #666 "[Bug] additionalMetaTags does not have a unique key prop"
Hello, I'm using next-seo for a week now and this package is so great, but I found a problem with additional Meta Tags:
They don't always have a key prop that is required by React this result on a useless log and an error in the browser console.

I found the piece of code that do the job, I think that a random key could be provided:
[code]

I can contribute, but I think that adding a package only

[2021-03-10 00:55] rodzy commented on #666
Hi @MrNossiom thanks for pointing this out

What kind of log or error are you getting? Can you please provide an screenshot of it that would be useful

Based on your insight I think something like this could make the job instead of importing the `uuid` library:

[code]

I hope to hear back from you, any more questions I'm here to help 👍

[2021-03-10 14:32] MrNossiom commented on #666
Hello @rodzy,
Thanks for your fast answer...

I get the basic error for list keys:
[code]

I found a UUID generator on a random website, so I made a pull request: #672

[2021-03-12 13:19] mousedown opened #678 "URL encoding breaks AWIN urls"
https://images2.productserve.com/?w=700&h=700&bg=white&trim=5&t=letterbox&url=ssl%3Amedia.static-allbeauty.com%2Fimage%2Fproduct%2F1%2F200%2F1181487-label-m-electrical-tourmaline-dryer-black.jpg&feedId=37617&k=ca32b5eb1817e7f00a6ba99285c345112b8e9450

is encoded to

https://images2.productserve.com/?w=700&amp;h=700&amp;bg=white&amp;trim=5&amp;t=letterbox&amp;url=ssl%3Amedia.static-allbeauty.com%2F

[2021-03-13 18:11] MrNossiom commented on #666
I found out that I was using additionalMetaTags for what was supposed to be links... 👎🏻

[2021-03-13 18:11] #666 closed

[2021-03-18 09:12] #182 closed

[2021-03-21 23:54] matheusqro opened #687 "Change viewport"
I didn't find anything in the documentation to make this change.

I want to change from:
[code]

For:
[code]

[2021-03-23 08:23] aresrioja10 commented on #613
Any updates on this?

[2021-03-23 08:43] aresrioja10 opened #690 "Schema for Webpage / Website"
We need a schema for JSON-LD type "WebSite" and "Webpage".

- https://jsonld.com/web-page/
- https://jsonld.com/website/

[2021-03-23 23:30] kylemh opened #691 "Overriding default canonical property"
I've got a Next app that can _often_ presume the canonical is the exact URL as-rendered. I have a few pages that have dynamic paths. I don't want a canonical tag generated for those properties.

Is there course of action here for overriding a default, or am I left with no choice but to avoid a default value for "canonical"?

[2021-03-24 12:12] tiacop opened #692 "Feature request: Article type BlogPosting"
Would be supercool to have "BlogPosting" as article JSON-LD type.

From the Google Docs (https://developers.google.com/search/docs/data-types/article#non-amp):

`Article objects must be based on one of the following schema.org types: Article, NewsArticle, BlogPosting.` (https://schema.org/BlogPosting)

I tried to use "BlogJsonLd" as type for Blogposts, but the Google Rich Result Test (https://sear

[2021-03-29 11:43] hsynlms opened #698 "Fields that product aggregate rating does not have"
According to the below docs, Product type aggregate rating can also contain below fields:

1. bestRating
2. ratingCount

But currently, only the below ones are supported in `next-seo`.

https://github.com/garmeeh/next-seo/blob/master/src/jsonld/product.tsx#L35

**Docs:**
https://schema.org/aggregateRating
https://developers.google.com/search/docs/data-types/product

[2021-03-31 03:49] #656 closed

[2021-04-01 07:32] SimonKlausLudwig opened #704 "Make Code more modular to make it open for any react project"
I love this project. Its the best I could find. Unfortunatly I can't use it as I cant switch to next currently.

I found out that e.g. all JsonLD element uses the Head component from next therefore I could not import this component.

If we would break the component into two Files:

- Course.tsx
- NextCourse.tsx

we could get rid of the import Head from 'next/head'; import. And therefore use it in

[2021-04-02 17:47] rodzy commented on #704
Hi, thanks for the feedback.

But I think this cannot be done, because the whole point on the library is to make SEO easier to handle within Next.js doing that break into components for other environments let's say CRA would break the main focus of the package, plus SEO works different on Next because of the per page routing system and wouldn't be much of a hurry to get SEO to work on a SPA like c

[2021-04-05 08:00] rzmay opened #706 "additionalLinkTags Doesn't Overwrite Default"
I've found that using `additionalLinkTags` in my `DefaultSeo` does not work as I expected. When using `additionalLinkTags` in a `NextSeo` component, rather than overwriting the tags used in `DefaultSeo`, they are simply added to the head.

I can see why this would be intended functionality, but, seeing as `additionalLinkTags` is the only way to add a favicon, it makes it impossible to have both a

[2021-04-05 08:28] pswai commented on #515
@garmeeh This issue seems to be still there. I have created a minimal reproducible example at https://codesandbox.io/s/quote-in-jsonld-w5x9v. The `next-seo` version there is 4.23.0.

For references, the input is
[code]

and the output is
[code]

May I know if there is something I missed?

[2021-04-06 01:04] schlosser commented on #663
Yep! I'd love a response to understand if anyone has had any luck tree shacking the JSON LD code from `next-seo`.

[2021-04-06 07:26] NikolayGalkin opened #707 "[proposed Feature request]: Hotel and Hotel Room Schema"
Hi. I'm going to make Hotel and Hotel Room Types. But want to ask you. Is this make sense? Maybe there is no need to do it and just use LocalBusiness. What do you think?

[Hotel](https://schema.org/Hotel)
[Hotel Room](https://schema.org/HotelRoom)

[2021-04-06 14:28] #704 closed

[2021-04-07 07:54] kaykdm commented on #706
@rzmay
I have not tested this, but I think you can use `keyOverride` property to override link tag.
[code]

[code]
I think this is not currently documented for `additionalMetaTags` and `additionalLinkTags`

[2021-04-09 01:25] EverStarck opened #710 "how to add noindex and nofollow to all pages in DefaultSeo."
I have this on my component: ` <DefaultSeo {...SEO} />` and in `next-seo.config.js` this:
[code]
but in the page I have:
[code]

[2021-04-09 06:56] rzmay commented on #706
@kaykdm
Thanks so much for your reply, I hadn't thought to use `keyOverride` in my `additionalLinkTags`.  I gave it a shot, and, unfortunately, I was unable to get it working. If you're able to test this code, please let me know if it works for you.

[2021-04-09 19:56] robrechtme opened #711 "Why aren't double quotes escaped?"
First of all, amazing library!

I'm getting malformed JSON errors when strings contain double quotes, it seems like they are not escaped in the JSON.

[code]

There are already a bunch of issues on this matter: https://github.com/garmeeh/next-seo/issues/215, https://github.com/garmeeh/next-seo/issues/514, https://github.com/garmeeh/next-seo/issues/515, but they aren't really tackled in the lib its

[2021-04-10 17:08] Fi1osof commented on #710
Looks like a bug. I do same and not works as expected. But title property rendered success.

[2021-04-10 17:22] garmeeh commented on #678
Hey @mousedown I think this is an upstream issue with React unfortunately. See https://github.com/facebook/react/issues/13838

[2021-04-10 17:22] #678 closed

[2021-04-10 17:23] garmeeh commented on #687
Hey @matamatanot this is handled in Next.js itself. The docs for [next/head]https://nextjs.org/docs/api-reference/next/head) should be able to help you.

[2021-04-10 17:23] #687 closed

[2021-04-10 17:28] garmeeh commented on #691
Hey @kylemh, I'm not 100% sure I understand your issue 😅 Could you give a small example?

[2021-04-10 17:31] garmeeh commented on #706
Hey @rzmay I think the suggestion by @kaykdm should work 🤔

Could you create a small sandbox with a recreation?

[2021-04-10 17:33] kylemh commented on #691
I don't understand 18 days ago me either. Shut up, Kyle.

[2021-04-10 17:33] #691 closed

[2021-04-10 17:46] garmeeh commented on #707
Hey @NikolayGalkin thanks for opening up this request.

From a **very** quick look.

This is what [Booking.com](https://www.booking.com/hotel/ie/the-gresham.html?label=gen173nr-1FCAEoggI46AdIM1gEaGmIAQGYATG4AQfIAQ_YAQHoAQH4AQKIAgGoAgO4AoHDx4MGwAIB0gIkZjk4OGQ2NGEtNmU0Mi00ZDFmLThlMjUtZjFmNmI5NmFmMzZh2AIF4AIB;sid=9a86485fb222a82c582ba763f37f9988;dest_id=-1502554;dest_type=city;dist=0;group_adults=2;g

[2021-04-10 17:49] garmeeh commented on #710
Hey @EverStarck / @Fi1osof if you check out [this part of the docs](https://github.com/garmeeh/next-seo#no-index) it explains why it doesn't work as expected.

I believe what you might be looking for is [dangerouslysetallpagestonoindex](https://github.com/garmeeh/next-seo#dangerouslysetallpagestonoindex)

[2021-04-10 17:49] #710 closed

[2021-04-10 17:49] garmeeh commented on #710
Please re-open if it doesn't solve it for you 😄

[2021-04-10 17:55] garmeeh commented on #711
Hey @robrechtme there was something in place for this but led to unexpected behavior and a lot of bugs for people.

I would be open to a suggestion, but due to how impactful this change can be I would be very cautious about merging it.

Part of me is leaning towards just allowing the applications handle this on their end and not adding anything to the library.

Would love to hear your thoughts on

[2021-04-10 18:15] Fi1osof commented on #710
@garmeeh thanks!
Yes, params dangerouslySetAllPagesToNoIndex and dangerouslySetAllPagesToNoFollow solves my problem: )

[2021-04-10 18:18] EverStarck commented on #710
Yes, it works, I don't like the idea of having
[code]
on a component, but meh, it works. Thanks

[2021-04-10 18:32] Fi1osof commented on #710
@EverStarck i do just so, without NextSeo:
[code]

[2021-04-10 21:00] robrechtme commented on #711
It won't be an easy fix indeed, since it needs to be added everywhere a string prop is injected in the json.

But to be honest I would really expect the library to handle it. Most developers will forget to escape double quotes or just not know this needs to be done. If you have many pages that come from a CMS, it can take a while to find out some of your pages are not parsed properly.

I will impl

[2021-04-10 22:47] matamatanot commented on #687
Not For me?
It's fine. 😄

[2021-04-11 15:31] #620 closed

[2021-04-14 02:01] lucasvazq opened #712 "Missing attributes in OpenGraph images"
These 2 attributes are missing for OpenGraph images

- **og:image:secure_url**
- **og:image:type**

https://ogp.me/#structured

[2021-04-15 06:35] travis-south opened #714 "Only <DefaultSeo> is exported when running next export"
Hi,

It was really easy and helpful to use `next-seo` and I'm loving it. I'm just having issue when I'm exporting may project as a static page wherein only the values defined in my `_app.tsx`'s `<DefaultSeo />` and not the page specific `<NextSeo />`.

Is this a bug or it's just not supported at the moment?

Unfortunately, I'm just building and exporting my site and deploying it to S3 for static h

[2021-04-15 20:07] garmeeh opened #718 "Docs"
Update docs and tests for https://github.com/garmeeh/next-seo/pull/562/files

Just a reminder for myself to update docs later.

[2021-04-15 20:16] #347 closed

[2021-04-16 11:39] svassaux commented on #692
I would like the same
If we use articles or blog instead, it might not have the desired effect

[2021-04-17 17:51] svassaux commented on #131
very good proposition, +1 too

[2021-04-17 17:52] svassaux opened #720 "Option for HowTo schema"
There is no HowTo schema.
That would be usefull too.

[2021-04-17 19:24] svassaux opened #721 "Video haspart attribute generates an indesirable geo key"
If you look at this line, the parts of a videos are indexed with a `geo` key

https://github.com/garmeeh/next-seo/blob/61e7bfc7c6534c3e7c605f02c4e46a15a35d9aa5/src/utils/buildVideo.ts#L57

This does not comply with the specs : https://developers.google.com/search/docs/data-types/video

And therefore the test for rich elements fails for videos : https://search.google.com/test/rich-results

[2021-04-18 13:36] hsynlms commented on #698
Related PR has been merged into the master branch. I am going to close the issue.

[2021-04-18 13:36] #698 closed

[2021-04-18 14:46] svassaux commented on #721
got his email from the search console

[code]

[2021-04-18 14:47] garmeeh commented on #721
Hey @svassaux can you provide a link to the page? Or if you inspect your page source can copy & paste the full script tag containing the json-ld object.

[2021-04-18 15:01] svassaux commented on #721
sure, this is the code I get on the page

`

<script type="application/ld+json">{
--
  | "@context": "https://schema.org",
  | "@type": "VideoObject",
  | "name": "Finally a modern tool for managing your culinary back office!",
  | "description": "Discover our application interface and the modules that will bring your productivity up",
  | "thumbnailUrl": [
  | "https://www.foodmeup.ioundefined"
 

[2021-04-19 08:21] minseolee commented on #544
Thanks a lot for helpful source code
Has this bug fixed?

[2021-04-22 15:36] tcolinpa opened #726 "OG tags exists but facebook debug doesn't read it"
# Problem
I have a blog using Nextjs and Prismic as CMS. Its posts pages are generated at build time (getStaticProps) and everything is fine when inspecting the generated HTML (you can inspect it [here](https://blog.bizboxapp.com/article/5-advantages-of-digitalizing-your-business)).

### Screenshot of generated HTML
![image](https://user-images.githubusercontent.com/44402590/115741198-e8576c80-a36

[2021-04-22 18:36] #726 closed

[2021-04-22 20:03] ThomasGormley commented on #620
Hi, I was experiencing the same issue as above, so if you were interested in this

I managed to reproduce when either `<NextSeo />` or `<DefaultSeo  />` component was within a Next `<Head>` component.
I'm on version ^4.24.0 next-seo, and latest Next.

[2021-04-23 02:22] Monchi opened #727 "`dangerouslySetAllPagesToNoIndex` won't be overridden by `noindex: false` in each page"
SSIA.

I configured `dangerouslySetAllPagesToNoIndex: true` in `<DefaultSeo>`, then set `noindex: false` in `<NextSeo>` in page component. However, robots are still `noindex,follow`.

[2021-04-23 02:23] Monchi commented on #727
I'm working on fixing this

[2021-04-26 00:32] omarhoumz opened #729 "& is turned into &amp; in og:images url"
I'm using the `NextSeo` component to add an `og:image` to my page, my URL contains some query params. When I check the resulting meta tags, the content in this tag `<meta property="og:image" content="..." />` has the correct URL but with the `&` symbol "encoded" to `&amp;`.

Here is a codesandbox that shows the issue: https://codesandbox.io/s/next-seo-amp-43f0m?file=/pages/index.js:299-483

As an

[2021-04-27 16:27] dcumpton-amu opened #731 "keyOverride Prop Missing in RecipeJsonLd"
Hello, I am trying to render multiple `<RecipeJsonLd />` components on a page in a `map()` and only a single `<RecipeJsonLd />` is rendered with the data for the last recipe in my array.

Per the docs I am passing a `keyOverride` prop to each, but looking at the src for that component, it appears as if that prop may be missing.

https://github.com/garmeeh/next-seo/blob/master/src/jsonld/recipe.tsx

[2021-04-28 12:48] aaron5670 opened #736 "[Question] What is the best JSON-LD type for a hotel room page?"
Hello,

First of all, super nice Next.js plugin!
I have a question, maybe it doesn't belong here, but try it anyway.

What is the JSON-LD type for a hotel room page or a accommodation rental page?
An example is a single accommodation page on Booking.com.

Thanks in advance!

[2021-04-30 10:26] SimonKlausLudwig commented on #704
Hey rodys, of course SEO works different on. But at the end of the day First Step is generate valid JSON-LD which you then can use in any way you want.

If you could create a File which only contains the interface and another function which takes all the properties of the interface and returns a valid JSON LD.

Everybody who wants to use JSON LD can use the library than.

export interface ArticleJ

[2021-05-07 18:11] iffa commented on #663
Couldn't get any of the steps working either, so +1

[2021-05-08 14:22] #615 closed

[2021-05-08 15:08] schlosser commented on #615
This is still an issue! @garmeeh not sure if it's no longer helpful or if you were able to investigate here

[2021-05-11 11:17] idiglove opened #748 "Seo metas not appearing"
I have deployed my app in Vercel but the metas are not appearing.

Locally, for me to test I do `yarn build` and `yarn start`, but they still dont appear when I view pageSource

<img width="719" alt="Screen Shot 2021-05-11 at 7 16 42 PM" src="https://user-images.githubusercontent.com/29911508/117806841-6fc13d00-b28d-11eb-83a7-3be35238deea.png">
<img width="706" alt="Screen Shot 2021-05-11 at 7 17

[2021-05-13 22:57] LawJolla commented on #729
Same problem... appreciate any help.

[2021-05-14 02:01] mfrohberg commented on #748
That would likely be because you are returning null when window is undefined. Doing so will mean that everything is only being rendered on the client

[2021-05-16 18:09] Sugamm commented on #726
@tcolinpa  any update, I see https://blog.bizboxapp.com/article/5-advantages-of-digitalizing-your-business, this URL is working fine on facebook. How you fixed it?

[2021-05-16 20:39] lucasvazq commented on #712
🧐

[2021-05-16 22:46] travis-south commented on #714
Still relevant.

[2021-05-22 10:02] #706 closed

[2021-05-24 20:25] aksperiod commented on #714
I'm experiencing this as well, seems like a huge bug.

[2021-05-26 01:52] cadejscroggins commented on #711
This is how I'm handling it, if it helps anyone:

[code]

[2021-05-30 13:55] #720 closed

[2021-05-30 13:55] #718 closed

[2021-05-30 16:16] Monchi commented on #727
I've already created a PR for this issue. #728

Also, I've published the fork that applied #728 to the latest version(v4.24.0). This would be useful until #728 is merged.
https://github.com/Monchi/next-seo
http://npmjs.com/package/next-seo-yuku-fork

[2021-05-30 22:24] pramam commented on #620
I am getting this error too when <NextSeo/> is within a Next <Head> component.

[code]

next-seo ^4.24.0, next ^10.2.0

[2021-05-31 07:20] hsynlms opened #766 "`offers` is a missing field in AggregateOffer"
According to [schema.org](https://schema.org/AggregateOffer), **AggregateOffer** should have been containing `Offers` field. This field is missing and according to the readme, AggregateOffer is ignored if offers is set.

https://github.com/garmeeh/next-seo/blob/v4.24.0/src/types.ts#L65
https://github.com/garmeeh/next-seo/blob/v4.24.0/src/jsonld/product.tsx#L209

[2021-05-31 07:45] hsynlms opened #767 "`VideoGame` schema type support"
There is a `VideoGame` schema type that is not supported in `next-seo` as LD-JSON.

It needs to be implemented, documented, and tested as a new LD-JSON type.

**Docs:**
https://schema.org/VideoGame
https://lists.w3.org/Archives/Public/public-vocabs/2014Jul/att-0011/VideoGame5.pdf

**Example:**
https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Fwww.epicgames.com%2Fstore%2

[2021-05-31 10:59] hsynlms opened #768 "no error thrown when `bestRating` is lower than `ratingValue`"
As I see there is no error thrown in the library when conditions are not met. In this case, it is not valid if the `bestRating` is lower than `ratingValue`.

**There are 2 possible ways to solve that issue:**
1. If the `bestRating` is lower than `ratingValue`, [buildAggregateRating](https://github.com/garmeeh/next-seo/blob/v4.24.0/src/jsonld/recipe.tsx#L17) will throw an error
2. If the `bestRatin

[2021-06-01 13:24] tcolinpa commented on #726
@Sugamm I just updated some dependencies and it worked (pretty random guess)

[2021-06-01 13:58] PezeM opened #771 "Link for next.js custom app documentation is invalid"
Link in the readme for next.js custom app documentation is invalid and is pointing to `https://github.com/vercel/next.js#custom-app`

It should be point either to `https://github.com/vercel/next.js/blob/canary/docs/advanced-features/custom-app.md` or `https://nextjs.org/docs/advanced-features/custom-app`

[2021-06-03 01:07] swilgosz commented on #82
I've the same issue in my https://hanamimastery.com articles links. Twitter (and reddit) - does not pick-up the og:images - while all the facebook-related media (pinterset, instagram, facebook), even LinkedIn - have No issues at all.

Does anyone have an idea why this could be happening?

[2021-06-03 01:25] swilgosz commented on #82
I've solved it! for anyone encountering this issue in the future, In my case, it was related to the fact, that I"ve used the relative path in the image instead of URL prefixed with a host. After changing this to absolute URL of the image, twitter started to behave as expected.

[2021-06-03 15:06] hsynlms opened #777 "`manufacturer` is always set even it is not provided"
`manufacturer` is always set in the Product LD-JSON even it is not provided. The worse, manufacturer logo and name are undefined in the JSON schema. Below is a real example output.

[code]

If it is not provided, it should have not been in the output. And it might be required to refactor to not put `undefined` as a string for not provided fields.

[2021-06-04 16:51] shaohaolin opened #780 "Stronger type for Twitter card type."
I am proposing to add a stronger typing for cardType property for Twitter interface.

Twitter supports four different cardTypes: summary card, summary with large image, player card and App card. We can declare a Twitter cardType typing and set in Twitter interface. This can give developer auto-complete when setting cardType.

Here is the proposal solution:

[code]
Let me know what you think the so

[2021-06-06 15:03] #731 closed

[2021-06-06 15:03] #736 closed

[2021-06-07 18:42] schlosser commented on #663
Definitely still relevant!

[2021-06-08 19:33] the-mgi opened #786 "NextSeo Components not working on iOS devices"
I used NextSEO for our application, which worked perfectly fine for desktop windows, mac and android devices but not for iOS. Regardless of browser platform on iOS it was not loading the pages with the component on it, straight away just went on loading when clicked on the link for that page and displaying blank page when directly try to route to the page.

[2021-06-11 05:22] biggywk opened #788 "SEO doesn't work"
The problem is my website didn't be organized in the first 100-page ranking on google.
my lighthouse score average is better than 85.
mobile-friendly.
have site-map.
I use the keyword "ประกันภัยรถยนต์", include the keyword in the title tag and meta tag description.
deploy on Vercel.
and this is a stack
I need help, please. I stuck in SEO for a long time

"dependencies": {
    "@material-ui/core":

[2021-06-11 18:57] jpedroschmitz commented on #86
I'd recommend removing all query parameters from the `asPath` value. Example:

[code]

Important note: If the query parameter is used to specify the content loaded onto the page, it should be included in your canonical URL. That's why the best solution is defining the canonical URL per page. By default, I always remove since I don't use query parameters for IDs or slugs.

[2021-06-14 16:15] hsynlms commented on #767
@garmeeh Did you find a chance to take a look at PRs that I sent?

[2021-06-16 09:29] garmeeh commented on #767
Apologies @hsynlms I will take care of all open PR's within the next couple of days. Thank you for your contributions 🙏

[2021-06-16 10:21] vvo opened #793 "4.25.0 can't be installed with npm@7.17.0"
Hey there, here's what's happening:

[code]

![image](https://user-images.githubusercontent.com/123822/122202425-57040280-ce9d-11eb-9698-7f0acea43c87.png)

[2021-06-16 10:24] garmeeh commented on #793
🤦 Could you try `4.25.1`

[2021-06-16 13:28] garmeeh commented on #788
Hey @biggywk all next-seo can do is enable you to put SEO best practices in place. It can take some time for Google to rank your site and there are number of factors that taken into account.

[2021-06-16 13:28] #788 closed

[2021-06-16 13:29] garmeeh commented on #786
Hey @the-mgi can you provide an example? I have this in production and have no issues on any device.

[2021-06-16 14:03] vvo commented on #793
It works, thanks!

[2021-06-16 14:03] #793 closed

[2021-06-16 20:05] #712 closed

[2021-06-18 19:41] #766 closed

[2021-06-18 19:48] #767 closed

[2021-06-18 19:51] #771 closed

[2021-06-18 20:33] hsynlms commented on #777
This PR is invalid due to it's already fixed in #769

[2021-06-18 20:33] #777 closed

[2021-06-20 11:22] #729 closed

[2021-06-20 11:22] #748 closed

[2021-06-23 23:02] travis-south commented on #714
Yes

[2021-06-24 13:57] ErnestBrandi opened #808 "Client side fetching"
Hi,
it might sounds silly but can I populate NextSeo with data fetched client side (I use SWR).
When I check metadata (with the Facebook sharing debugger for instance), it seems it uses default values (therefore before data is fecthed on client).
I know I could use getStaticProps to address this problem.
Thanks.

[2021-06-24 14:05] fabien commented on #711
So I only saw about this issue today, after I found out that the components don't actually work based on object serialization but some rather finicky string concatenation (yikes!).

Here's a _hot-fix_ using https://github.com/substack/js-traverse for anyone interested:

[code]

[2021-06-24 15:09] garmeeh commented on #808
Hey @ErnestBrandi for the best SEO outcome all data needs to be available on page load without relying on JavaScript. This is normally achieved via server rendering or static generation. It will not work with client side fetching unfortunately

[2021-06-24 16:38] jsakas opened #809 "Use stricter enum types to match schema.org definition"
According to schema.org an Offer's `itemCondition` can be one of four values: `'DamagedCondition' | 'NewCondition' | 'RefurbishedCondition' | 'UsedCondition'`.

https://schema.org/OfferItemCondition

It seems like it would be helpful for developers using TypeScript to be able to see this in the types, so for example:

[code]

Would become:

[code]

That way developers could construct proper struct

[2021-06-24 17:31] robrechtme commented on #711
@cadejscroggins if you also want to ignore double quotes that are already escaped, you can use the following:
[code]

@fabien now that you mention it, serializing JavaScript objects would indeed be a better approach for this lib, I also find the template literals a bit messy.

However this basically means rewriting the complete code base, which is not something I have time for 😄

[2021-06-24 18:22] fabien commented on #711
@robrechtme I don't really see where I would get already escaped double quotes from - would this be from some CMSes?

@garmeeh Regarding the serialization, I have a hard time imagining how/why it started as a concat'd solution in the first place. Seems that serializing from objects into JSON (it's called `json-ld` for a reason ...) would've been the most straightforward.

[2021-06-25 07:42] bubuq3 opened #810 "Unexpected token, expected "]" - additionalLinkTags in next-seo.config.js"
Hello, I'd like to add favicons to my website but there is
[code]
 error in a termnal

next-seo.config.js
**even I copy the example from next-seo repo there is the same error.**
[code]

[2021-06-27 23:06] hyoretsu opened #812 "Incompatible with environment variable (?)"
When using environment variables, the meta tags involved go to the bottoms of the list, but they think that they're undefined. If this isn't a bug, maybe it should be explicit that you can't use env variables with it.

[2021-06-27 23:18] hyoretsu commented on #812
Oh it's because we have to append NEXT_PUBLIC before env variables

[2021-06-27 23:18] #812 closed

[2021-06-29 15:06] mikestopcontinues commented on #711
@fabien I'm sure there was some reason. This library is pretty solid.

@garmeeh `json.stringify` really seems like the right call here, even if the change warranted a major version number. Are you open to it? Is there any way to expedite a PR?

[2021-06-29 23:57] Monchi commented on #727
Yes, this is still active.

@garmeeh Let me friendly ping, please take a look at #728 when you have time!

[2021-06-30 12:35] ErnestBrandi commented on #808
Ok, got it ;)

[2021-06-30 12:35] #808 closed

[2021-07-01 10:34] bubuq3 commented on #810
any help?

[2021-07-01 13:34] #810 closed

[2021-07-02 10:12] travis-south commented on #692
Would `ArticleJsonLd` be sufficient for your requirement?

[2021-07-02 10:42] tiacop commented on #692
hey @travis-south,

not exactly. On our page we have both: articles and blogposts. We would like to be precise with our JSON-LD. We use ArticleJsonLd from next/seo for our articles. For blogposts we bypass next/seo and provide the following JSON:

[code]

[2021-07-02 11:36] hsynlms commented on #768
Did you find a chance to take a look at the case? @garmeeh

[2021-07-06 20:01] johnruane commented on #15
Can anyone confirm the correct behaviour of the OG tags. I noticed that when the opengraph object is passed with missing data (title, description, url) the fields do inherit the respective main fields. I thought this was a bug in my code. I can't find this behaviour documented anywhere.

[2021-07-08 05:55] riccardogiorato commented on #663
Definitely still relevant!

[2021-07-08 16:13] ErnestBrandi commented on #712
Hi, I also think next-seo should automatically (or give the user the possibility to) add the `og:image:url` and `og:image:secure_url` metadata.

[2021-07-12 04:36] #780 closed

[2021-07-12 20:26] Guneetgstar opened #825 "Include `productID` and `url` in ProductJsonLd props"
This is a great lib especially to deal with JSON-ld structured data but for my use case I couldn't make it work for me because as per for [Facebook Marketing API](https://developers.facebook.com/docs/marketing-api/catalog/reference/#json-ld) `productID ` and `url` is among one of the fields required which are the only field missing from `next-seo`'s `ProductJsonLd` component.

It would be very gre

[2021-07-12 20:28] Guneetgstar commented on #825
Another way would be to make the whole `next-seo` props extensible which is going to be a little more time taking but the result would good for everyone.

[2021-07-22 15:20] gregg-cbs commented on #825
@Guneetgstar I think what you are talking about with props extensibility is mentioned here:
https://github.com/garmeeh/next-seo/pull/802

Which might also solve this issue entirely.

[2021-07-22 15:24] gregg-cbs commented on #809
@jsakas Thats an interesting thought (the json representation).. I would like to see how that pans out.
Let me know if you start working on it and want to meet up on a call to hash it out.

[2021-07-23 11:56] Guneetgstar commented on #825
It seems like you got my point but I can't find anything relevant to props extensibility in the mentioned issue. What I see is @akshatmittal has given a fix to remove the line breaks from the JSON-LD strings which may reduce the overall size of the page.

[2021-07-23 23:25] travis-south commented on #714
Yes, still relevant.

[2021-07-24 00:07] #786 closed

[2021-07-27 15:51] Shmoji opened #836 "NextSeo og:image Not Working For Singular Page"
**The issue**
DefaultSeo works fine for showing a default og:image, but cannot get this singular page to show the og:image defined.

There are a ton of lines of code on this page, so I'll try to only share what I think is necessary.

There is a component that defines the page and inside it is this:

[code]

The image url itself is not the issue, I already tested that.

I am thinking that maybe the

[2021-07-28 13:56] atelog commented on #711
@robrechtme

RegEx is bad since you cannot predict all special characters that need to be escaped.

A better solution will be to use `JSON.stringify()`

Example:
[code]
Slice is for removing the duplication of the first and last quote `" "`

[2021-07-30 11:35] vvo opened #838 "Should canonical/link rel/og graph urls be encoded?"
Hi there, I have pages with URLs like https://www.photoroom.com/détourer-une-image/ and was wondering if Next Seo should encodeURI theses URLs in various situations (meta tags, link rel, canonical, og graph URL)?

It seems that there are websites saying YES your should and others saying it doesn't matter. Just wanted your input on that, thanks!

[2021-07-30 15:01] Monchi commented on #727
😢

[2021-08-02 15:05] llldar opened #840 "Allow null for typescript types"
under typescript strict settings, having null for a field will result in an error.
It would be great for the options to have both null and undefined in their signature.

[2021-08-07 04:38] gregg-cbs commented on #825
@Guneetgstar

It is also mentioned that changing the stringified version to objects would make the schemas extendable.
https://github.com/garmeeh/next-seo/pull/802#issuecomment-867624629

[2021-08-08 01:24] mryechkin commented on #663
Still relevant 💯

[2021-08-09 01:18] #768 closed

[2021-08-09 16:35] JuanCaDev opened #841 "These fields have missing information: google_product_category"
I've looked through the documentation and can't find the correct way to send it. Do I have to do it separately or can this be added?

[2021-08-10 09:14] nguyendangkhanh commented on #841
i have same this issue, when i'm add pixel facebook to my website. "Make items easier to discover by providing google_product_category information."

[2021-08-10 11:39] ja573 commented on #638
This would be extremely helpful. In particular, the tag used in the example, `dc:creator`, ought to be listed multiple times if there are multiple authors as specified by Dublin Core.

[2021-08-10 11:42] ja573 commented on #638
Couldn't you, for example, concatenate the current key with the content of the tag in https://github.com/garmeeh/next-seo/blob/420eb12ff7c6d2e15412d3bd09a0dca27863084f/src/meta/buildTags.tsx#L676 or use the index of the element?

[2021-08-10 14:17] AustinShelby opened #843 "HTML characters don't get unescaped in the title"
Setting your title like this:

[code]

Will make the title show up as `&#8211;` on the browser while it should look like `–`.

[2021-08-13 11:12] Adi52 opened #846 "Duplicate Blog and Article schema"
Hi,

I think I found a bug. When I add ArticleJsonLd (BlogJsonLd too) to my code:

[code]

Then in https://validator.schema.org/ my Article schema is duplicated:
![a](https://user-images.githubusercontent.com/32686981/129348958-a707c8d2-af15-4521-abf0-f67cb6fe49b6.png)

[2021-08-14 19:18] jsjoeio commented on #620
I ran into this error as well. I fixed it by moving `<NextSeo />` outside of `<Head />`

[2021-08-18 15:18] RamZallan commented on #729
Hi -- why was this closed? @garmeeh I'm still seeing this issue, in my case when using [Sanity.io](https://www.sanity.io/docs/image-urls)
![image](https://user-images.githubusercontent.com/5818258/129924770-6b8819c2-d66f-4146-8c87-3cec340efc71.png)

[2021-08-18 15:21] RamZallan opened #847 "Ampersand turned into "&amp;" in og:image URLs"
Note, this duplicates #729, which was closed automatically and I can't seem to reopen.

I'm using [Sanity.io](https://www.sanity.io/docs/image-urls) to host my images and construct URLs to serve them with specific crops/sizes. Next-seo seems to be url-formatting the ampersands for the query parameters.

![image](https://user-images.githubusercontent.com/5818258/129925161-b16e9011-163f-4acb-bc6b-a4

[2021-08-19 09:51] finnwoelm-sdsn commented on #544
It's not yet fixed. Temporary workaround is to just provide an empty object to the `openGraph` property:

[code]

This will overwrite/update the `og:title` and `og:description`, because `openGraph` will evaluate to `truthy` in `buildTags.tsx`:  https://github.com/garmeeh/next-seo/blob/420eb12ff7c6d2e15412d3bd09a0dca27863084f/src/meta/buildTags.tsx#L188

[2021-08-19 12:48] scips opened #848 "Google Structured Data - author & publisher -"
Dears,

Google updated his structured data, specifically the author & publisher field.
This will probably change the json-ld format for author & enterprise too.

See the update here: https://developers.google.com/search/docs/advanced/structured-data/article

The new fields are now like this:
[code]
Change explained here: https://www.seroundtable.com/google-author-article-31889.html

Let me know if

[2021-08-19 14:06] thacoon opened #849 "A JobPosting can have multiple physical locations"
The current implementation only allows one location (place) but Google supports multiple locations.

Reference: [JobPosting Documentation](https://developers.google.com/search/docs/advanced/structured-data/job-posting#job-posting-definition)

[2021-08-20 08:50] mglavall commented on #656
I can confirm this is still happening

[2021-08-21 21:22] scips commented on #848
I have been looking at it, and I'm working on a PR / MR to solved this but where should I ideally put it?
If I update the Article one than it will be nice for google but not inline with schema.org I could also work on NewsArticle too ... but again.
I see that more and more article media have mutliple authors that contribute to an article so it makes sense and more and more media structure have aut

[2021-08-22 02:42] scips commented on #848
Finally I made a pull request which is backward compatible and used the Article json-ld
If this is ok and the review is ok I can fix other waiting issues of the same kind.
If you need me to work on my PR to remove some files, go back to previous versions ... just ask

[2021-08-23 06:18] travis-south commented on #714
Yes

[2021-08-29 04:10] #809 closed

[2021-09-01 11:49] sushantdhiman commented on #544
I have submitted a fix for this issue here https://github.com/garmeeh/next-seo/pull/852, I hope it get merged soon

[2021-09-02 16:26] aej11a commented on #692
@garmeeh I'd love to implement this but quick question on the approach.

From what I can tell from here [https://schema.org/Article](https://schema.org/Article) and here [https://schema.org/BlogPosting]( https://schema.org/BlogPosting), Article and BlogPosting have the _exact_ same fields.

Is it ok to add this as an option on ArticleJsonLD (like a boolean `isBlogPosting` prop, and change the `@ty

[2021-09-02 20:28] mmahalwy opened #854 "Organization schema?"
I know there is `LocalBusiness` but feels like Organization schema is more general?
https://schema.org/Organization

[2021-09-04 14:51] scips commented on #848
Ok, I'll need this in production, could anyone that can "merge" give me a feedback?
I'll probably need it on newsarticle so if the business logic here is fine for you I'll update both afterward.

[2021-09-04 14:54] scips commented on #849
I had the same issue with news authors. If my PR #850  is accepted, I'm ready to update the other 1 to many relations.

[2021-09-04 17:34] heyitsarpit commented on #128
Having this same issue, I'm not using redux or any other context wrappers.

[2021-09-04 17:50] #836 closed

[2021-09-05 16:53] #838 closed

[2021-09-05 21:32] #727 closed

[2021-09-06 12:53] samesamestudio commented on #714
I'm experiencing the same issue. Anyone has any fixes yet?

[2021-09-07 04:56] riccardogiorato commented on #663
Definitely still relevant!

[2021-09-08 11:13] hammadkh2003 commented on #692
What Is SEO / Search Engine Optimization?
Search engines such as Google and Bing use bots to crawl pages on the web, going from site to site, collecting information about those pages and putting them in an index. Think of the….... for such more go through my website. https://spreadsmilesorg.in/blog/

[2021-09-09 22:38] #840 closed

[2021-09-11 13:53] eduoliveira85 opened #857 "OG image tags are loading as separate meta tags within the <head></head>"
Pretty much the title. I'm using the DefaultSeo with a next-seo.config.js method but openGraph images are being loaded wrongly. Here is the code for my config file.

[code]

And what is being loaded for that openGraph:images portion:
![image](https://user-images.githubusercontent.com/39069806/132950088-14b6b238-4814-45e5-9d79-95c6b52416cf.png)

These were the only tags loaded incorrectly and I'm n

[2021-09-13 06:52] nabiltkarim commented on #420
@jofelipe How'd you manage to fix it? Facing the same problem here. In the static page generated by Next, it's only showing the default SEO configs.

[2021-09-13 13:27] jofelipe commented on #420
Hi! In my case the problem was a conditional render with useEffect in _app.js, for darkmode theme purposes. I had to remove it.

Make sure if your _app.js doesn't have something similar, related to hooks or any lib.

[2021-09-13 19:44] gaberogan commented on #714
I'm reproducing this when overriding renderPage with with renderToStringWithData, not sure why yet

[2021-09-14 21:50] #825 closed

[2021-09-15 09:12] riccardogiorato commented on #367
Hey @garmeeh is there any news on this feature? Can you reopen this issue?

[2021-09-16 19:43] #544 closed

[2021-09-17 05:42] #843 closed

[2021-09-17 05:42] #841 closed

[2021-09-18 07:12] danestves opened #864 "Duplicated openGraph meta tags"
![image](https://user-images.githubusercontent.com/31737273/133879866-ee880ee3-3fba-4b90-8573-f957a3884ab4.png)

I'm using `DefaultSeo` & `NextSeo` to override the current tags, but inspecting the code I see that some tags was overridden but title, description, and image not

[2021-09-19 01:21] RamZallan commented on #847
@garmeeh still relevant- any insight?

[2021-09-19 14:01] #846 closed

[2021-09-19 15:25] HT-Moh opened #865 "Open graph not working"
I am not sure why the open graph tags are not working , `https://www.opengraph.xyz/url/https%3A%2F%2Fcrypto-catalyst.com%2Fblog%2Fcryptocurrency-for-beginners/`.

![image](https://user-images.githubusercontent.com/34759569/133932856-64f6b8ef-b715-45fe-b718-f30aad4e404f.png)

All tags are available on the HTML:
![image](https://user-images.githubusercontent.com/34759569/133932898-e2061ef0-5a88-4e96

[2021-09-23 09:07] jaksenko opened #870 "Why is it included in client bundle?"
I just installed this plug (btw awesome job!) but then I ran bundle analysis and I can see the plug includes 11.61kb (2.62kb gzipped) in the common bundle. Why is that? I thought all meta tags are rendered server-side.

[2021-09-23 17:34] cullylarson commented on #714
I'm having seemingly a similar issue, but with server rendered pages (i.e. `getServerSideProps` pages). The page title/meta from `_app` is being generated instead of the page-specific values. Though if I try using `next/head` instead of `next-seo` the same thing happens. So maybe this isn't a next-seo issue? @travis-south Have you tried using `next/head`? Does the same problem happen for you?

[2021-09-25 20:12] feuersteiner commented on #720
Just checking in if the HowTo will be added, any plans ?

[2021-09-27 09:29] ben1one opened #871 "Can we bring in bingbot as well?"

[2021-09-27 14:19] priyanshu-mq commented on #865
Facing the same issue despite having all tags in the page source!!

[2021-09-27 16:32] HT-Moh commented on #865
This really frustrating issue.
I was working almost week now on it.
using FB https://developers.facebook.com/tools/debug/ I found that I am using external link maybe can cause the issue so I stored the images locally but it didn't help.
Tried many different thing but no luck anyway now I am adding tag manually without using the library.

[2021-09-27 17:18] jomarl opened #872 "Global state make it impossible to use DefaultSEO in a multitenant app"
If a page is rendered once with the following options, e.g. in _app:

[code]

then a preceding rendering rendering/request with:

[code]

will have no effect due to the use of the globally scoped "defaults" structure that is updated on server and persistent between requests. This might be a bit of an edge case.

[2021-09-30 23:25] HT-Moh commented on #865
Ok finally I fixed the issue.
The issue is the following:
When using graphql hooks to fetch the "blog" data on the client, the default meta tags already rendered, once the meta tags are updated on the client is too late.

So the solution is to fetch the "blog" in  `getServerSideProps`

[2021-09-30 23:26] #865 closed

[2021-10-06 08:55] jawil003 commented on #864
Hey can you provide an example? So you mean the `<link as="image" ... />` tags, right?

[2021-10-06 09:52] jawil003 commented on #871
According to the [docs](https://www.bing.com/webmasters/help/which-robots-metatags-does-bing-support-5198d240) Bing uses the same meta tags as google crawler do, f.e. `<meta name="robots" content="noindex">`

The default in next-seo is always index and follow when you use `<DefaultSeo/>` in your app. So it should be fine. When you want a page to be not crawled you have the nofollow and noIndex pro

[2021-10-06 10:00] jawil003 commented on #870
I think the reason is how Next.js is working. You are right, Next.js is loading the initial side directly from the server. But every additional page is changed via javascript like normal react does.

[2021-10-06 10:03] sustainjane98 opened #874 "How to make a contribution?"
I understand, how I make next-seo run locally and from next.js repo I know that you normally fork a change to add it later as a pull request. But it seems like I cannot do this here? So how do I start developing an fix for an issue here?

[2021-10-07 20:09] #874 closed, assigned to nobody

[2021-10-07 20:17] jawil003 commented on #864
I created an example where `og:title` and `og:description` are set and they override each other like expected.
<img width="1440" alt="CleanShot 2021-10-07 at 22 15 57@2x" src="https://user-images.githubusercontent.com/47473728/136455831-38b444ed-e53c-4983-9f44-802435be2155.png">
<img width="1438" alt="CleanShot 2021-10-07 at 22 16 47@2x" src="https://user-images.githubusercontent.com/47473728/1364

[2021-10-08 01:33] GregDevProjects commented on #421
@garmeeh hello 👋

Can I work on this for hacktoberfest?

[2021-10-10 08:50] #854 closed

[2021-10-10 22:18] asotog commented on #128
having same issue

[2021-10-12 04:24] #848 closed

[2021-10-12 15:05] benjaminhoffman opened #876 "Twitter: handle vs creator"
Love this plugin! I use it on _all_ my nextjs sites.

I noticed just now in the documentation you have `twitter:handle` for twitter but curious if it makes sense to change that to `twitter:creator` to match twitter's docs?  I see that `next-seo` correctly renders `<meta name="twitter:creator" content="@username">` but wondering if we want to introduce support for either handle or creator?

This tr

[2021-10-14 06:07] kzsa opened #877 "What is the point of the duplication?"
Hi,
Can someone tell me pleasewhy you need a defaultSEO in addition to nextSEO? The two files are actually the same.
Thx, br.: kzsa

[2021-10-20 00:04] ccorda commented on #847
Can confirm we also have this issue.

Original variable before being passed in to next SEO works without trouble:
`/_next/image?url=file.png&w=1200&h=628&q=75`

But when it gets processed by NextSEO, it's converted to this which doesn't work: `/_next/image?url=file.png&amp;w=1200&amp;h=628&amp;q=75`

specific error from next/image:
`"w" parameter (width) is required`

[2021-10-20 00:27] ccorda commented on #847
Apologies, found this related thread and it is indeed an upstream React issue:
https://github.com/garmeeh/next-seo/issues/678

[2021-10-21 14:56] garmeeh commented on #663
Yes apologies @schlosser. I need to disable stale bot 🤦‍♂️

[2021-10-29 07:16] geochanto opened #881 "noindex does not work"
Setting **noindex** to true should produce `<meta name ="robots" content="noindex,nofollow">`.

Instead, it's still `index,follow`

next-seo v4.28.1, nextJS v10.2.3

[2021-11-02 17:07] riccardogiorato commented on #881
Can you create a codesanbox with this example?

[2021-11-03 15:01] StijnCoolen opened #882 "Add titleTemplate to openGraph options"
Would it be possible to add titleTemplate to openGraph options so that it can be overwritten on a per-page basis?

[code]

[2021-11-05 04:52] #872 closed

[2021-11-08 19:53] #864 closed

[2021-11-09 10:52] joergrech opened #885 "DatasetJsonLd is missing "creator""
Hi, Google Search console is warning that dataset is `Missing field "creator`" (a recommended property). Based on their description at https://developers.google.com/search/docs/advanced/structured-data/dataset the resulting json should have the following entry:
[code]

But when adding `creator={{'name': "Techmap.io", '@type': "Organization"}}` it does not show up (It looks like DatasetJsonLd only

[2021-11-10 20:35] ekrzeptowski opened #886 "```og:title``` is empty when ```defaultTitle``` is provided"
When ```defaultTitle``` prop is supplied in ```<DefaultSEO />``` component ```og:title``` is not being correctly set

[2021-11-13 18:01] nguyentuan1696 commented on #620
This solution solved my case!

[2021-11-14 11:33] #877 closed

[2021-11-14 15:39] #871 closed

[2021-11-15 17:38] mathieutu commented on #886
For a quickfix, you can reset `titleTemplate` just were you need  it:

[code]

[2021-11-16 17:02] f-laino opened #888 "Can't resolve 'next-seo/lib/meta/nextSEO'"
Occurred at build:
[code]
next version: 11.0.1
next-seo version: 4.28.1
react version: 17.0.2

[2021-11-18 08:07] GandharvJaggi commented on #881
@geochanto hi, i faced the same issue, so i went over the code and it's perfectly fine.

what i can tell you after my research and debugging is that, <NextSeo /> runs in a sequential manner, hence keep in mind if the page you want noIndex on, doesnt have more than one "instances" of NextSeo, else if the last instance in compilation doesn't have noIndex, it will be treated as false.
I solved it by

[2021-11-20 17:42] mryechkin commented on #663
Still relevant!

[2021-11-21 04:59] Mayank-MP05 opened #889 "in CorporateContactJsonLd email attribute is not supported in contact point"
We are using next-seo for organisation schema markup, in `<CorporateContactJsonLd />` component we can give contact points as telephone but email tag is not supported in next-seo. First I thought it might be a schema markup problem but in the docs of schema markup https://schema.org/Organization ,Email Id tag is present.
![image](https://user-images.githubusercontent.com/19904765/142750008-e51bd30

[2021-11-21 22:00] #876 closed

[2021-11-27 02:13] NoobTW opened #892 "Include `sameAs` in `DatasetJsonLd` props"
According to [Google's Page](https://developers.google.com/search/docs/advanced/structured-data/dataset), there are more props like `sameAs`, `isBasedOn`, etc.

Should be added in `DatasetJsonLd` props.

May be related to #131.

[2021-11-27 07:51] #847 closed

[2021-11-28 16:11] kamal-choudhary commented on #141
I'm also confused what is the best practice to add `<NextSEO />` and also the `<Head>` for the custom `script` and `link` tags in the same page.

Currently, I'm using it like this.

[code]

The tags are rendered correctly in the `<head>` tag, but I feel that it is not the best approach.

[2021-12-02 03:04] #714 closed

[2021-12-02 15:34] Mayank-MP05 commented on #889
Hey, @garmeeh @Myoxocephalus @erickeno @econdie I really want to work on this issue should I continue to add this short simple feature and create the pull request for the same ??

[2021-12-06 08:57] bonesoul commented on #14
is this issue still releavent? in my site's source i can see og:title and so but no twitter ones?

[2021-12-07 22:37] macist-m opened #894 "Opengraph og:image not working"
og:image is not working within the opengraph props, yet it works with in the additionalMetaTags prop.

Any ideas? Thanks.

[2021-12-09 09:49] gm-rebricker opened #896 "Wrong type for field brand"
Hello,
I set the brand in the product like this:
<ProductJsonLd
....
brand="LEGO"
/>
The generated JSON looks like:
"brand": {
      "@type": "Thing",
      "name": "Lego"
    },

The problem is google shows me the following warning:
Wrong type for field brand.
Supported types: [http://schema.org/Brand,http://schema.org/Organization]

How can I fix this?

[2021-12-11 12:28] osamasayed commented on #491
The problem with `additionalMetaTags` is that it doesn't allow duplicates and this is problematic since in my specific use-case, I need multiple `og:locale:alternate` tags. This an example of how the tags are supposed to look like:

[code]

[2021-12-11 22:58] #882 closed

[2021-12-13 09:34] vreality64 opened #897 "noindex, nofollow, disableGooglebots, robotsProps props dose not working in DefaultSeo"
These props are invalid in `DefaultSeoProps`.
1. noindex
2. nofollow
3. disableGooglebots
4. robotsProps

https://github.com/garmeeh/next-seo/blob/abfeb47e77c5815fd32bb8441f3368aa97fef96d/src/types.ts#L267-L275

it's not bypassed into `DefaultSeo.tsx`

https://github.com/garmeeh/next-seo/blob/abfeb47e77c5815fd32bb8441f3368aa97fef96d/src/meta/defaultSEO.tsx#L32-L52

I think these props have to be o

[2021-12-16 06:25] chrillep commented on #384
@garmeeh ping! https://github.com/garmeeh/next-seo/pull/879

[2021-12-16 11:05] Multipotent opened #899 "Please replace single quotes with double quotes in your documentation examples since it always compiles to double quotes."
When creating FAQ schema. The example shows single quotes. However it automatically converts these to double quotes.

So if you start from your example and use the single quotes:

`acceptedAnswerText: 'This is an answer to a question and here is a <a  href="https://google.com">link inside</a>' `

The output after build will actually be:

`acceptedAnswerText: "This is an answer to a question and he

[2021-12-16 23:51] sidster-io opened #900 "Adding httpEquiv: "content-type" throws a type error"
**Environment info:**
node: 14.x.x
next-seo: "^4.28.1"
@type/next-seo: "^2.1.2"

**My seo-config.ts**
[code]
**Error:**
[code]

[2021-12-20 04:27] heli-solutelabs opened #902 "Cannot Find "isAccessibleForFree" prop in next-seo."

[2021-12-21 14:42] #885 closed

[2021-12-25 14:11] #888 closed

[2021-12-27 04:37] #881 closed

[2021-12-27 23:37] geochanto commented on #881
OK, I think I narrowed down the issue.

`noindex` and `nofollow` don't work when used in the `DefaultSeo` component. They work fine in `NextSeo` component.

So this still seems like a legit bug, although not as severe.

[2021-12-28 13:14] franciscoaguirre commented on #424
Hi everyone! I made a PR for this and I hadn't seen this issue :sweat_smile:. It's https://github.com/garmeeh/next-seo/pull/905
It would be a great idea to be able to add custom JSON-LD since there are so many types defined in the schema, I'd gladly help with that as well.

[2021-12-29 18:46] jonalvarezz commented on #128
I hit this issue on Next v12.

I noticed it worked fine for another project that was on Next v11. Downgrading fixed it.

[2022-01-01 01:03] BrendanSluke commented on #14
Technically Twitter does state that they fallback to open graph tags if applicable Twitter tags are not found:

twitter:title = og:title
twitter:description = og:description
twitter:image = og:image
twitter:image:alt = og:image:alt

Source:
https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup

So technically Twitter themselves have openly "softly deprecated" those 4 tag

[2022-01-03 19:08] #892 closed

[2022-01-08 13:53] khwerhahn commented on #894
Same issue

[2022-01-08 19:12] gkpty opened #907 "wrong format for localBusiness review author"
Google rich results does not recognize the format of localBusiness > review > author from next-seo.

Ive added the review prop to the `LocalBusinessJsonLd` component as instructed in the docs
[code]

in the page source i get the following
[code]

However google expects the review author to have the following format and be of type Person
[code]

[2022-01-09 01:36] marcospassos commented on #692
Same need here

[2022-01-09 01:37] marcospassos commented on #692
By the way, I can't find any references about the blog structured data. Does it exist at all?

[2022-01-09 11:14] #889 closed

[2022-01-09 16:32] emmekappa commented on #825
having the same issue: i would like to pass `productID` in order to be compliant with Facebook Marketing API

[2022-01-12 08:43] chrillep commented on #896
ping!

[2022-01-12 09:04] mercteil commented on #896
ping!

![image](https://user-images.githubusercontent.com/36293774/149097079-4d3f0cf1-fe0f-4771-94e6-5f4de1b8ee52.png)
!

[2022-01-12 09:38] chrillep commented on #896
yay :)

[2022-01-14 16:00] HT-Moh commented on #894
I had similar issue and I found out that the SEO tags always the default values instead of the blog post (the blog was fetched on the client).
This does not work for og-graph as the services like twitter,  facebook they don't wait for JS to be rendered, they get response from the server and parse it.
I could see this issue by using command line instead of the browser and printing the response from

[2022-01-15 17:50] nyedidikeke opened #910 "additionalLinkTags does not support "as" and "crossorigin" attributes"
When adding link tags that are not handled by default, attempt to include the `as` and `crossorigin` attributes result into a TypeScript error TS2769.

<details><summary>TypeScript Error</summary>

[code]

</details>

It will be great to add them as optional attributes to the link tag so as to enable preloading of resources for performance optimisation.

The following is the attempted [`additional

[2022-01-17 09:29] ErnestBrandi opened #913 "JSON-LD : allow "address" to be a simple string"
Hi, for now when creating Schema including the address field, the only option available is the PostalAddress form. This force us to use a destructured form, when a simple Text form is also valid (ex: 121 Super Street, NYC).

Would you accept a PR about this ?

[2022-01-17 20:48] mathieutu commented on #886
Still and always... 🙄

[2022-01-22 13:09] nyedidikeke commented on #913
@ErnestBrandi Can you provide more context and sample implementation (current vs suggested)?

[2022-01-22 14:05] nyedidikeke commented on #900
@sidster-io It's a bug. Until fixed, you may want to achieve same via your `pages/_app.txs` as below;

[code]

[2022-01-22 14:13] nyedidikeke commented on #902
@heli-solutelabs Please provide context, current behaviour and expected one.

[2022-01-24 12:48] vreality64 commented on #897
it's not stale :)

[2022-01-24 16:13] gstrobl commented on #714
@travis-south did you fixed it?

[2022-01-24 16:14] gstrobl commented on #420
@nabiltkarim did you fixed it? I'm facing the same problem.

[2022-01-29 08:31] garmeeh commented on #913
Hey @ErnestBrandi would you mind posting a short code example here of the change might look like before opening a PR?

[2022-01-29 08:34] garmeeh commented on #907
This has now been fixed in V5. Output is now:

[code]

Please re-open if closed by mistake.

[2022-01-29 08:34] #907 closed

[2022-01-29 08:35] garmeeh commented on #902
@heli-solutelabs please provide desired behviour and example output along with relevant docs relating to `isAccessibleForFree`

[2022-01-29 08:38] garmeeh commented on #896
This should now be fixed in V5.

[2022-01-29 08:38] #896 closed

[2022-01-29 08:40] garmeeh commented on #894
@macist-m can you provide an example of what is not working and I can investigate.

[2022-01-29 08:41] garmeeh commented on #886
This has now been fixed in V5. Please let me know if it is not working as expected and I can fix.

[2022-01-29 08:41] #886 closed

[2022-01-29 08:45] garmeeh commented on #711
`next-seo` has been re-written to enable to release of V5. A lot of the feedback given here was applied so thanks for contributing.

[2022-01-29 08:45] #711 closed

[2022-01-29 08:48] garmeeh commented on #692
Hey @aej11a, Article and Blog have now been merged in the latest release. `@type` is also now a prop. A small pull request to update [this](https://github.com/garmeeh/next-seo/blob/master/src/jsonld/article.tsx#L8) to allow `BlogPosting` should do the trick.

[2022-01-29 08:48] garmeeh commented on #690
This is now available.

[2022-01-29 08:48] #690 closed

[2022-01-29 08:49] garmeeh commented on #721
Hey @svassaux this should now be fixed as part of the re-write for V5. If not let me know I will can address ASAP.

[2022-01-29 08:49] #721 closed

[2022-01-29 08:53] #617 closed

[2022-01-29 08:54] garmeeh commented on #612
`datePublished` is required by Google. `dateModified` is now optional.

[2022-01-29 08:54] #612 closed

[2022-01-29 08:54] #551 closed

[2022-01-29 08:58] garmeeh commented on #529
This is now possible by simply adding props.

Example:

If I want to a something called `newThing`

[code]

[2022-01-29 08:58] #529 closed

[2022-01-29 12:52] macist-m commented on #894
Thanks, yet it worked after some time...

[2022-01-29 15:20] garmeeh commented on #477
Hey @Eyas I finally got around to re-writing `next-seo` and reviewing all issues. Thanks for this feedback, I will update to use this method.

----

I am going to close this issue for house keeping but if anyone would like to investigate adding `schema-dts` please free to open pull request.

[2022-01-29 15:20] #477 closed

[2022-01-29 15:27] garmeeh commented on #384
This has been updated to be Brand.

[2022-01-29 15:27] #384 closed

[2022-01-31 07:18] apang2013 opened #924 "Missing author.url in ArticleJsonLd"
## Problem

In the guidelines for writing structured data for [Articles](https://developers.google.com/search/docs/advanced/structured-data/article), the `author` object includes a `name` and a `url` property. The `url` is supposed to be the link to the page of the author who wrote the article.

Currently (5.0.0), in the `ArticleJsonLd` component, only `authorName` is provided, and does not provid

[2022-01-31 09:25] ErnestBrandi commented on #913
Hi, for Schema types as `Event` or `Job Posting` for instance, the address field can only be of type `PostalAddress` (see the setAddress function here : https://github.com/garmeeh/next-seo/blob/4776325a473df40207efef99d32bcfa6243766ee/src/utils/schema/setAddress.ts).
But in the Schema.org documentation it can also be of type `Place` and accept a text value as `123 whatever street` (https://schema.

[2022-01-31 21:53] 0x54321 opened #925 "incorrect contactPoint prop"
**Describe the bug**
In the example for `OrganizationJsonLd`, there is a `contactPoint` prop that takes an array of contact points. The resulting json should include `"@type": "ContactPoint"`, but in reality it does not. If I use the prop `contactPoints` (plural), then the type is correctly added, but then the json array is incorrectly called `contactPoints`.

**Expected behavior**
The json should