[2022-01-31 23:00] robsonkades commented on #910
i have the same problem

[2022-02-01 19:40] #910 closed

[2022-02-04 02:59] vreality64 commented on #897
From v5 version, defaultSEOProps no longer extends NextSeoProps and is declared as an independent type. Thank you :)

[2022-02-04 02:59] #897 closed

[2022-02-07 23:06] KristenWilde opened #926 "reviewBody needs to be sanitized - no double quotes"
**Describe the bug**
Some of my schema.org json is broken because people have posted reviews with double quote characters. It's easy enough for me to handle this on my end, but it would be nice to have this built into the library.

[2022-02-15 20:08] nyedidikeke commented on #926
@KristenWilde Can you share more details about on how to reproduce the challenge?

[2022-02-17 19:39] tobiasorosa opened #927 "Disable Googlebots was removed?"
We had the option to disable googlebots with a boolean prop (implemented here #869)  until version 4.29.0, which has been removed in v5.0.0, specifically at this PR #873. It must have been for better maintenance of the code, but if not, it would be great to know why, and if possible, to be re-added so that it stays up-to-date.

[2022-02-17 19:58] garmeeh commented on #927
Hey @tobiasorosa what is the issue you are having?

`googlebots` is now not included by default so the props have been remove.

[2022-02-21 10:20] kuus commented on #663
hi @garmeeh , thanks for this great library,
have you tried already setting `"sideEffects": false,` in the `package.json`?
assuming there are no sideEffects that would help I guess, otherwise you can list those files which do have sideEffects in an array,
see [webpack](https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free) docs

cheers

[2022-02-21 12:43] carly-cloud commented on #85
Do we have a solution for this?

[2022-02-22 04:51] matamatanot opened #930 "Integrate with React 18 Suspense and/or streaming"
**Is your feature request related to a problem? Please describe.**
[Warn in dev mode when script tags are added with next/head](https://github.com/vercel/next.js/pull/33968/files#)

Using `script` in `Head` is incompatible with the new features of React 18, so a warning is now issued in the dev environment. In next-seo, such code exists.

**Describe the solution you'd like**
Use `next/script`.

**

[2022-02-22 15:25] futantan opened #931 "Cannot enough information about notion page url"
**Describe the bug**
For the custom `pageLink` component, we can't get enough information to get the final URL of the notion page.

**Expected behavior**
I'd like to open its original URL in a new tab.

[2022-02-22 15:57] futantan commented on #931
Wrong place, sorry about this.

[2022-02-22 15:57] #931 closed

[2022-02-26 21:09] iipanda opened #932 "Optional chaining operator doesn't compile and doesn't work in older browsers"
**Describe the bug**
The `?.` somehow doesn't get compiled by TypeScript (it is normally replaced during compilation, see the compiled code [here](https://www.typescriptlang.org/play?#code/MYewdgzgLgBCBGArGBeGBvAhgLhgRgBoZ5cAmAXwChRIQAbAUwDo6QBzACgUQH4nMAlEA)), and it ends up in the bundle, causing the app using `next-seo` to crash in older browsers that don't support that operator.

Here's our Se

[2022-02-28 12:36] AntoineKM commented on #656
i confirm that also

[2022-02-28 12:38] AntoineKM opened #933 "[languageAlternates] hreflang rendered with wrong case (hrefLang)"
Reopening this issue: #656

[2022-03-01 03:05] medv commented on #932
Can confirm this is an issue. Development builds without issue, fails to compile with the same error in vercel.

[2022-03-02 13:20] futantan commented on #932
Got the same issue

[2022-03-05 10:54] ashwinkhode opened #934 "Not able to set empty description if default seo config is provided"
**Describe the bug**
I want to set empty description but I am not able to override the default seo's description. Can I do it or is it just not possible? This is more of a question rather than a bug.

**Expected behavior**
Empty description should be set if passed empty string `""` in NextSeo even if default seo is present

[2022-03-05 13:26] alexstanbury commented on #932
Had the same issue, I solved deploying to Vercel by upgrading the version of node used from 12 to 14 in the Vercel settings.

[2022-03-06 19:06] nyedidikeke commented on #933
@AntoineKM Can you provide a complete information on how to reproduce the current challenge?

[2022-03-06 19:11] AntoineKM commented on #933
sure

this is what i've done:
[code]

[2022-03-06 19:15] AntoineKM commented on #934
Try this code:
[code]

[2022-03-06 20:15] Sakthisivaprakash opened #936 "Build Error at Nextjs deployment"
**Describe the bug**
A clear and concise description of what the bug is.
Faced build Error at Vercel Deployment:

`<html>
<body>

--
01:41:53.477 | /vercel/path0/node_modules/next-seo/lib/next-seo.js:215
01:41:53.477 | if (config.openGraph?.title \|\| updatedTitle) {

</body>
</html>`

**Reproduction**
For issues to be triaged in a timely manner please provide a Codesandbox/Github of the issue in

[2022-03-06 23:45] markhughes commented on #511
@garmeeh is this something I could implement for you?

[2022-03-07 05:37] ashwinkhode commented on #934
Tried! not working :(

[2022-03-07 08:03] nyedidikeke commented on #936
@Sakthisivaprakash Kindly share content of your `package.json` file and the command run and full error message.

[2022-03-08 12:43] christofferberg commented on #936
@Sakthisivaprakash

What is your Node version on Vercel?
If 12, try 14. 🤞

[2022-03-08 14:15] anttiku commented on #131
+1 for this feature. There will always be different versions of schemas, so custom ones should be possible. I.e. `WebPageJsonLd` could have `name` & `primaryImageOfPage`

[2022-03-09 01:29] dkast commented on #936
@christofferberg I had the same issue just today and changing the Node version to 14 fixed the error. Thanks!

[2022-03-09 14:27] snelsi commented on #932
![image](https://user-images.githubusercontent.com/15171036/157460328-0861d989-2bfc-46f0-a90e-107f8040a8fe.png)
Firefox 72, Windows 11

[2022-03-09 16:47] Sakthisivaprakash commented on #936
Bug solved after changing node version from 12 to 14 in Vercel deployment settings

[2022-03-09 16:47] #936 closed

[2022-03-09 16:48] Sakthisivaprakash commented on #936
Thanks for your solution @christofferberg

[2022-03-11 15:11] Kerim-Willem commented on #936
Had the same issue. This thread fixed it for me, upgrading to v14. Thanks!

[2022-03-12 17:16] prince272 commented on #932
I also experience the same issue on older browsers

[2022-03-14 09:55] GorvGoyl opened #938 "meta tags on Linkedin not working as it requires both name and property to be in meta tags."
Meta tags on Linkedin are not working as it requires both `name` and `property` to be in meta tags.

URL to inspect OG tags on Linkedin: https://www.linkedin.com/post-inspector/inspect/https:%2F%2Fgourav.io%2Fblog%2Fautohotkey-scripts-windows

Tags which are not working: title, Image, Description, Author

All three `name`, `property`, and `content` should be there.

<img width="542" alt="CleanShot

[2022-03-14 10:58] futantan commented on #932
Maybe this can help:
[code]

[2022-03-14 19:49] philohelp commented on #938
I'm facing the same situation here. Pretty embarassing.

[2022-03-15 16:31] linojon opened #940 "Blocks fetch requests on iOS Safari older versions"
**Describe the bug**
My Nextjs site was failing on older iPhones and iPads running Safari 10.x and 11.x. When I comment out <DefaultSeo> it renders fine. It seems that any fetch calls never invoke a request (that is, its not that the fetch generates an error or anything). I've diagnosed this extensively in my own app, and then created a simple example. It works fine on newer Safari iOS and other p

[2022-03-16 20:38] sos0 commented on #932
I'm unable to use this library due this same error.

[2022-03-21 13:11] AntoineKM commented on #933
Some news ?

[2022-03-22 12:45] technion commented on #932
I've been looking into this. I'm fairly sure a more specific fix than Babel, is with Typescript here:

https://github.com/garmeeh/next-seo/blob/master/tsconfig.json#L3

If you write something with optional chaining in the typescript playground:

https://www.typescriptlang.org/play

You'll see you need to set the target to ES2019 or lower to get it to compile the chaining out. The current "ESNext"

[2022-03-23 03:13] technion commented on #932
I've confirmed the issue doesn't exist the below older version, temporary workaround:

npm install next-seo@4.29.0 --save

I had the same issue as @sos0 , if I try to use the patch suggested it doesn't actually end up exporting the module.

[2022-03-23 08:13] snelsi commented on #932
@sos0 @technion
This package has an extra build step when it's published, so you can't use Github repo directly as a package declaration.

Try this, I published my fork as a npm package:
`npm i @snelsi/next-seo`

Swap all imports of `next-seo` with `@snelsi/next-seo`. You can swap back once original package is patched.

[2022-03-23 08:32] garmeeh commented on #932
Can someone test `v5.2.0`? This contains a fix added by @snelsi 💪

[2022-03-23 16:17] snelsi commented on #932
Can confirm **5.2.0** fixed issue in my project 🎉

[2022-03-25 12:14] FunctionDJ opened #942 "JSON-LD Prop Types are broken"
**Describe the bug**
There's no autocomplete / intellisense / typechecking with any JSON-LD component who's `.d.ts` file tries to import another type from the `types.d.ts` file.

Some JSON-LD `.d.ts` files attempt to import a type from `src/types`, which doesn't exist. In the shipped NPM module that file is located at `../types` relative to the file. Manually changing the path like this fixes the

[2022-03-25 12:19] FunctionDJ commented on #942
After i changed the strings manually for now, i found another issue:
![image](https://user-images.githubusercontent.com/34871211/160119368-d16769da-5362-4419-bb92-8f7ac947fa83.png)

It turns out that multiple interfaces by the same name (Question) are generated in `types.d.ts`, which results in TypeScript picking the first interface, which is the wrong one. To fix this, the types probably need to

[2022-03-25 14:02] devanonymous commented on #924
there is a solution?

[2022-03-26 17:53] anoonoll commented on #99
The same problem is occurring on my site.
Browser validation reflects NEXTSeo on individual pages, but the default next-seo-config.js corresponds with Twitter, Firebase's Card validator, etc.
I tried using getServerSideProps but no improvement.
Does anyone know what to do?

[2022-03-28 12:02] armandabric commented on #932
I was getting the same issue. Upgrading to 5.2 solve the issue :+1:

[2022-03-28 14:28] anoonoll commented on #99
I found the cause!
The cause of not being reflected was redux-persist.

Reference ↓
 https://qiita.com/miyabiya/items/14e4f133d5df5d53cd77

[2022-03-30 17:47] joemckenney opened #945 "NextSeo doesn't render tags in heads on SSR in React 18"
**Describe the bug**
Happy users of NextSeo in a very simple webpage.  After an upgrade of react from 17.0.2 to 18.0.0 NextSeo no longer rendered SEO tags in the `<head />` on SSR.

**Reproduction**
Created minimal branches that repro the issue:
Not working w/ React 18.0.0, see  https://github.com/joemckenney/next-seo-bug
Working w/ React 17.0.2, see https://github.com/joemckenney/next-seo-bug/tre

[2022-03-30 17:52] garmeeh commented on #945
I will investigate this ASAP. I’m AFK right now but will look when I’m back. Should have an update on the issue tomorrow.

[2022-03-30 17:53] garmeeh commented on #945
Probably related to #930

[2022-03-31 18:30] garmeeh commented on #945
Hey @joemckenney can you try updating to the latest version of `next`. I think it was an upstream issue.

And also thank you for submitting a good reproduction, would have lost hours trying to debug this one without it!

[2022-04-01 03:58] joemckenney commented on #945
@garmeeh updating next seems to fix the issue.  Thanks for the help!

[2022-04-01 03:59] #945 closed

[2022-04-01 22:08] barsketis opened #947 "How-To JSON Snippet"
**Is your feature request related to a problem? Please describe.**
Feature request for the How To structured results.

**Describe the solution you'd like**
[Here is googles guide on it + example structured data](https://developers.google.com/search/docs/advanced/structured-data/how-to)

**Additional context**
![1](https://user-images.githubusercontent.com/7006807/161347507-7dd73aa0-e745-4036-b823-

[2022-04-03 16:34] moggiex commented on #692
Might be being thick, has this been resolved @garmeeh?

Tried using 'Blog' and 'BlogPosting' as the type and neither have the required output and get ignored by Google (can be verified in their inspection tool here [](https://search.google.com/search-console/inspect) it doesn't even show up! )

Example input:
[code]

And output: [](https://search.google.com/test/rich-results/result/r%2Farticles?id

[2022-04-05 20:21] GrayGalaxy commented on #86
Instead of a default canonical tag can we have a template that start with the website URL ?

For example, in `/about` page
[code]

... that ultimately creates `<link rel="canonical" href="https://somewebsite.com/about">`

where we can provide the site_url in config file.

I assume this approach would be better than a default canonical tag.

[2022-04-12 13:39] oleg-semyonov commented on #942
I'm having the exact same issue, which is preventing me from building the code 😕

[2022-04-13 14:36] bonesoul opened #951 "react-18 issue"
after react 18 upgrade getting this ts error:

[code]

[2022-04-18 10:11] thandaanda commented on #690
Hi @garmeeh
Can you point me to WebSite JSON LD. I don't seem to find it. I cand find WebPageJsonLd in exported members but not Website.

[2022-04-22 12:30] garmeeh commented on #951
Can you create a new issue and provide an example please.

[2022-04-22 12:30] #951 closed

[2022-04-26 19:20] ahalaburda opened #952 "It does not change the default values."
**Describe the bug**
When you set a default for SEO like https://github.com/garmeeh/next-seo#default-seo-configuration, create a custom _app.js file with a default configuration there, and then try to modify that default values on other pages. In production, it works only by checking in your browser, but when using a meta tags inspector or sharing the link via Twitter, FB or Slack it is always the

[2022-04-26 19:58] ahalaburda commented on #952
`// import "bootstrap/dist/css/bootstrap.css";
import "../styles/base.scss";
import "../styles/app.scss";
import React, { useEffect } from "react";
import { ContextProvider } from "../context/main-context";
import RouterContext from "../context/router";
import TagManager from 'react-gtm-module'

import { DefaultSeo } from 'next-seo';
import SEO from '../next-seo.config';

const tagManagerArgs = {

[2022-04-26 21:27] garmeeh commented on #952
Hey 👋

What you are describing usually indicates you are not fully server rendering the page in question. To test in the browser disable JavaScript or view page source.

Usually it’s due to rendering being blocked by state being set in a useEffect or maybe even a global context that is waiting on state from client.

[2022-04-27 00:32] ahalaburda commented on #952
Hi @garmeeh,
I also tried disabling javascript, but the same behavior. And after creating new projects for testing and changing the <DefaultSeo {...SEO}/> inside the RouterContext and ContextProvider it doesn't work as it should be.  The cause is the useEffect of the contexts.

[2022-04-27 00:32] #952 closed

[2022-05-03 08:51] IlirBajrami commented on #85
I need a solution for thi one too. any news?

[2022-05-03 13:43] rhythmbhiwani opened #954 "OG Image url encoding results in wrong url"
**Describe the bug**
A clear and concise description of what the bug is.
I am using the [vercel og-image](https://github.com/vercel/og-image) service to serve og images for my app. The url generates dynamic og images using the supplied query parameters which are supplied using the `&` symbol in url. But `next-seo` encodes the url resulting in `&amp;` which breaks the url and does not give expected

[2022-05-05 23:56] zeckdude commented on #934
Yeah, i'm running into the same issue. Not even an empty string works.

[2022-05-09 15:38] brenopolanski commented on #864
I have the same issue with duplication of `og:title` and `og:description`. In local development it works fine, but in production mode the meta tags are duplicated.

To reproduce @jawil003, try run:

1. `yarn build`
2. `yarn start`

[2022-05-09 19:31] brenopolanski commented on #864
I realized that the problem is with my build in `next.config.js`. Because I'm using Preact to replace React with the webpack alias config:

[code]

If I remove the code above, there will be no duplicate meta tags when I use next-seo.

[2022-05-10 09:13] 28development opened #956 "Add feature to enable confidential value in hiringOrganisation prop"
Describe the issue:
Currently there is no way to add a confidential value to the JsonLD Job component.

There should be an option to set the confidential value like following:

`hiringOrganization='confidential'`

If the organization is hiring anonymously (for example, a staffing agency on behalf of an anonymous employer or an employer directly on your platform), use the confidential value for the

[2022-05-10 09:16] 28development opened #957 "validThrough property should not be required."
Currently the validThrough property is required.

Job postings without an expiration date can't be set properly, current we have to manually add a datetime. The property validThrough should be optional.

[2022-05-12 02:33] lz000 opened #958 "AggregateRating does not support property itemReviewed which is required by google"
**Describe the bug**
AggregateRating does not support property itemReviewed. The generated schema is considered invalid by google due to missing AggregateRating. https://developers.google.com/search/docs/advanced/structured-data/review-snippet#aggregate-rating

**Reproduction**
1. Generate the schema with the example config
[code]
2. Run the page through https://search.google.com/test/rich-results

[2022-05-12 03:05] #958 closed

[2022-05-13 05:49] sunysunysuny opened #959 "Can I use next-seo in angular app ?"
Hey Guys,

I just want to know that can we use next-seo in angular app ??
Please reply as soon as possible.

Thanks

[2022-05-15 02:53] lz000 opened #962 "Double quotes issue"
I have a description that contains double quotes
[code]
With below code
[code]
<script type="application/ld+json">{"description":"&quot;test&quot;"}</script>
[code]
 <LocalBusinessJsonLd
        description={JSON.stringify(description).slice(1, -1))}
 />
[code]
<script type="application/ld+json">{"description":"\\&quot;test\\&quot;"}</script>
[code]

[2022-05-17 11:54] vlapo commented on #491
We have exactly same problem. Is there any workaround?

[2022-05-27 18:19] danielmeeusen opened #963 "Not able to override DefaultSeo"
Never mind, I was tired, and doing something dumb.

[2022-05-29 01:30] #963 closed

[2022-05-29 22:41] jrandallw commented on #959
This package seems to be built to work exclusively within a Next.js context, so unfortunately no. There seem to be similar libraries built for Angular on npm, I'd recommend taking a look there. A quick search turned this up, might get you started:

[https://www.npmjs.com/package/ngx-seo](https://www.npmjs.com/package/ngx-seo)

[2022-05-30 10:36] ja573 commented on #638
Is this at all included in the roadmap, @garmeeh ?

[2022-05-30 12:17] Anjianto opened #964 "Fully custom meta like from API"
**Is your feature request related to a problem? Please describe.**
Currently i have some jobs that requires fully custom meta and i found that next-seo doesn't have support children for fully custom SEO. i know it will make many problem like XSS attack while you can prevent and duplication meta tag

**Describe the solution you'd like**
it will support children to render fully custom meta. User can

[2022-06-04 00:45] danielmeeusen opened #966 "next-seo not working outside of _app.js"
Whatever I put in other next pages weather they be dynamically generated or not does not show up in the initial render of the page thus does not replace what is defined in _app.js.

_app.js

[code]
next-seo.config.js

[code]
post/[postId].js
[code]

Any help would be very much appreciated...

[2022-06-08 20:39] Mkhdv opened #967 "next-seo dangerouslySetAllPagesToNoFollow and dangerouslySetAllPagesToNoIndex does not allow override"
According to the documentation for next-seo plugin, we should be able to override [dangerouslySetAllPagesToNoFollow](https://github.com/garmeeh/next-seo#dangerouslysetallpagestonofollow) and [dangerouslySetAllPagesToNoIndex](https://github.com/garmeeh/next-seo#dangerouslysetallpagestonoindex) defined in \<DefaultSeo\> component on a page level via \<NextSeo\> component:

"You can still override th

[2022-06-09 15:18] ianthekid commented on #966
Having similar struggle. Everything I have read about this issue says it can be solved by using `getServerSideProps()` and moving `<DefaultSEO />` outside of any provider/context in `_app.js`. But despite trying all of these things, it doesn't seem to read the `<NextSEO />` on any OG checker/debugger.

My setup:

pages/_app.js
[code]

pages/post[slug].js
[code]

But this still doesn't work with an

[2022-06-13 14:23] goforbg commented on #924
Same here, is there any solution?

[2022-06-13 17:54] RamZallan commented on #966
@garmeeh are you aware of this issue? Seems to be breaking the overall functionality.

[2022-06-14 12:12] softiran opened #968 "Review Snippet Support"
Hi, I couldn't find [Review Snippet](https://developers.google.com/search/docs/advanced/structured-data/review-snippet#:~:text=A%20review%20snippet%20is%20a,info%20from%20reviews%20or%20ratings.) Support in Next-SEO. How can I implement it?

[2022-06-16 08:30] thusharaferndo opened #969 "Adds escape chars to header"
**Describe the bug**

I disabled javascript in my browser and looked at the dom since server side rendering should handle the intial render.
i have added some header tags and heres how it looks like this

![image](https://user-images.githubusercontent.com/97655591/174027927-b0d29de5-ca63-43da-9069-5edd11c14920.png)

any reason why it has added escape characters
and will this affect seo

[2022-06-16 09:13] #969 closed

[2022-06-19 22:37] burakibis commented on #954
Same as me. next-seo encode urls so If has ampersand, It breaks the urls.

[2022-06-20 01:42] aravind-tc commented on #966
We are seeing the same issue. Is there any solution to this issue?

[2022-06-21 20:18] jordanlambrecht commented on #544
I'm still experiencing this. If an OpenGraph image array is defined in DefaultSEO, it overrides individual pages' default images. Any updates?

[2022-06-24 18:09] wescopeland commented on #966
We had to roll back to 5.2.0 as a result of this issue.

[2022-06-25 10:41] farzinfadamin opened #972 "Support Music og:type"
According to the [OpenGraph](https://ogp.me/#type_music) official website, there are other types like `music.song`, `music.album`, `music.playlist` and `music.radio_station` which needs to be supported by NextSeo.

Preferable structure for this kind could be the same as video type or something like the following snippet.
[code]

[2022-06-28 02:03] idiglove commented on #377
Hi @garmeeh Can you give some context on how to fix this? I can take a look at it. What is the desired outcome?

[2022-06-28 09:12] garmeeh commented on #966
If someone can provide a codesandbox/github repo recreating this issue I can look into this.

[2022-07-01 23:40] columbian-chris commented on #481
Shouldn't this actually be this, as an array of authors instead of duplicate entry keys for author?

[code]

[2022-07-03 12:20] indicozy opened #973 "Support for og:title by default"
**Is your feature request related to a problem? Please describe.**
The problem is that I could not find whether the use of `og:image` is implemented as a default option or not so have to use it as additional meta tag:

[code]

**Describe the solution you'd like**
Add `og:image` to default options for `next-seo`:
[code]

**Describe alternatives you've considered**
I'm already using an alternative

[2022-07-03 13:28] indicozy commented on #973
another issue that it comes with is that because it is not added to default options it cannot be set as default image in `DefaultSeo`

[2022-07-06 01:00] pedrorolando opened #974 "og:image not setting twitter:image"
**Describe the bug**
The og:image property is not setting the twitter:image property by default, as the docs claim.

**Reproduction**
Set an og:image - then view page head in console and see there is no twitter image set.

**Expected behavior**
Expect the twitter image to be set automatically by default seo component.

[2022-07-06 01:10] #974 closed

[2022-07-06 17:59] joelhooks commented on #966
we had this issue and it appears that the meta is rendering client side but not server side (so it's not in view source)

In our case we had to downgrade to `4.29.0` for it to start appearing again.

https://github.com/skillrecordings/products/pull/294

For us, it was working previously but stopped after this commit https://github.com/skillrecordings/products/commit/b83a453689522641bcebd4d1d6dcb01

[2022-07-07 08:19] pliashkou commented on #966
in our case it stoped working wrapped into `<PersistGate>` from Redux

[2022-07-08 00:54] MaximSchoemaker commented on #958
@lz000 heya, I'm running into the same issue. How did you manage to resolve this?

[2022-07-13 00:14] joelhooks commented on #966
As a temporary solution I cut and pasted the very well organized and simple to follow source for this great project into my repo directly and it stabilized. I've been exploring issues with our project structure and dependency graph to try and isolate why this is happening in our case. Will report back if I learn anything.

https://github.com/skillrecordings/products/pull/324

[2022-07-13 10:03] garmeeh commented on #966
Hey @joelhooks, sorry to hear you are still having issues. Can I confirm that you addressed any breaking changes when updating from V4 -> V5?

https://github.com/garmeeh/next-seo/releases/tag/v5.0.0

[2022-07-13 12:27] harvestnide opened #975 "Allow null for typescript definitions"
Duplicate of #840 - which was closed by stale bot

**Describe the bug**
With strict-null check enabled - you cannot use null as prop for any meta block. All my meta fields are coming from Static/ServerSide Props and there is a catch - **next refuses to serialize undefined**, meaning that I have to either filter out all undefined values from objects (*and there is no easy way to do it recursively a

[2022-07-16 19:30] logotip4ik commented on #966
For me worked downgrading next to 12.1.* 🤷‍♂️

[2022-07-17 19:12] JamesSingleton commented on #954
Yeah I just ran into this where I have an `&` in an Article title as well as the URL for images and it is resulting in the `&amp;`

[2022-07-20 18:09] garmeeh commented on #942
@FunctionDJ I am a little confused from your codesandbox as it is not a Next.js application?

[2022-07-20 18:27] garmeeh commented on #973
So would something like `baseUrl` work?

[code]

Docs:
`baseUrl` should be your top level domain. This will be used for fields that require a full URL such as og:image

[2022-07-20 21:36] omarelkhal opened #982 "cannot add areaServed as a list in LocalBusinessJsonLd"
I have a list of cities too add in areaServed
the list format is valid when i checked in https://validator.schema.org/  this example `{"areaServed":["city1","city2","city3"]}`

and i want to do something like this:

`<LocalBusinessJsonLd areaServed =["city1","city2","city3"] />`

but i get this error :
[code]
``
apparently, the only way to add  areaServed is by adding a geo circle

how can i solve

[2022-07-20 23:39] joeporpeglia commented on #966
I just ran into this in a monorepo with multiple nextjs apps. Pinning all of the apps to the same nextjs version fixed it. Seems like a different issue if others can reproduce without a monorepo, but might be related.

[2022-07-21 18:15] FunctionDJ commented on #942
@garmeeh it seems like the sandbox was cleared or something... not sure. it wasn't an actual next.js app, it just had the next-seo package to show the problem with the types. i'll come back to this at some point and confirm if #950 fixed this or not, i can't verify right now if you want me to do that.

[2022-07-23 03:46] msahajwani commented on #902
Hi @garmeeh

This is required for subscription paywall content - https://developers.google.com/search/docs/advanced/structured-data/paywalled-content

Basically, two properties are required:

`"isAccessibleForFree": "False",
      "hasPart":
        {
        "@type": "WebPageElement",
        "isAccessibleForFree": "False",
        "cssSelector" : ".paywall"
        }`

[2022-07-26 07:37] richardcornelissen opened #983 "Support for multiple addresses in jsonLD"
**Is your feature request related to a problem? Please describe.**
Businesses can have multiple addresses, which [is supported in JSON-LD](https://webmasters.stackexchange.com/questions/81735/multiple-addresses-in-json-ld-schema-org), but cannot be added in `LocalBusinessJsonLd`.

**Describe the solution you'd like**
Support for multiple addresses for local businesses and organizations.

**Describ

[2022-07-28 21:12] barros001 commented on #967
We're experiencing the same problem. Documentation is contradicting and I'm not sure if this is how its intended to be.

[2022-08-03 06:14] gregghawes commented on #968
Also interested in this.

[2022-08-05 22:11] JamesSingleton commented on #954
@garmeeh I know you had [mentioned that this might be an issue with react](https://twitter.com/garmeeh/status/1549821390186024960?s=20&t=5wXuhyNRFV5vEReZRA5joQ). However, I am able to do

[code]

where content has URLs like `https://cdn.sanity.io/images/8pbt9f8w/production/4970237430aef6b6d4fe9d165d32d46ef2492bb7-1408x792.jpg?fit=min&auto=format` and doing `dangerouslySetInnerHTML` doesn't turn th

[2022-08-10 16:45] ianwensink commented on #954
Did anyone find a workaround for this? Encoding the URL before providing it to `next-seo` solves the issue, but I'm not sure if you can have encoded url's in an `og:image` tag.

[2022-08-10 16:47] JamesSingleton commented on #954
@ianwensink I ended up just rolling my own solution

[2022-08-10 17:06] JamesSingleton commented on #954
@ianwensink yup! So I just ended up doing
[code]

And passed my own content to `JSON.stringify()`... I mean if you are sanitizing/escaping stuff then it isn't so dangerous 😅 plus `next-seo` doesn't have/allow everything that is supported by `ld+json` so I ended up rolling my own so I can get the full benefit of `ld+json`. In my example, the `content` passed to `JSON.stringify()` looks like the fol

[2022-08-11 07:26] ernests commented on #938
Anyone update on this issue?

[2022-08-11 16:56] joao-pedrozo opened #985 "Remove meta robots inserted by default"
**Describe the bug**
It is by default adding meta robots with follow, index and I cant remove
![image](https://user-images.githubusercontent.com/40037644/184190709-fb9139a5-85e1-40aa-99bc-64ae40e2294e.png)

**Reproduction**
Just by inserting the component in a page this already happens

**Expected behavior**
I would like to remove this meta tag

**Additional context**
N/A

[2022-08-12 15:47] GorvGoyl commented on #938
@ernests it's taking props from the homepage instead of that specific link

[2022-08-15 13:35] bubuq3 opened #986 "JSON-LD is not included when I walidate it with validator.schema.org"
**Describe the bug**
JSON-LD is not included when I walidate it with validator.schema.org

**Reproduction**
I included in my `index.js` file in Next.js app: https://github.com/bubuq3/plumber-app/blob/c47d47d31cdd8fa68cb5d4df9f347bcf0fc44476/pages/index.js#L43
then indexed the website (a week ago or more) with google search console
[code]
and then validate it by this tool: https://validator.schema.

[2022-08-15 13:47] #986 closed

[2022-08-16 14:24] ernests commented on #938
Solved the problem.
First of all I had a typo in canonical url tag (og:url). Apparently linkedin fetch this url and then checks all the tags.
Second, I used NextSeo additionalMetaTags option to add tags it wouldn't see.

[2022-08-16 17:08] GorvGoyl commented on #938
@ernests, I'm still facing the issue... could you share that page link so that I can match my metatags and find the root cause

[2022-08-16 18:52] valmormn opened #987 "<DefaultSeo {...SEO} /> Type error: JSX element class does not support attributes because it does not have a 'props' property."
I'm getting this annoying error while importing next-seo-config.js

`
./src/pages/_app.tsx:13:7
Type error: JSX element class does not support attributes because it does not have a 'props' property.

  11 |   return (
  12 |     <>

     |       ^
`

Is there anything I can tweak on tsconfig.json?

[2022-08-17 05:27] meness opened #988 "JSON-LD Image License"
Hi. Please add [JSON-LD Image License](https://developers.google.com/search/docs/advanced/structured-data/image-license-metadata).

[2022-08-17 09:14] indicozy commented on #973
Gotcha, I just missed the point. Closing the issue

[2022-08-17 09:14] #973 closed

[2022-08-17 12:29] dkrefta opened #989 "JSON-LD - SCHEMA - PROJECT"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Hey guys, I'm checking if we have a clear JSON-LD for projects,  [example- schema](https://schema.org/Project)
or I missing something in the docs, thanks very much

Any links to Google or http://schema.org/ to support to validity in terms o

[2022-08-20 00:08] heymartinadams commented on #966
Quite an intractable problem! In case it helps:
1. Was unable to reproduce the issue in a stand-alone, bare-bones NextJS app using `v5.5.0` and latest `next@12.2.5`. Worked fine without a problem.
2. Downgraded `next-seo` all the way to `4.6.0` but the issue was still there, leading me to think it may not be related to any updates to v5.
3. @garmeeh in case you’re interested, I can add you to my r

[2022-08-22 09:46] apang2013 commented on #924
Seems this is solved in #961, marking this as completed.

[2022-08-22 09:46] #924 closed

[2022-08-23 21:14] heymartinadams commented on #966
Looks like this issue lies with `next` 🚀  Here’s a **workaround** (tested and works, yay!) 💥  https://github.com/vercel/next.js/issues/35172#issuecomment-1169362010

[2022-08-25 00:08] valmormn commented on #987
The problem had nothing to do with next-seo but with my Node.

[2022-08-25 00:08] #987 closed

[2022-08-25 22:20] dkrefta commented on #989
A lot of the JSON LD are not working :(

[2022-08-25 22:20] #989 closed

[2022-08-25 23:08] dkrefta commented on #989
don't worthy to use the Project Schema right now

[2022-08-29 15:35] janoschsworkspace opened #995 "Open graph images from /public folder don't render"
**Describe the bug**
When using the `next-seo` to add open graph images to pages, everything works completely fine with images hosted on external CDNs (our CMS, etc.), but for images from the /public folder, it doesn't work at all. The open graph images don't render on any platform.

**Reproduction**
Here's an example of what I'm doing:
[code]

**Expected behavior**
Open graph images from the `pub

[2022-08-29 21:13] garmeeh commented on #995
Hey @janoschsworkspace, open graph requires a full URL and not just a path.

[2022-08-30 18:05] dkrefta opened #998 "Schema JSON-LD Next SEO - Organization Schema"
I'm coming here to ask for some help with the schema JSON-LD with the library next-seo, I created this function to handle the Organization Schema

[code]
export default OrganizationSchema;
then I did the import at the pages/_app.js and inserted the component inside the (next/head) Also, the SiteLinksSearchBoxJsonLd is also there in the Head component

It is right because now I'm testing with the G

[2022-08-31 07:55] janoschsworkspace commented on #995
Oh, that makes sense. How would I use the full path to images in the `/public` folder? I've tried doing it like this (which matches the current URL of images from that folder on my site), but it hasn't worked for me yet:  `https://mysite.com/_next/image?url=%2Fname-of-the-image-file.png&w=1200&q=100`

Is that not the correct way to do it?

[2022-09-02 10:00] selenecodes commented on #864
Having the same issue as @brenopolanski when using preact

[2022-09-06 08:21] blankart commented on #864
I'm also having the same issue. [This](https://github.com/preactjs/preact/issues/3403) might be related to this issue.

[2022-09-09 10:50] janoschsworkspace commented on #995
Hey @garmeeh, what would be the correct way to do this?

[2022-09-12 05:48] 0xjessel commented on #938
I had the same issue and for me, it was realizing that my `og:url` property was missing the `https://` prefix.  Without it, LinkedIn was ingesting my canonical URL incorrectly (it led to my 404 page, which meant the og:tags that were being read were my homepage's).   Hope this helps somebody.

[2022-09-12 09:04] tom-boyd-frasers opened #1003 "JSON-LD not working in v5.5.0"
**Describe the bug**
 JSON-LD type doesn't return any script in v5.5.0, but works fine in v5.4.0.

**Reproduction**
Using any of the  JSON-LD types in [README.md](https://github.com/garmeeh/next-seo#readme). Specifically product.

**Expected behavior**
Return a div with a script

[2022-09-13 06:35] shorrykim opened #1004 "Add experienceRequirements for JobPosting"
Hey guys.

Can you add experienceRequirements property for JobPosting??

hope you guys reply as soon as possible

Thanks.

[2022-09-14 15:31] mcrider commented on #985
Would love to have this ability as well. Our use case is on pages with query parameters, we set a canonical tag for the page without query params -- We don't want to explicitly tell search engines to not index the page with query params, but don't want to noindex them.

[2022-09-26 15:27] ofilipowicz commented on #934
Any workaround?

[2022-09-27 17:18] gpadbidri commented on #1003
Yes..Observed the same

[2022-10-02 13:20] #932 closed

[2022-10-03 18:24] gpadbidri opened #1008 "Order and Invoice Structured Data are not implemented"
As per the scehma org we have Structured Data for Invoce and Order (https://schema.org/Order)
Why have we not yet implemented them ? Any specific reason for not doing the same ? Or it is discontinued ?

[2022-10-09 13:42] phuctm97 opened #1011 "Use `siteName` instead of `site_name`"
**Describe the bug**

All props are currently camelCase exception for openGraph.site_name. Would be nice to have `siteName` as an alternative.

**Expected behavior**
Have optional `openGraph.siteName`, use `openGraph.site_name` if provided to avoid breaking changes, otherwise, use `openGraph.siteName`.

[2022-10-11 17:30] GlennGuegan commented on #1011
Hello, In hacktoberfest context it's ok to contribute on this issue ?

[2022-10-11 18:04] Chirag0407 opened #1013 "Added Mp tourism Website code in html 5 and css"
Added Mp tourism Website code in html 5 and css

[2022-10-13 23:35] walkerab commented on #481
@columbian-chris I've checked using the schema.org validator and you should use `[]` and list them. If you use the same property multiple times it results in an error.

[2022-10-14 10:57] SeanDemps commented on #1003
Verified next-seo v5.5.0 on next v12.3.1: no issues found, script appears as expected.

Can you please create a new issue with more specific recreation steps if the issue persists?

[2022-10-14 10:59] tom-boyd-frasers commented on #1003
I was on next v12.2.4

[2022-10-15 12:19] #1013 closed

[2022-10-15 12:20] garmeeh commented on #1004
Docs: https://developers.google.com/search/docs/appearance/structured-data/job-posting

[2022-10-15 12:20] garmeeh commented on #1003
Thanks @SeanDemps 🙏

[2022-10-15 12:20] #1003 closed

[2022-10-15 12:22] garmeeh commented on #998
@dkrefta next-seo already includes `next/head` so no need to nest again. This may be the issue.

If you are still experiencing issues, the most common issue is client side rendering as google schema tester only checks server rendered and/or static pages.

[2022-10-15 12:22] #998 closed

[2022-10-15 12:26] garmeeh commented on #995
Hey @janoschsworkspace, yes that should be correct. If you look on page and take the `src=""` value and add your site domain to the start of it. One thing to verify is that url when entered into a browser opens the image as expected. It is strange that CDN images are working and not your one.

[2022-10-15 12:30] garmeeh commented on #985
I would be open to adding some sort of override but Search Engines by default `index,follow` and more than likely don't even read that tag anymore. So removing would likely have zero effect 🤔

[2022-10-15 12:31] garmeeh commented on #983
@richardcornelissen I think if we can add this as a non breaking change that would be ideal.

[2022-10-15 12:36] garmeeh commented on #966
@heymartinadams a big thank you for the follow up! 🙏

[2022-10-15 12:36] #966 closed

[2022-10-15 12:37] garmeeh commented on #964
Hey @Anjianto you should be able to use [next/head](https://nextjs.org/docs/api-reference/next/head) directly to achieve this.

[2022-10-15 12:37] #964 closed

[2022-10-15 12:37] #959 closed

[2022-10-15 12:40] garmeeh commented on #938
Thanks for the follow up info everyone. Always very helpful.

[2022-10-15 12:40] #938 closed

[2022-10-15 12:46] garmeeh commented on #927
Hey @tobiasorosa apologies about that. It was listed as a breaking change in the release notes: https://github.com/garmeeh/next-seo/releases/tag/v5.0.0

If needed you can add it back in via `additionalMetaTags`

[2022-10-15 12:46] #927 closed

[2022-10-15 12:56] garmeeh commented on #539
Duplicate #968

[2022-10-15 12:56] #539 closed

[2022-10-15 12:58] #995 closed

[2022-10-15 13:29] dkrefta commented on #998
@garmeeh exactly, was this problem, thanks very much (:

[2022-10-15 13:58] SeanDemps commented on #1004
I'll pick this up!

[2022-10-15 18:55] #1004 closed

[2022-10-16 12:59] SeanDemps commented on #988
picking this up if thats okay

[2022-10-17 10:25] GrzegorzDerdak commented on #934
Guys, for me it was another component, somewhere down the tree, in the same view, that was overriding the "description" with empty string `description=""` maybe that's your case too

[2022-10-17 12:42] ofilipowicz commented on #934
@GrzegorzDerdak Do you mean that you were able to "unset" a description for a single page when a default is used globally?

[2022-10-19 12:15] JefvanBentem opened #1035 "support positiveNotes and negativeNodes"
Currently, there is no support for Google products pros and cons (https://developers.google.com/search/docs/appearance/structured-data/product#pros-cons-example). I think this would be a great addition.

[2022-10-19 18:39] #983 closed

[2022-10-19 18:49] garmeeh commented on #988
Now available in v5.7.0

[2022-10-19 18:49] #988 closed

[2022-10-19 18:49] garmeeh commented on #1011
Now in v5.8.0

[2022-10-19 18:49] #1011 closed

[2022-10-20 08:06] aumi364 opened #1039 "BreadcrumbJsonLd does not accept additional props"
**Describe the bug**
BreadcrumbJson does not accept addiotional custom prop from schema, as other schema can accept additional extra props.

**Reproduction**
To produce you need to add custom prop in BreadcrumbJson Ld

**Expected behavior**
Accepted behavior is we should see the additional prop in the schema

**Additional context**
![image](https://user-images.githubusercontent.com/16230189/196892

[2022-10-20 14:19] SimonHausdorf opened #1040 "Multiple event JSON-LD render only one"
**Describe the bug**
A main event page which lists multiple events can have multiple event schemas. Currently when adding multiple `<EventJsonLd />` it will only render one in the head of the page.

**Reproduction**
Place multiple `<EventJsonLd />` on the same page

**Expected behavior**
Should render multiple schemas for the events

[2022-10-20 14:27] SimonHausdorf commented on #1040
Sorry, my mistake. It works without issues.

[2022-10-20 17:52] garmeeh commented on #1040
Hey @SimonHausdorf in general it is advised to only have a single JSON-LD per type.

For example on a search page of events you would generally not render the `EventJsonLd` for each one. You would instead render the `EventJsonLd` for the event detail page that you would click through.

However, if you really want to render multiple you can use `keyOverride`.

The reason only one is rendered is due

[2022-10-20 17:52] #1040 closed

[2022-10-20 18:03] SimonHausdorf commented on #1040
Thanks @garmeeh

I am not sure if it's correct to say that it's advised to have only 1 JSON-LD per type.
To achieve a google result like this you need to specify multiple JSON-LD per type.
<img width="643" alt="image" src="https://user-images.githubusercontent.com/1446685/197024123-67a82745-ab37-439b-80d1-52c54ec3ad58.png">

[2022-10-20 18:38] garmeeh commented on #1040
So they already have JSON-LD for the event on each event page, for example: https://bravenewcoin.com/events/dcom-future-summit-london has the same json-ld as it does on the list page.

So google has all the info it needs from that and there should be no need for the duplication.

It is the same principle as for products. Although the Carousel was introduced for listings of products.

With SEO it c

[2022-10-21 02:42] SimonHausdorf commented on #1040
I was reading about it again and tried to find some official guidelines. What I can say is that for our project it hat the same result as shown in the screenshot and multiple upcoming events were listed. As example we are listing only cryptocurrency related events so if someone is searching for "cryptocurrency events in city" our collection page should show up listing the last 3 upcoming events wh

[2022-10-21 07:19] garmeeh commented on #1040
@SimonHausdorf Would you mind sharing how you currently implement multiple events? (assuming you are using next-seo now with keyOverride)

Is it something like:

[code]

🤔 Maybe I should  update the core of the library support multiple on all of the JSON-LD's.

Something like:

[code]

which would output:

[code]

rather than multiple script tags.

`<EventJsonLd />` would still support just props

[2022-10-21 07:24] #957 closed

[2022-10-21 07:24] garmeeh commented on #957
Fixed.

[2022-10-21 11:31] SimonHausdorf commented on #1040
Exactly like that. Index key can indeed vary but the idea is the same.
I think that the suggested output makes sense.

[2022-10-21 22:05] danielmeeusen commented on #966
@heymartinadams sorry for the lack of follow up on this but thank you this solution did work for me ☺️

[2022-10-25 21:12] divinenaman commented on #1039
Hey @garmeeh can you assign me this issue ?

[2022-10-26 12:02] edoardolincetto commented on #902
Hi @garmeeh, I need this feature, is really useful when working with paywalled articles.
I can work on this! 🙋🏻‍♂️

[2022-10-26 12:35] 28development opened #1053 "Not possible to add HTML to the description props for JobPositions"
Currently, it is only possible to add a string to the description prop using the

`<JobPostingJsonLd`

schema. It should be possible to add HTML markup to that description as described here.

https://developers.google.com/search/docs/appearance/structured-data/job-posting

Currently, something like this does not work
[code]

[2022-10-26 18:31] garmeeh commented on #1053
You will need to add it as a string:

[code]

It will then render it for your escaped.

JSON-LD spec requires all entities to be escaped, I'm looking to double confirm with Google that they decode the html too.

[2022-10-26 18:31] #1053 closed

[2022-10-26 18:34] garmeeh commented on #1008
Hey @gpadbidri the goal of this library is for SEO. Not sure how an Order would fit into SEO as it is not something you would likely index on Google.

I loosely follow what Google recommends on their feature guide [here](https://developers.google.com/search/docs/appearance/structured-data/article)

[2022-10-26 18:34] #1008 closed

[2022-10-26 18:35] garmeeh commented on #985
Closing this for now. Please respond here with further comments.

[2022-10-26 18:35] #985 closed

[2022-10-26 18:37] #900 closed

[2022-10-26 21:02] miguelblcfigueira opened #1055 "ContactPoint has missing properties"
**Describe the bug**
The ContactPoint interface does not have properties specified in the [schema type](https://schema.org/ContactPoint) (in particular, the email property).

**Expected behavior**
ContactPoint interface should allow setting contact points with email and hours available.

[2022-10-27 08:44] rortan134 opened #1061 "Open Graph og:locale:alternate should also be added under languageAlternates"
One of the recommended metadata, according to the open graph documentation, is to include the property `og:locale:alternate`, [Reference](https://ogp.me/#optional)
[code]
Currently, you can only specify a single locale.
Although it is optional, I think it could be implemented in a way the user doesn't need to specify it, instead it'll be generated using the already existing `localeAlternates` and

[2022-10-27 18:46] #692 closed

[2022-10-27 18:49] #902 closed

[2022-10-27 20:04] #1039 closed

[2022-10-27 20:34] divinenaman commented on #1039
@garmeeh sorry for the late request but can you add hacktober label

[2022-10-27 20:44] garmeeh commented on #1039
Hey @divinenaman the label is on the pull request 😉

I think it takes a few days once merged to be "accepted" on the Hacktober site

[2022-10-30 12:29] #925 closed

[2022-11-03 11:17] ediblecode commented on #638
It looks like there's a `keyOverride` property you can now pass in to meta tags to override the `key` to tell React that they're different. See issue #666 and PR #672.

[2022-11-03 11:23] ediblecode opened #1079 "keyOverride prop rendering as an attribute on meta tags"
**Describe the bug**
There's a `keyOverride` property you can pass to meta tags to distinguish multiple tags with the same name (see #638). The tag object is spread as props over the `meta` element:

https://github.com/garmeeh/next-seo/blob/815e6361e900ad7d6c219a552f1456076d8bec13/src/meta/buildTags.tsx#L645-L650

This results in a rendered attribute of `keyoverride` on the resulting `meta` tag, w

[2022-11-04 19:31] #1079 closed

[2022-11-09 02:37] akash-mahmud opened #1087 "Seo article schema for news portal website."
I have used Seo schema package for on of my package and it is pretty good. My project is basically a news portal website. For my article details page, I want to use structured content or SEO schema. How can I achieve this functionality using next-seo?
Any suggestions will be appreciated.
Thanks in advance.

[2022-11-10 21:15] jordanlambrecht opened #1091 "Add support for OG Product Object"
As shown here: https://developers.facebook.com/docs/payments/product/

[2022-11-11 15:27] MixMe opened #1093 "ArticleJsonLd The author may be an organization"
https://developers.google.com/search/docs/appearance/structured-data/article

Author:
[Person](https://schema.org/Person) or [Organization](https://schema.org/Organization)

The author of the article. To help Google best understand authors across various features, we recommend following the [author markup best practices](https://developers.google.com/search/docs/appearance/structured-data/article#

[2022-11-11 15:35] dg10mcdos opened #1094 "Link previews are not working with nextJS 13"
**Describe the bug**
When sharing a link to our job app, we want the SEO to be relevant to that job. To do this, we hit a http firebase cloud function via fetch. our head looks like this:
[code]
with NEXT_SEO_DEFAULT being...
[code]
When using facebook share debugger, we get....
![image](https://user-images.githubusercontent.com/19717408/201372988-795c88b6-f5f8-4e12-98ca-045489df0350.png)

**Repro

[2022-11-11 16:36] dg10mcdos commented on #1094
this issue was fixed by changing the canonical url to the exact url, preventing sites from using the cached image

[2022-11-14 12:37] 1377sayaba opened #1097 "No items detected with Rich Results Test - Google Search Console"
I used the  FAQPageJsonLd and this working when i test with [shema.org](https://validator.schema.org/#url=https%3A%2F%2Fbamachoub.com%2Ffaq%2Fcat%2F12698374)
BUT
when i test with [Rich Results Test - Google Search Console](https://search.google.com/test/rich-results) ، the results of test is No items detected
[https://search.google.com/test/rich-results/result?id=TqwFlGVMJQ4n1AAU_P4tbA](https://se

[2022-11-16 20:29] BWBama85 opened #1103 "Tags are not changing when browsing the site with Next JS 13"
**Describe the bug**
I have just started using Next SEO so hopefully I haven't just missed something completely obvious.

I Next SEO setup the following way:

next-seo.config.ts

[code]

layout.tsx
[code]
head.tsx for root (homepage)
[code]

head.tsx for /resume
[code]

**Reproduction**
The site is live here and you can click around and see that the title tag and meta desc does not change.

https:

[2022-11-16 20:31] BWBama85 commented on #1103
I'm sorry, I missed the very first line in the app readme. Somehow...

[2022-11-16 20:31] #1103 closed

[2022-11-18 18:26] BWBama85 commented on #1103
This is fixed in Next 13.0.4 if you want to update the docs.

[2022-11-22 06:38] aumi364 opened #1106 "ArticleJson does not accept additional props"
Describe the bug
ArticleJson does not accept additional custom prop from schema, as other schema can accept additional extra props.

Reproduction
To produce you need to add custom prop in ArticleJson Ld

Expected behavior
Accepted behavior is we should see the additional prop in the schema

For reference
I think {...props} is missing here also like previously breadcrumb json's one.
![Screenshot_1]

[2022-11-23 09:21] ilyichv commented on #1093
With this PR it should be feasible #1105

[2022-11-23 10:20] joggienl commented on #1093
I was looking for this!

It would be nice to be able to add an organization as author instead of a person (as defined by the schema).

@ilyichv does that PR also do it for ArticleJsonLd (because it states `NewsArticleJsonLd`)?

[2022-11-23 11:51] joggienl commented on #1093
I see, nicely done!

Not sure if needed, I checkt the `setAuthor` method, there are in fact more files affected by that pr. I see usage in `qaPage`, `recipe`, `videoGame` and `carousel`. I assume that those need to be checked (and tested) as wel.

[2022-11-23 11:58] ilyichv commented on #1093
As you can see I'm defaulting the type to person if not provided
'@type': author?.type ?? 'Person'

This won't be a breaking change!

[2022-11-24 23:38] snelsi opened #1109 "[Docs] WebPageJsonLd docs link goes to the wrong page"
**Describe the bug**
In [ReadMe, WebPage JsonLd](https://github.com/garmeeh/next-seo#webpage) section, "Docs" link goes to [Brand](https://schema.org/Brand) documentation instead of [WebPage](https://schema.org/WebPage) documentation :
![image](https://user-images.githubusercontent.com/15171036/203874377-336ef0c4-b68b-44d6-ab3b-de7da232d204.png)

**Expected behavior**
It should go here instead:
ht

[2022-11-24 23:55] snelsi opened #1111 "Improve `WebPageJsonLdProps` types definition"
**Is your feature request related to a problem? Please describe.**
Right now `WebPageJsonLdProps` interface includes 3 props: `description`, `lastReviewed`, and `reviewedBy`.

But if you take a look in the [docs](https://schema.org/WebPage), it's actually can receive a ton of different props, like `url`, `headline`, `thumbnailurl`, `inLanguage`, `publisher`, etc...

Trying to use any of those vali

[2022-11-25 10:36] eric-allen-1112 opened #1113 "Works only on clientside?"
**Describe the bug**
Everything seems to be working fine, but if you look into the source code, you will find the tags are not generated into the source code.

**Reproduction**
    "next": "13.0.0",
    "next-seo": "5.14.1",

**Expected behavior**
The SEO tags should be generated on the server side.

[2022-11-28 02:39] nandenjin opened #1115 "EventJsonLd: `https://schema.org/undefined`"
**Describe the bug**

`eventStatus` and `eventAttendanceMode` of `<EventJsonLd>` will be rendered as `https://schema.org/undefined` if they are not set although they are not required parameters.

**Reproduction**

[code]

**Expected behavior**

The properties do not appear if they are not set.

[2022-11-28 03:00] nandenjin opened #1116 "Types `location` and `address` should accept simple `Text` type"
**Describe the bug**

The types [`location`](https://schema.org/location) and [`address`](https://schema.org/address) should accept both of `PostalAddress` (or some other structed types) and simple [`Text`](https://schema.org/Text) type. Currently `next-seo` breaks the value when it is `Text`.

**Reproduction**

Case A:

[code]

[code]

Case B:

[code]

[code]

**Expected behavior**

[code]

[code

[2022-11-29 13:38] modbender commented on #511
Go ahead please.

[2022-11-29 19:13] sharadrb opened #1118 "No worstRating under AggregateRating json ld"
**Describe the bug**
No worstRating under AggregateRating json ld

**Reproduction**
Based on ld json schema, AggregateRating should have worstRating which is missing next-seo

Schema:
https://schema.org/AggregateRating

Github for next-seo types missing worstRating
https://github.com/garmeeh/next-seo/blob/d96d58dc093d0cdf5f24e059e509ae6234b353cc/src/types.ts#L350

**Expected behavior**
worstRating